.dxGridView_gvCellError_AnritsuDevXTheme,
.dxGridView_gvCMClearFilter_AnritsuDevXTheme,
.dxGridView_gvCMClearGrouping_AnritsuDevXTheme,
.dxGridView_gvCMClearGroupingDisabled_AnritsuDevXTheme,
.dxGridView_gvCMDeleteRow_AnritsuDevXTheme,
.dxGridView_gvCMEditRow_AnritsuDevXTheme,
.dxGridView_gvCMFullCollapse_AnritsuDevXTheme,
.dxGridView_gvCMFullExpand_AnritsuDevXTheme,
.dxGridView_gvCMGroupByColumn_AnritsuDevXTheme,
.dxGridView_gvCMNewRow_AnritsuDevXTheme,
.dxGridView_gvCMRefresh_AnritsuDevXTheme,
.dxGridView_gvCMSearchPanel_AnritsuDevXTheme,
.dxGridView_gvCMShowCustomizationWindow_AnritsuDevXTheme,
.dxGridView_gvCMShowFilterEditor_AnritsuDevXTheme,
.dxGridView_gvCMShowGroupPanel_AnritsuDevXTheme,
.dxGridView_gvCMSortAscending_AnritsuDevXTheme,
.dxGridView_gvCMSortDescending_AnritsuDevXTheme,
.dxGridView_gvCMSummaryAverage_AnritsuDevXTheme,
.dxGridView_gvCMSummaryCount_AnritsuDevXTheme,
.dxGridView_gvCMSummaryMax_AnritsuDevXTheme,
.dxGridView_gvCMSummaryMin_AnritsuDevXTheme,
.dxGridView_gvCMSummarySum_AnritsuDevXTheme,
.dxGridView_gvCMUngroupColumn_AnritsuDevXTheme,
.dxGridView_gvCollapsedButton_AnritsuDevXTheme,
.dxGridView_gvCollapsedButtonRtl_AnritsuDevXTheme,
.dxGridView_gvDetailCollapsedButton_AnritsuDevXTheme,
.dxGridView_gvDetailCollapsedButtonRtl_AnritsuDevXTheme,
.dxGridView_gvDetailExpandedButton_AnritsuDevXTheme,
.dxGridView_gvDetailExpandedButtonRtl_AnritsuDevXTheme,
.dxGridView_gvDragAndDropArrowDown_AnritsuDevXTheme,
.dxGridView_gvDragAndDropArrowUp_AnritsuDevXTheme,
.dxGridView_gvDragAndDropHideColumn_AnritsuDevXTheme,
.dxGridView_gvExpandedButton_AnritsuDevXTheme,
.dxGridView_gvExpandedButtonRtl_AnritsuDevXTheme,
.dxGridView_gvFilterRowButton_AnritsuDevXTheme,
.dxGridView_gvFixedGroupRow_AnritsuDevXTheme,
.dxGridView_gvHeaderFilter_AnritsuDevXTheme,
.dxGridView_gvHeaderFilterActive_AnritsuDevXTheme,
.dxGridView_gvHeaderSortDown_AnritsuDevXTheme,
.dxGridView_gvHeaderSortUp_AnritsuDevXTheme,
.dxGridView_gvParentGroupRows_AnritsuDevXTheme,
.dxGridView_WindowResizer_AnritsuDevXTheme,
.dxGridView_WindowResizerRtl_AnritsuDevXTheme
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxGridView_gvCellError_AnritsuDevXTheme
{
    background-position: -32px -91px;
    width: 14px;
    height: 14px;
}
.dxGridView_gvCMClearFilter_AnritsuDevXTheme
{
    background-position: -34px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGrouping_AnritsuDevXTheme
{
    background-position: 0px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMClearGroupingDisabled_AnritsuDevXTheme
{
    background-position: -68px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMDeleteRow_AnritsuDevXTheme
{
    background-position: 0px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMEditRow_AnritsuDevXTheme
{
    background-position: -68px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullCollapse_AnritsuDevXTheme
{
    background-position: -51px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMFullExpand_AnritsuDevXTheme
{
    background-position: -68px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMGroupByColumn_AnritsuDevXTheme
{
    background-position: -42px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMNewRow_AnritsuDevXTheme
{
    background-position: -51px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMRefresh_AnritsuDevXTheme
{
    background-position: -34px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSearchPanel_AnritsuDevXTheme
{
    background-position: -59px 0px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowCustomizationWindow_AnritsuDevXTheme
{
    background-position: -34px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowFilterEditor_AnritsuDevXTheme
{
    background-position: -51px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMShowGroupPanel_AnritsuDevXTheme
{
    background-position: -17px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortAscending_AnritsuDevXTheme
{
    background-position: -17px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSortDescending_AnritsuDevXTheme
{
    background-position: 0px -23px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryAverage_AnritsuDevXTheme
{
    background-position: -51px -57px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryCount_AnritsuDevXTheme
{
    background-position: -34px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMax_AnritsuDevXTheme
{
    background-position: -17px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummaryMin_AnritsuDevXTheme
{
    background-position: -17px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMSummarySum_AnritsuDevXTheme
{
    background-position: 0px -74px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCMUngroupColumn_AnritsuDevXTheme
{
    background-position: -68px -40px;
    width: 16px;
    height: 16px;
}
.dxGridView_gvCollapsedButton_AnritsuDevXTheme
{
    background-position: -42px -107px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvCollapsedButtonRtl_AnritsuDevXTheme
{
    background-position: -28px -107px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButton_AnritsuDevXTheme
{
    background-position: -14px -121px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailCollapsedButtonRtl_AnritsuDevXTheme
{
    background-position: -14px -107px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButton_AnritsuDevXTheme
{
    background-position: -70px -107px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDetailExpandedButtonRtl_AnritsuDevXTheme
{
    background-position: -42px -121px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvDragAndDropArrowDown_AnritsuDevXTheme
{
    background-position: -68px -121px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropArrowUp_AnritsuDevXTheme
{
    background-position: -56px -121px;
    width: 11px;
    height: 9px;
}
.dxGridView_gvDragAndDropHideColumn_AnritsuDevXTheme
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxGridView_gvExpandedButton_AnritsuDevXTheme
{
    background-position: -28px -121px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvExpandedButtonRtl_AnritsuDevXTheme
{
    background-position: 0px -107px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFilterRowButton_AnritsuDevXTheme
{
    background-position: -56px -107px;
    width: 13px;
    height: 13px;
}
.dxGridView_gvFixedGroupRow_AnritsuDevXTheme
{
    background-position: -23px 0px;
    width: 18px;
    height: 18px;
}
.dxGridView_gvHeaderFilter_AnritsuDevXTheme
{
    background-position: 0px -91px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvHeaderFilterActive_AnritsuDevXTheme
{
    background-position: -16px -91px;
    width: 15px;
    height: 15px;
}
.dxGridView_gvHeaderSortDown_AnritsuDevXTheme
{
    background-position: -79px -17px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvHeaderSortUp_AnritsuDevXTheme
{
    background-position: -76px 0px;
    width: 7px;
    height: 5px;
}
.dxGridView_gvParentGroupRows_AnritsuDevXTheme
{
    background-position: -47px -91px;
    width: 18px;
    height: 13px;
}
.dxGridView_WindowResizer_AnritsuDevXTheme
{
    background-position: -66px -91px;
    width: 13px;
    height: 13px;
}
.dxGridView_WindowResizerRtl_AnritsuDevXTheme
{
    background-position: 0px -121px;
    width: 13px;
    height: 13px;
}

