.dxgvControl_AnritsuDevXTheme,
.dxgvDisabled_AnritsuDevXTheme
{
	border: 1px solid #9da0aa;
	font: 11px Verdana, Geneva, sans-serif;
	background-color: #f1f2f6;
	color: #201f35;
	cursor: default;
}
.dxgvDisabled_AnritsuDevXTheme
{
	color: #b1b1b8;
}
.dxgvControl_AnritsuDevXTheme a
{
	/*color: #000;*/
	text-decoration: none;
}
.dxgvControl_AnritsuDevXTheme a:hover
{
	text-decoration: underline;
color: #44bde9;
}
.dxgvDisabled_AnritsuDevXTheme a
{
	color: #b1b1b8;
}
/*Loading Panel*/

.dxgvEmptyDataRow_AnritsuDevXTheme.dxgvBELVR > td.dxgv,
.dxgvDataRow_AnritsuDevXTheme.dxgvBELVR > td.dxgv,
.dxgvGroupRow_AnritsuDevXTheme.dxgvBELVR > td.dxgv,
.dxgvSelectedRow_AnritsuDevXTheme.dxgvBELVR > td.dxgv,
.dxgvFocusedRow_AnritsuDevXTheme.dxgvBELVR > td.dxgv
{
    border-bottom-width: 0;
}

.dxgvRBB .dxgvEmptyDataRow_AnritsuDevXTheme.dxgvBELVR > td.dxgv,
.dxgvRBB .dxgvDataRow_AnritsuDevXTheme.dxgvBELVR > td.dxgv,
.dxgvRBB .dxgvGroupRow_AnritsuDevXTheme.dxgvBELVR > td.dxgv,
.dxgvRBB .dxgvSelectedRow_AnritsuDevXTheme.dxgvBELVR > td.dxgv,
.dxgvRBB .dxgvFocusedRow_AnritsuDevXTheme.dxgvBELVR > td.dxgv
{
    border-bottom-width: 1px !important;
}

.dxgvLoadingPanel_AnritsuDevXTheme
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #201f35;
	background-color: White;
	border: 1px solid #9da0aa;
}
.dxgvLoadingPanel_AnritsuDevXTheme td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 7px 10px;
}
.dxgvLoadingPanel_AnritsuDevXTheme .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}
.dxgvLoadingPanelStatusBar_AnritsuDevXTheme .dxlp-loadingImage 
{
	background-image: url('StatusBarLoading.gif');
	height: 15px;
	width: 15px;
}
.dxgvLoadingPanelStatusBar_AnritsuDevXTheme
{
	background-color: Transparent;
}
.dxgvLoadingPanelStatusBar_AnritsuDevXTheme td
{
	white-space: nowrap;
	text-align: center;
	padding: 0 2px;
}
.dxgvFilterPopupWindow_AnritsuDevXTheme
{
	color: #201f35;
	border: 1px solid #9da0aa;
}
.dxgvFilterPopupItemsArea_AnritsuDevXTheme
{
	color: #201f35;
	background-color: White;
}
.dxgvFilterPopupButtonPanel_AnritsuDevXTheme
{
	background-color: #ebecef;
	border-top: 1px solid #9da0aa;
	color: #201f35;
}

.dxgvFilterPopupItem_AnritsuDevXTheme td.dxgv,
.dxgvFilterPopupActiveItem_AnritsuDevXTheme td.dxgv,
.dxgvFilterPopupSelectedItem_AnritsuDevXTheme td.dxgv
{
	padding: 3px 2px 3px 3px;
	cursor: default;
	white-space: nowrap;
}
.dxgvFilterPopupActiveItem_AnritsuDevXTheme
{
	background: #e2eafd none;
	color: #201f35;
}
.dxgvFilterPopupSelectedItem_AnritsuDevXTheme
{
	background: #eff0f2 none;
	color: #201f35;
}

.dxgvTable_AnritsuDevXTheme
{
	background-color: White;
	border-width: 0;
	border-collapse: separate!important;
	overflow: hidden;
font-size: 14px;
font-family: "Segoe UI",Helvetica Neue,Helvetica,Arial,Meiryo,Hiragino Sans,Hiragino Kaku Gothic ProN,Microsoft JhengHei,Microsoft Yahei,Malgun Gothic,Gulim,sans-serif;
}
.dxgvTable_AnritsuDevXTheme .dxgvHEC
{
	background-color: White;
	border-width: 0;
	overflow: hidden;
}
.dxgvControl_AnritsuDevXTheme .dxgvFSDC
{
    background-color: #f9f9fc;
}
.dxgvControl_AnritsuDevXTheme .dxgvFSDC .dxgvFooter_AnritsuDevXTheme td.dxgv
{
    border-bottom: 0;
}
.dxgvControl_AnritsuDevXTheme .dxgvFGI
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.dxgvControl_AnritsuDevXTheme .dxgvFGI
{
    right: 5px;
    left: auto;
}
*[dir="rtl"].dxgvControl_AnritsuDevXTheme .dxgvFGI
{
    right: auto;
    left: 5px;
}
.dxgvInlineEditRow_AnritsuDevXTheme,
.dxgvDataRow_AnritsuDevXTheme
{
}
.dxgvInlineEditRow_AnritsuDevXTheme td.dxgv
{
	border-bottom: 1px solid #d9dae0;
	border-right: 1px solid #d9dae0;
}
.dxgvInlineEditRow_AnritsuDevXTheme td.dxgvIndentCell
{
	background: #f9f9fc none;
}
.dxgvInlineEditRow_AnritsuDevXTheme .dxgvCommandColumn_AnritsuDevXTheme
{
	background: #f9f9fc none;
}
.dxgvDataRowAlt_AnritsuDevXTheme
{
	background-color: #f7f4fd;
}
.dxgvFilterRow_AnritsuDevXTheme
{
	background-color: #ebecef;
}
.dxgvEditForm_AnritsuDevXTheme
{
	background-color: #f9f9fc;
}
.dxgvEditForm_AnritsuDevXTheme td.dxgv
{
	border-bottom: 1px solid #d9dae0;
	padding: 8px 10px 10px;
}
.dxgvEditForm_AnritsuDevXTheme td.dxgvIndentCell
{
	background: #f9f9fc none;
	border-right: 1px Solid #d9dae0;
	border-left: 1px Solid #d9dae0;
	border-top-width: 0px;
}
.dxgvSelectedRow_AnritsuDevXTheme
{
	background-color: #eff0f2;
	color: #201f35;
}
.dxgvFocusedRow_AnritsuDevXTheme
{
	/*background: #d9e4fd url('gvFocusedBack.png') repeat-x left top;*/
background: none;
	color: #201f35;
}
.dxgvSelectedRow_AnritsuDevXTheme .dxgvCommandColumn_AnritsuDevXTheme a,
.dxgvFocusedRow_AnritsuDevXTheme .dxgvCommandColumn_AnritsuDevXTheme a
{
	color: #1b3f91;
	text-decoration: none;
}
.dxgvSelectedRow_AnritsuDevXTheme .dxgvCommandColumn_AnritsuDevXTheme a:hover,
.dxgvFocusedRow_AnritsuDevXTheme .dxgvCommandColumn_AnritsuDevXTheme a:hover
{
	text-decoration: underline;
}

.dxgvPreviewRow_AnritsuDevXTheme
{
	background-color: #f7f7f8;
	color: #777777;
}
.dxgvDetailCell_AnritsuDevXTheme,
.dxgvPreviewRow_AnritsuDevXTheme td.dxgv,
.dxgvEmptyDataRow_AnritsuDevXTheme td.dxgv
{
	padding: 20px 2px 20px 4px;
	border-bottom: 1px solid #d9dae0;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.dxgvDetailCell_AnritsuDevXTheme
{
	border-bottom-color: #d9dae0;
}
.dxgvPreviewRow_AnritsuDevXTheme td.dxgv
{
	padding: 10px 10px 10px 15px;
}
.dxgvDetailCell_AnritsuDevXTheme
{
	padding: 16px 18px;
}
.dxgvDetailRow_AnritsuDevXTheme td.dxgvIndentCell
{
	padding-right: 0px;
	border-bottom: 1px solid #d9dae0;
}
.dxgvEmptyDataRow_AnritsuDevXTheme
{
	color: #777777;
}
.dxgvEmptyDataRow_AnritsuDevXTheme td.dxgv
{
	border-bottom: 1px solid #d9dae0;
	text-align: center;
}

.dxgvEditFormDisplayRow_AnritsuDevXTheme td.dxgv,
.dxgvDataRow_AnritsuDevXTheme td.dxgv,
.dxgvDataRowAlt_AnritsuDevXTheme td.dxgv,
.dxgvSelectedRow_AnritsuDevXTheme td.dxgv,
.dxgvFocusedRow_AnritsuDevXTheme td.dxgv
{
	overflow: hidden;
	border-bottom: 1px solid #d9dae0;
	border-right: 1px solid #d9dae0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 4px 6px;
}
.dxgvEditFormDisplayRow_AnritsuDevXTheme
{
}
.dxgvEditFormDisplayRow_AnritsuDevXTheme td.dxgv
{
}
.dxgvEditFormDisplayRow_AnritsuDevXTheme td.dxgvIndentCell
{
	background: #f9f9fc none;
	border-right: 1px Solid #d9dae0;
	border-left: 1px Solid #d9dae0;
	border-top-width: 0px;
}

.dxgvEditingErrorRow_AnritsuDevXTheme
{
	background-color: #ebecef;
	color: #ba1717;
}
.dxgvEditingErrorRow_AnritsuDevXTheme td.dxgv
{
	white-space: pre-wrap;
	border-bottom: 1px solid #d9dae0;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 6px 10px;
}

.dxgvFilterRow_AnritsuDevXTheme td.dxgv
{
	border-bottom: 1px solid #abacb9;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 2px 3px 2px 2px;
	overflow: hidden;
}
.dxgvGroupRow_AnritsuDevXTheme
{
	background-color: #f9f9fc;
}
.dxgvFocusedGroupRow_AnritsuDevXTheme
{
	background: #d9e4fd url('gvFocusedBack.png') repeat-x left top;
	color: #201f35;
}
.dxgvGroupRow_AnritsuDevXTheme td.dxgv,
.dxgvFocusedGroupRow_AnritsuDevXTheme td.dxgv
{
	border: 0 none;
	vertical-align: middle;
	white-space: nowrap;
	border-bottom: 1px solid #d9dae0;
	padding: 4px 6px;
    background-color: inherit;
}
.dxgvFocusedRow_AnritsuDevXTheme td.dxgvIndentCell,
.dxgvFocusedGroupRow_AnritsuDevXTheme td.dxgvIndentCell,
.dxgvSelectedRow_AnritsuDevXTheme td.dxgvIndentCell
{
	background: #f9f9fc!important;
	border-right: 1px solid #d9dae0;
	border-left: 1px solid #d9dae0;
	border-top-width: 0px;
}
.dxgvHeaderPanel_AnritsuDevXTheme
{
	background-color: #ebecef;
	color: #201f35;
	padding: 8px 6px;
	border-bottom: 1px solid #abacb9;
}

.dxgvMSDraggable .dxgvHeader_AnritsuDevXTheme,
.dxgvMSDraggable.dxgvGroupPanel_AnritsuDevXTheme
{
    -ms-touch-action: pinch-zoom;
}
.dxgvHeader_AnritsuDevXTheme
{
	cursor: pointer;
	white-space: nowrap;
	padding: 5px 6px;
	border: 1px solid #cacbd3;
	background: #f2f3f4 url('gvHeaderBack.png') repeat-x left top;
	overflow: hidden;
	font-weight: normal;
	text-align: left;
}
.dxgvHeader_AnritsuDevXTheme,
.dxgvHeader_AnritsuDevXTheme table
{
	color: #201f35;
}
.dxgvHeader_AnritsuDevXTheme td
{
	white-space: nowrap;
}
.dxgvHeader_AnritsuDevXTheme a
{
	color: #1b3f91;
	text-decoration: underline;
}
.dxgvHeader_AnritsuDevXTheme a.dxgvCommandColumnItem_AnritsuDevXTheme
{
	margin: 0px 3px 0px 0px;
	color: #1b3f91;
	text-decoration: none;
}
.dxgvHeader_AnritsuDevXTheme a.dxgvCommandColumnItem_AnritsuDevXTheme:hover
{
	text-decoration: underline;
}
.dxgvCustomization_AnritsuDevXTheme,
.dxgvPopupEditForm_AnritsuDevXTheme
{
	padding: 0;
	margin: 0;
}
.dxgvPopupEditForm_AnritsuDevXTheme .dxgvEditingErrorRow_AnritsuDevXTheme .dxgv
{
	border-bottom-width: 0;
}
.dxgvGroupPanel_AnritsuDevXTheme
{
	color: #201f35;
	background: #ebecef url('gvGroupPanelBack.png') no-repeat right top;
	border-bottom: 1px solid #cacbd3;
	padding: 7px 6px;
	white-space: nowrap;
}
.dxgvFooter_AnritsuDevXTheme
{
	background-color: #f9f9fc;
	white-space: nowrap;
}
.dxgvFooter_AnritsuDevXTheme td.dxgv
{
	padding: 6px;
	border-bottom: 1px solid #d9dae0;
	border-right-width: 0;
}
.dxgvGroupFooter_AnritsuDevXTheme
{
	background-color: #f9f9fc;
}
.dxgvGroupFooter_AnritsuDevXTheme td.dxgv
{
	padding: 6px;
	border-bottom: 1px solid #d9dae0;
	border-right-width: 0;
	white-space: nowrap;
}
.dxgvDataRow_AnritsuDevXTheme td.dxgvIndentCell,
.dxgvGroupRow_AnritsuDevXTheme td.dxgvIndentCell,
.dxgvGroupFooter_AnritsuDevXTheme td.dxgvIndentCell
{
	background-color: #f9f9fc;
	border-right: 1px solid #d9dae0;
	border-left: 1px solid #d9dae0;
	border-top-width: 0px;
}

.dxgvTitlePanel_AnritsuDevXTheme,
.dxgvTable_AnritsuDevXTheme caption
{
	font-weight: normal;
	padding: 3px 3px 5px;
	text-align: center;
	background: #f2f3f4 url('gvTitleBack.png') repeat-x left top;
	color: #201f35;
	border-bottom: 1px solid #9da0aa;
}
.dxgvLoadingDiv_AnritsuDevXTheme
{
	background-color: Gray;
	opacity: 0.01;
	filter: alpha(opacity=1);
}
.dxgvStatusBar_AnritsuDevXTheme
{
	background: #f9f9fc none;
	border-top: 1px solid #cacbd3;
}
.dxgvStatusBar_AnritsuDevXTheme tr.dxgv
{
	height: 20px;
}
.dxgvStatusBar_AnritsuDevXTheme tr.dxgv > td
{
	padding: 4px;
}
.dxgvCommandColumn_AnritsuDevXTheme
{
	padding: 2px;
}
.dxgvCommandColumn_AnritsuDevXTheme a
{
	margin: 0px 3px 0px 0px;
	color: #1b3f91;
	text-decoration: none;
}
.dxgvCommandColumn_AnritsuDevXTheme a:hover
{
	text-decoration: underline;
}

.dxgvCommandColumnItem_AnritsuDevXTheme
{
}
.dxbButton_AnritsuDevXTheme[class~="dxgvCommandColumnItem_AnritsuDevXTheme"]
{
	margin: -2px 2px;
}
.dxbButton_AnritsuDevXTheme[class~="dxgvCommandColumnItem_AnritsuDevXTheme"] .dxb
{
	margin: -2px 2px;
}
.dxgvEditFormTable_AnritsuDevXTheme
{
	padding: 2px 6px 6px 4px;
	color: #201f35;
}
.dxgvEditFormTable_AnritsuDevXTheme div.dxbButton_AnritsuDevXTheme
{
    margin: 0px 2px;
}
.dxgvEditFormTable_AnritsuDevXTheme a
{
	color: #1b3f91;
	text-decoration: none;
}
.dxgvEditFormTable_AnritsuDevXTheme a:hover
{
	text-decoration: underline;
}

.dxgvEditFormCaption_AnritsuDevXTheme
{
	padding: 4px 4px 4px 10px;
	white-space: nowrap;
}

.dxgvInlineEditCell_AnritsuDevXTheme
{
	padding: 1px;
}

.dxgvEditFormCell_AnritsuDevXTheme
{
	padding: 4px;
	border-width: 0;
}

.dxgvPagerTopPanel_AnritsuDevXTheme,
.dxgvPagerBottomPanel_AnritsuDevXTheme
{
	background: #d1d2d5;
}
.dxgvDetailButton_AnritsuDevXTheme
{
}

.dxgvFilterBar_AnritsuDevXTheme
{
	border-top: 1px solid #cacbd3;
	background: #f9f9fc none;
}
.dxgvFilterBar_AnritsuDevXTheme a
{
	color: #1b3f91;
	text-decoration: underline;
}
.dxgvFilterBarCheckBoxCell_AnritsuDevXTheme
{
	padding: 0 7px 0 3px;
}
.dxgvFilterBarImageCell_AnritsuDevXTheme
{
	padding: 0 1px 0 3px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_AnritsuDevXTheme
{
	padding: 5px 5px 8px 0;
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_AnritsuDevXTheme
{
	padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea_AnritsuDevXTheme
{
	background: white none;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_AnritsuDevXTheme
{
	background: #ebecef none;
	border-top: 1px solid #abacb9;
	padding: 6px;
	white-space: nowrap;
}

.dxgvDataRowHover_AnritsuDevXTheme
{
	background: #e2eafd none;
	color: #201f35;
}


.dxgvControl_AnritsuDevXTheme .dxpLite_AnritsuDevXTheme,
.dxgvDisabled_AnritsuDevXTheme .dxpLite_AnritsuDevXTheme
{
	padding-top: 4px;
}

.dxgvControl_AnritsuDevXTheme .dxgvHFSAC
{
    padding: 6px 0 0 5px;
}
.dxgvControl_AnritsuDevXTheme .dxgvHFSC
{
    padding: 6px 0 5px;
}
.dxgvControl_AnritsuDevXTheme .dxgvHFSC div
{
    height: 1px;
    background: #9DA0AA;
}
.dxgvControl_AnritsuDevXTheme div[id$='DXEPLPC']
{
    height: 47px;
}

/* Removes flicking in iOS Safari*/
.dxgvTable_AnritsuDevXTheme
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dxgvControl_AnritsuDevXTheme td.dxgvBatchEditCell_AnritsuDevXTheme
{
    padding: 0;
}
.dxgvControl_AnritsuDevXTheme td.dxgvBatchEditModifiedCell_AnritsuDevXTheme
{
    background: #d7f9c7;
}
.dxgvControl_AnritsuDevXTheme .dxgvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxgvControl_AnritsuDevXTheme .dxgvErrorCell img
{
    margin: -2px 0;
}
.dxgvStatusBar_AnritsuDevXTheme .dxgvCommandColumn_AnritsuDevXTheme a
{
    margin-right: 10px;
}
.dxgvControl_AnritsuDevXTheme td.dxgvBatchEditCell_AnritsuDevXTheme .dxichCellSys
{
    padding-left: 0;
}

.dxgvSearchPanel_AnritsuDevXTheme
{
    background: #ebecef;
    border-bottom: 1px solid #cacbd3;
    padding: 7px 6px;
}
.dxgvSearchPanel_AnritsuDevXTheme > table 
{
    width: 70%;
    max-width: 450px;
}
.dxgvControl_AnritsuDevXTheme .dxgvSearchPanel_AnritsuDevXTheme .dxbButton_AnritsuDevXTheme
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxgvControl_AnritsuDevXTheme .dxgvSearchPanel_AnritsuDevXTheme .dxbButton_AnritsuDevXTheme {
    margin-left: 0;
    margin-right: 7px;
}
.dxgvControl_AnritsuDevXTheme .dxgvHL
{
    background: #ffd83a;
	color: #201f35;
	font-weight: bold;
	font-style: normal;
}

/* TODO remove (replace to command button style) */
.dxgvControl_AnritsuDevXTheme .dxgvSearchPanel_AnritsuDevXTheme .dxbButton_AnritsuDevXTheme
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxgvControl_AnritsuDevXTheme .dxgvSearchPanel_AnritsuDevXTheme .dxbButton_AnritsuDevXTheme .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
