﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HtmlCtrl.ascx.cs" Inherits="Anritsu.Connect.Web.App_Features.HtmlContent.HtmlCtrl" EnableViewState="false" %>
<anrui:FeaturePanel ID="featureContainer" runat="server" EnableViewState="false">
<asp:Literal ID="ltrHtml" runat="server" EnableViewState="false"></asp:Literal>
</anrui:FeaturePanel>