.dxWeb_xrdvRibbonIcon_BtnDocumentMap_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnDocumentMapDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLargeDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnFirstPage_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnFirstPageDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnFirstPageLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnFirstPageLargeDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnLastPage_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnLastPageDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnLastPageLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnLastPageLargeDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnNextPage_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnNextPageDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnNextPageLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnNextPageLargeDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnParameters_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnParametersDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnParametersLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnParametersLargeDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnPrevPage_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnPrevPageDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnPrevPageLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnPrevPageLargeDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnPrint_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnPrintDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnPrintLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnPrintLargeDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnPrintPage_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnPrintPageDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnPrintPageLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnPrintPageLargeDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnSave_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnSaveDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnSaveLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnSaveLargeDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnSaveWindow_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnSaveWindowDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLargeDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnSearch_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnSearchDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnSearchLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_BtnSearchLargeDisabled_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToCsv_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToCsvLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToHtml_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToHtmlLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToImg_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToImgLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToMht_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToMhtLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToPdf_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToPdfLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToRtf_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToRtfLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToTxt_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToTxtLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToXls_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToXlsLarge_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToXlsx_AnritsuDevXTheme,
.dxWeb_xrdvRibbonIcon_ExportToXlsxLarge_AnritsuDevXTheme
{
    background-image: url('DocumentViewerSprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMap_AnritsuDevXTheme
{
    background-position: -231px -99px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMapDisabled_AnritsuDevXTheme
{
    background-position: -221px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLarge_AnritsuDevXTheme
{
    background-position: -132px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnDocumentMapLargeDisabled_AnritsuDevXTheme
{
    background-position: -198px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPage_AnritsuDevXTheme
{
    background-position: -34px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPageDisabled_AnritsuDevXTheme
{
    background-position: -85px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPageLarge_AnritsuDevXTheme
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnFirstPageLargeDisabled_AnritsuDevXTheme
{
    background-position: -99px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPage_AnritsuDevXTheme
{
    background-position: -68px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPageDisabled_AnritsuDevXTheme
{
    background-position: -187px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPageLarge_AnritsuDevXTheme
{
    background-position: -66px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnLastPageLargeDisabled_AnritsuDevXTheme
{
    background-position: -132px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPage_AnritsuDevXTheme
{
    background-position: -102px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPageDisabled_AnritsuDevXTheme
{
    background-position: -102px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPageLarge_AnritsuDevXTheme
{
    background-position: -99px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnNextPageLargeDisabled_AnritsuDevXTheme
{
    background-position: -66px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnParameters_AnritsuDevXTheme
{
    background-position: -221px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnParametersDisabled_AnritsuDevXTheme
{
    background-position: 0px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnParametersLarge_AnritsuDevXTheme
{
    background-position: -165px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnParametersLargeDisabled_AnritsuDevXTheme
{
    background-position: -231px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPage_AnritsuDevXTheme
{
    background-position: -68px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPageDisabled_AnritsuDevXTheme
{
    background-position: 0px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPageLarge_AnritsuDevXTheme
{
    background-position: 0px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrevPageLargeDisabled_AnritsuDevXTheme
{
    background-position: 0px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrint_AnritsuDevXTheme
{
    background-position: -170px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintDisabled_AnritsuDevXTheme
{
    background-position: -51px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintLarge_AnritsuDevXTheme
{
    background-position: -198px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintLargeDisabled_AnritsuDevXTheme
{
    background-position: -99px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPage_AnritsuDevXTheme
{
    background-position: -204px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPageDisabled_AnritsuDevXTheme
{
    background-position: -51px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPageLarge_AnritsuDevXTheme
{
    background-position: -33px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnPrintPageLargeDisabled_AnritsuDevXTheme
{
    background-position: -66px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSave_AnritsuDevXTheme
{
    background-position: -153px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveDisabled_AnritsuDevXTheme
{
    background-position: -204px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveLarge_AnritsuDevXTheme
{
    background-position: -231px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveLargeDisabled_AnritsuDevXTheme
{
    background-position: -165px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindow_AnritsuDevXTheme
{
    background-position: -34px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindowDisabled_AnritsuDevXTheme
{
    background-position: -248px -99px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLarge_AnritsuDevXTheme
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSaveWindowLargeDisabled_AnritsuDevXTheme
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSearch_AnritsuDevXTheme
{
    background-position: -119px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSearchDisabled_AnritsuDevXTheme
{
    background-position: -119px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_BtnSearchLarge_AnritsuDevXTheme
{
    background-position: -132px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_BtnSearchLargeDisabled_AnritsuDevXTheme
{
    background-position: -198px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToCsv_AnritsuDevXTheme
{
    background-position: -17px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToCsvLarge_AnritsuDevXTheme
{
    background-position: -132px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToHtml_AnritsuDevXTheme
{
    background-position: -85px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToHtmlLarge_AnritsuDevXTheme
{
    background-position: -165px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToImg_AnritsuDevXTheme
{
    background-position: -187px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToImgLarge_AnritsuDevXTheme
{
    background-position: -99px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToMht_AnritsuDevXTheme
{
    background-position: -136px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToMhtLarge_AnritsuDevXTheme
{
    background-position: -33px -66px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToPdf_AnritsuDevXTheme
{
    background-position: -170px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToPdfLarge_AnritsuDevXTheme
{
    background-position: -165px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToRtf_AnritsuDevXTheme
{
    background-position: -153px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToRtfLarge_AnritsuDevXTheme
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToTxt_AnritsuDevXTheme
{
    background-position: -136px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToTxtLarge_AnritsuDevXTheme
{
    background-position: -198px -99px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToXls_AnritsuDevXTheme
{
    background-position: -238px -132px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToXlsLarge_AnritsuDevXTheme
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxWeb_xrdvRibbonIcon_ExportToXlsx_AnritsuDevXTheme
{
    background-position: -17px -149px;
    width: 16px;
    height: 16px;
}
.dxWeb_xrdvRibbonIcon_ExportToXlsxLarge_AnritsuDevXTheme
{
    background-position: -231px -66px;
    width: 32px;
    height: 32px;
}

