.dxXtraReports_BtnFirstPage_AnritsuDevXTheme,
.dxXtraReports_BtnFirstPageDisabled_AnritsuDevXTheme,
.dxXtraReports_BtnLastPage_AnritsuDevXTheme,
.dxXtraReports_BtnLastPageDisabled_AnritsuDevXTheme,
.dxXtraReports_BtnNextPage_AnritsuDevXTheme,
.dxXtraReports_BtnNextPageDisabled_AnritsuDevXTheme,
.dxXtraReports_BtnPrevPage_AnritsuDevXTheme,
.dxXtraReports_BtnPrevPageDisabled_AnritsuDevXTheme,
.dxXtraReports_BtnPrint_AnritsuDevXTheme,
.dxXtraReports_BtnPrintDisabled_AnritsuDevXTheme,
.dxXtraReports_BtnPrintPage_AnritsuDevXTheme,
.dxXtraReports_BtnPrintPageDisabled_AnritsuDevXTheme,
.dxXtraReports_BtnSave_AnritsuDevXTheme,
.dxXtraReports_BtnSaveDisabled_AnritsuDevXTheme,
.dxXtraReports_BtnSaveWindow_AnritsuDevXTheme,
.dxXtraReports_BtnSaveWindowDisabled_AnritsuDevXTheme,
.dxXtraReports_BtnSearch_AnritsuDevXTheme,
.dxXtraReports_BtnSearchDisabled_AnritsuDevXTheme,
.dxXtraReports_PageBorder_blc_AnritsuDevXTheme,
.dxXtraReports_PageBorder_brc_AnritsuDevXTheme,
.dxXtraReports_PageBorder_tlc_AnritsuDevXTheme,
.dxXtraReports_PageBorder_trc_AnritsuDevXTheme
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxXtraReports_BtnFirstPage_AnritsuDevXTheme
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnFirstPageDisabled_AnritsuDevXTheme
{
    background-position: 0px -289px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPage_AnritsuDevXTheme
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnLastPageDisabled_AnritsuDevXTheme
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPage_AnritsuDevXTheme
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnNextPageDisabled_AnritsuDevXTheme
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPage_AnritsuDevXTheme
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrevPageDisabled_AnritsuDevXTheme
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrint_AnritsuDevXTheme
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintDisabled_AnritsuDevXTheme
{
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPage_AnritsuDevXTheme
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnPrintPageDisabled_AnritsuDevXTheme
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSave_AnritsuDevXTheme
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveDisabled_AnritsuDevXTheme
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindow_AnritsuDevXTheme
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSaveWindowDisabled_AnritsuDevXTheme
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearch_AnritsuDevXTheme
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_BtnSearchDisabled_AnritsuDevXTheme
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxXtraReports_PageBorder_blc_AnritsuDevXTheme
{
    background-position: 0px -306px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_brc_AnritsuDevXTheme
{
    background-position: 0px -317px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_tlc_AnritsuDevXTheme
{
    background-position: 0px -328px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_trc_AnritsuDevXTheme
{
    background-position: 0px -339px;
    width: 10px;
    height: 10px;
}
.dxXtraReports_PageBorder_t_AnritsuDevXTheme,
.dxXtraReports_PageBorder_l_AnritsuDevXTheme,
.dxXtraReports_PageBorder_r_AnritsuDevXTheme,
.dxXtraReports_PageBorder_b_AnritsuDevXTheme {
    padding: 0px;
    background-color: transparent;
}

.dxXtraReports_PageBorder_t_AnritsuDevXTheme {
    background-image: url('pageTopBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

.dxXtraReports_PageBorder_l_AnritsuDevXTheme {
    background-image: url('pageLeftBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_r_AnritsuDevXTheme {
    background-image: url('pageRightBorder.png');
    background-repeat: repeat-y;
    width: 10px;
    height: 1px;
}

.dxXtraReports_PageBorder_b_AnritsuDevXTheme {
    background-image: url('pageBottomBorder.png');
    background-repeat: repeat-x;
    width: 1px;
    height: 10px;
}

