.dxssControl_AnritsuDevXTheme 
{
	border-style: solid;
	border-width: 1px;
	border-color: #9da0aa;
	font: 11px Verdana, Geneva, sans-serif;
}
.dxssControl_AnritsuDevXTheme .dxrControl_AnritsuDevXTheme .dxr-tabContent 
{
	border-left-style: none;
	border-right-style: none;
}
.dxssControl_AnritsuDevXTheme .dxss-gl .dxss-v,
.dxssControl_AnritsuDevXTheme .dxss-gl .dxss-h 
{
	border-color: #d9dae0;
}
.dxssControl_AnritsuDevXTheme .dxss-rowHeader 
{	
	border-right: 1px solid #d9dae0;
	border-top: 1px solid #d9dae0;
}
.dxssControl_AnritsuDevXTheme .dxss-colHeader 
{
	border-bottom: 1px solid #d9dae0;
	border-left: 1px solid #d9dae0;
}
.dxssControl_AnritsuDevXTheme .dxss-crse 
{
	background-color: #A1BCFC; 
}
.dxssControl_AnritsuDevXTheme .dxss-trbe 
{
	border-top-color: #a6a9b2;
}
.dxssControl_AnritsuDevXTheme .dxss-rrbe 
{
	border-right-color: #a6a9b2;
}
.dxssControl_AnritsuDevXTheme .dxss-brbe 
{
	border-bottom-color: #a6a9b2;
}
.dxssControl_AnritsuDevXTheme .dxss-lrbe 
{
	border-left-color: #a6a9b2;
}
.dxssControl_AnritsuDevXTheme .dxrControl_AnritsuDevXTheme .dxtcLite_AnritsuDevXTheme.dxtc-top .dxtc-leftIndent
{
	width: 3px;
}
.dxssControl_AnritsuDevXTheme .dxrControl_AnritsuDevXTheme .dxtcLite_AnritsuDevXTheme
{
	padding-bottom: 0px;
}
.dxssControl_AnritsuDevXTheme .dxtcLite_AnritsuDevXTheme,
.dxssControl_AnritsuDevXTheme .dxrControl_AnritsuDevXTheme .dxtcLite_AnritsuDevXTheme
{
	background: #f1f2f6 url('RibbonBack.png') no-repeat right top;
}
.dxssControl_AnritsuDevXTheme .dxss-hrg,
.dxssControl_AnritsuDevXTheme .dxss-vrg 
{
	background-color: #a6a9b2;
}
.dxssControl_AnritsuDevXTheme .dxtcLite_AnritsuDevXTheme.dxtc-bottom .dxtc-stripContainer
{
	padding: 0! important;
}
.dxssControl_AnritsuDevXTheme .dxtcLite_AnritsuDevXTheme .dxtc-stripContainer .dxtc-leftIndent
{
	width: 0;
}
.dxssControl_AnritsuDevXTheme .dxtcLite_AnritsuDevXTheme.dxtc-bottom .dxtc-stripContainer .dxtc-tab,
.dxssControl_AnritsuDevXTheme .dxtcLite_AnritsuDevXTheme.dxtc-bottom .dxtc-stripContainer .dxtc-activeTab
{
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
}
.dxssControl_AnritsuDevXTheme .dxtcLite_AnritsuDevXTheme.dxtc-bottom .dxtc-stripContainer .dxtc-link
{
    padding: 4px 35px 5px 34px;
}
.dxssControl_AnritsuDevXTheme .dxtcLite_AnritsuDevXTheme.dxtc-bottom .dxtc-stripContainer .dxtc-spacer 
{
	width: 0px;
}
.dxssControl_AnritsuDevXTheme .dxrControl_AnritsuDevXTheme .dxr-minBtn 
{
	padding-right: 7px;
}
.dxssControl_AnritsuDevXTheme .dxss-tse 
{
	border-color: #a6a9b2;
}
.dxssControl_AnritsuDevXTheme .dxss-tre
{
	background: url('TouchResize.png');
}
/* Loading panel */
.dxssLoadingDiv_AnritsuDevXTheme
{
    background: White;
    opacity: 0.85 !important;
    filter: alpha(opacity=85);
}
.dxssLoadingPanel_AnritsuDevXTheme
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #201f35;
	background-color: White;
	border: 1px solid #9da0aa;
}
.dxssLoadingPanel_AnritsuDevXTheme td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 7px 10px;
}
.dxssLoadingPanel_AnritsuDevXTheme .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}
/* --------------Dialogs----------------- */
.dxpcLite_AnritsuDevXTheme .dxssDlgFooter
{
	background-color: #ebecef;
	border-top: 1px #a8aab4 solid;
}
.dxpcLite_AnritsuDevXTheme .dxssDlgInsertImageForm .dxssDlgImagePreviewCell
{
    color: #737373;
    border: dashed 1px #cac8c8;
}
.dxssControl_AnritsuDevXTheme .dxrpControl_AnritsuDevXTheme .dxrpcontent
{
	padding: 11px !important;
}

.dxssModifyChartStyleContenPanel .dxbButtonHover_AnritsuDevXTheme
{
	color: #201f35;
	background: #dde6fe url('../Editors/edtBtnHBack.png') repeat-x left top;
	border: 1px solid #a9acb5;
}
.dxssModifyChartStyleContenPanel .dxbButtonChecked_AnritsuDevXTheme
{
	color: #3c3c3c;
	background: #dbdde2 url('../Editors/edtBtnPBack.png') repeat-x left top;
	border: 1px solid #9da0aa;
}
.dxssModifyChartStyleContenPanel .dxbButtonPressed_AnritsuDevXTheme
{
	color: #3c3c3c;
	background: #dbdde2 url('../Editors/edtBtnPBack.png') repeat-x left top;
	border: 1px solid #9da0aa;
}
