﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteAdmin/Reports/US/ReportUS.master" AutoEventWireup="true" CodeBehind="RegByMN.aspx.cs" Inherits="Anritsu.Connect.Web.SiteAdmin.Reports.US.RegByMN" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphReportUSHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphReportUSPageTitle" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphReportUSTopList" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphReportUSLeft1" runat="server">
</asp:Content>
<%--<asp:Content ID="Content5" ContentPlaceHolderID="cphReportUSContentTop" runat="server">
  
</asp:Content>--%>
<asp:Content ID="Content6" ContentPlaceHolderID="cphReportUSContentBottom" runat="server">
      <div class="settingrow">
        <iframe frameborder="0" width='100%' height='700' src='https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=743878000036639310&STANDALONE=true&ZDB_THEME_NAME=blue&DATATYPESYMBOL=true&REMTOOLBAR=false&SEARCHBOX=true&SHOWHIDEOPT=true'></iframe>
    </div>
</asp:Content>
