﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPageSiteDefault.master.cs"
    Inherits="Anritsu.SsoSaml.Idp.Web.App_MasterPages.MasterPageSiteDefault" %>

<%@ Register Src="~/App_Controls/UcHeader.ascx" TagName="UcHeader" TagPrefix="uc1" %>
<%@ Register Src="~/App_Controls/UcSiteMainMenu.ascx" TagName="UcSiteMainMenu" TagPrefix="uc2" %>
<%@ Register Src="~/App_Controls/UcBreadCrumb.ascx" TagName="UcBreadCrumb" TagPrefix="uc3" %>
<%@ Register Src="~/App_Controls/UcFooter.ascx" TagName="UcFooter" TagPrefix="uc4" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>
        <anrui:PageTitlePanel ID="ptBrowserTitle" runat="server" AppendAnritsu="true" PageTitleType="BrowserTitle" />
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="msapplication-config" content="none" />

    <asp:PlaceHolder runat="server">
        <script type="text/javascript" src="<%= CDNPath %>/appfiles/js/jquery.min.js"></script>
        <script type="text/javascript" src="<%= CDNPath %>/appfiles/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="<%= CDNPath %>/appfiles/js/select.js"></script>
        <link rel="shortcut icon" href="<%= CDNPath %>/appfiles/img/icons/favicon.ico" />
        <link href="<%= CDNPath %>/appfiles/img/icon/icons.css" rel="stylesheet" />
        <link href="<%= CDNPath %>/appfiles/css/style.css" rel="stylesheet" />
        <link href="<%= CDNPath %>/appfiles/css/non-cms-styles.css" rel="stylesheet" />
        <link href="<%= CDNPath %>/appfiles/magnific-popup/magnific-popup.css" rel="stylesheet" />
        <link rel="stylesheet" href="<%=CDNPath %>/appfiles/css/non-cms-header-design.css?v=20200519"/>
        <link type="text/css" rel="stylesheet" href="<%=CDNPath %>/appfiles/css/sso-login.css?v=20200519"/>
    </asp:PlaceHolder>
    </asp:PlaceHolder>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        input[type='password'] {
            font-family: Arial;
        }
    </style>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-M6V4SVH');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6V4SVH"
            height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="skipnav"><a href="#maincontent">Skip to main content </a></div>
    <div class="out-container">

        <uc1:UcHeader ID="UcHeader1" runat="server" />
        <form id="form1" runat="server" autocomplete="off">
            <div id="pagebody">
                <div class="sso-main-container">
                    <div id="maincontent" class="page-height">

                        <uc2:UcSiteMainMenu ID="UcSiteMainMenu1" runat="server" />
                        <div class="header3">
                        </div>
                        <uc3:UcBreadCrumb ID="UcBreadCrumb1" runat="server" />
                        <div id="Div1" class="contentsarea container">
                            <div class="pagetitle">
                                <div class="pagetitleleft">
                                    <h1>
                                        <anrui:PageTitlePanel ID="pt" runat="server" AppendAnritsu="false" PageTitleType="GreenPageTitle" />
                                        <asp:ContentPlaceHolder ID="cphPageTitle" runat="server">
                                        </asp:ContentPlaceHolder>
                                    </h1>
                                </div>
                                <div class="pagetitleright">
                                    &nbsp;
                                </div>
                                <div class="toprightlinks">
                                    <ul>
                                        <asp:ContentPlaceHolder ID="cphTopList" runat="server">
                                        </asp:ContentPlaceHolder>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfloat">
                            </div>
                            <div class="leftside">
                                <asp:ContentPlaceHolder ID="cphLeft1" runat="server">
                                </asp:ContentPlaceHolder>
                            </div>
                            <div class="rightside">
                                <div class="settingrow" style="margin-top: -10px;">
                                    <asp:ContentPlaceHolder ID="cphContentTop" runat="server">
                                    </asp:ContentPlaceHolder>
                                     <asp:ContentPlaceHolder ID="cphContentTopWithBanner" runat="server">
                                    </asp:ContentPlaceHolder>
                                    <asp:ContentPlaceHolder ID="cphContentCenterLeft" runat="server">
                                    </asp:ContentPlaceHolder>
                                    <asp:ContentPlaceHolder ID="cphContentCenterRight" runat="server">
                                    </asp:ContentPlaceHolder>
                                </div>
                                <div class="settingrow">
                                    <asp:ContentPlaceHolder ID="cphContentBottom" runat="server">
                                    </asp:ContentPlaceHolder>
                                </div>
                                <div class="settingrow">
                                    &nbsp;
                                </div>
                            </div>
                        </div>


                    </div>
                    <uc4:UcFooter ID="UcFooter1" runat="server" />
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="<%= CDNPath %>/appfiles/js/jquery.transit.js"></script>
    <script type="text/javascript" src="<%= CDNPath %>/appfiles/js/jquery.autocomplete.min.js"></script>
    <script type="text/javascript" src="<%= CDNPath %>/appfiles/js/app.js"></script>
    <script src="<%= CDNPath %>/appfiles/js/page.js" type="text/javascript"></script>
    <script src="<%= CDNPath %>/appfiles/js/slick.min.js" type="text/javascript"></script>
    <script src="<%= CDNPath %>/appfiles/js/jquery.pjax.js" type="text/javascript"></script>
   <script type="text/javascript" src="<%= CDNPath %>/appfiles/js/form-validation.js?v=20190327"></script>
    <script type="text/javascript" src="<%= CDNPath %>/appfiles/js/password-rules.js"></script>
    <script type="text/javascript" src="<%= CDNPath %>/appfiles/js/custom-tooltip.js"></script>
    <script type="text/javascript" src="<%= CDNPath %>/appfiles/js/validate-password.js?v=20170825"></script>


   
    <script type="text/javascript" defer="defer">
        (function () {
            function getScript(url, success) {
                var script = document.createElement('script');
                script.src = url;
                var head = document.getElementsByTagName('head')[0], done = false;
                script.onload = script.onreadystatechange = function () {
                    if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {
                        done = true;
                        success();
                        script.onload = script.onreadystatechange = null;
                        head.removeChild(script);
                    }
                };
                head.appendChild(script);
            }
            getScript('//images.cdn-anritsu.com/apps/sso/js/common-v1.js', function () {
            });
        })();
    </script>
   
</body>
</html>
