﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="SpSample.LoginAtIdp.Web.Secured.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<h1>WebForm1 (login required)</h1>
<p>
    <asp:Literal ID="ltrUserInfo" runat="server"></asp:Literal>
</p>
</asp:Content>
