﻿<%@ Page Title="" Language="C#" MasterPageFile="~/App_MasterPages/SiteDefault.Master" AutoEventWireup="true" CodeBehind="RegisterCompany.aspx.cs" Inherits="Anritsu.Connect.Web.MyAccount.RegisterCompany" %>
<%@ Register src="../App_Features/DynamicForm/DynamicFormStaticCtrl.ascx" tagname="DynamicFormStaticCtrl" tagprefix="uc1" %>
<%@ Register src="../App_Controls/CompanyProfileWzCtrl.ascx" tagname="CompanyProfileWzCtrl" tagprefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphPageTitle" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphLeft_Top" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphContentTop" runat="server">

    <uc2:CompanyProfileWzCtrl ID="CompanyProfileWzCtrl1" runat="server" />

</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="cphContentCenterLeft" runat="server">
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="cphContentCenterRight" runat="server">
</asp:Content>
<asp:Content ID="Content7" ContentPlaceHolderID="cphContentBottom" runat="server">
</asp:Content>
