﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteAdmin/Reports/JP/ReportJP.master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="Anritsu.Connect.Web.SiteAdmin.Reports.JP.Home" %>
<asp:Content ID="Content9" ContentPlaceHolderID="cphReportJPHead" runat="server">
</asp:Content>
<asp:Content ID="Content10" ContentPlaceHolderID="cphReportJPPageTitle" runat="server">
</asp:Content>
<asp:Content ID="Content11" ContentPlaceHolderID="cphReportJPTopList" runat="server">
</asp:Content>
<asp:Content ID="Content12" ContentPlaceHolderID="cphReportJPLeft1" runat="server">
</asp:Content>
<asp:Content ID="Content14" ContentPlaceHolderID="cphReportJPContentBottom" runat="server">
    <div class="settingrow">
<iframe frameborder='0' width='100%' height='500' src='https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=743878000088267178&STANDALONE=true&ZDB_THEME_NAME=grey&INTERVAL=-1&DATATYPESYMBOL=false&REMTOOLBAR=false&SEARCHBOX=true&SHOWHIDEOPT=true'></iframe>
</div>
<div class="settingrow" style="padding-top: 20px;">&nbsp;</div>
</asp:Content>
