﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteAdmin/Reports/JP/ReportJP.master" AutoEventWireup="true" CodeBehind="JpDlAccessLogs.aspx.cs" Inherits="Anritsu.Connect.Web.SiteAdmin.Reports.JP.JpDlAccessLogs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphReportJPHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphReportJPPageTitle" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphReportJPTopList" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphReportJPLeft1" runat="server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="cphReportJPContentTop" runat="server">
<iframe frameborder=0 width='100%' height='1200' src='https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=743878000003424002&STANDALONE=true&WIDTH=775&HEIGHT=1200&ZDB_THEME_NAME=blue&DATATYPESYMBOL=false&REMTOOLBAR=false&SEARCHBOX=true&SHOWHIDEOPT=true'></iframe>
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="cphReportJPContentBottom" runat="server">
</asp:Content>
