﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteAdmin/Reports/JP/ReportJP.master" AutoEventWireup="true" CodeBehind="JpDlAccessLogChart.aspx.cs" Inherits="Anritsu.Connect.Web.SiteAdmin.Reports.JP.JpDlAccessLogChart" %>
<asp:Content ID="Content9" ContentPlaceHolderID="cphReportJPHead" runat="server">
</asp:Content>
<asp:Content ID="Content10" ContentPlaceHolderID="cphReportJPPageTitle" runat="server">
</asp:Content>
<asp:Content ID="Content11" ContentPlaceHolderID="cphReportJPTopList" runat="server">
</asp:Content>
<asp:Content ID="Content12" ContentPlaceHolderID="cphReportJPLeft1" runat="server">
</asp:Content>
<asp:Content ID="Content13" ContentPlaceHolderID="cphReportJPContentTop" runat="server">
<iframe frameborder=0 width='100%' height='600' src='https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=743878000003434055&STANDALONE=true&privatelink=b959866b01af39a58d5cc649fdab6e3e&WIDTH=750&HEIGHT=600&ZDB_THEME_NAME=blue&REMTOOLBAR=false&INCLUDETITLE=true&INCLUDEDESC=true'></iframe>
</asp:Content>
<asp:Content ID="Content14" ContentPlaceHolderID="cphReportJPContentBottom" runat="server">
</asp:Content>
