﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteAdmin/Reports/JP/ReportJP.master" AutoEventWireup="true" CodeBehind="jpdownloadadminaccesslog.aspx.cs" Inherits="Anritsu.Connect.Web.SiteAdmin.Reports.JP.JpDownloadAdmiAccesslog" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphReportJPHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphReportJPPageTitle" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphReportJPTopList" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphReportJPLeft1" runat="server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="cphReportJPContentBottom" runat="server">
     <div class="settingrow">
        <iframe frameborder='0' width='100%' height='500' src='https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=743878000238758177&STANDALONE=true&ZDB_THEME_NAME=grey&INTERVAL=-1&DATATYPESYMBOL=true&REMTOOLBAR=false&SEARCHBOX=true&SHOWHIDEOPT=true
'></iframe>
    </div>
</asp:Content>
