﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteAdmin/Reports/JP/ReportJP.master" AutoEventWireup="true" CodeBehind="OrgTBR.aspx.cs" Inherits="Anritsu.Connect.Web.SiteAdmin.Reports.JP.OrgTBR" %>
<asp:Content ID="Content9" ContentPlaceHolderID="cphReportJPHead" runat="server">
</asp:Content>
<asp:Content ID="Content10" ContentPlaceHolderID="cphReportJPPageTitle" runat="server">
</asp:Content>
<asp:Content ID="Content11" ContentPlaceHolderID="cphReportJPTopList" runat="server">
</asp:Content>
<asp:Content ID="Content12" ContentPlaceHolderID="cphReportJPLeft1" runat="server">
</asp:Content>
<asp:Content ID="Content13" ContentPlaceHolderID="cphReportJPContentTop" runat="server">
<iframe id="ifZoho" src="https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=743878000003424008&STANDALONE=true&ZDB_THEME_NAME=blue&DATATYPESYMBOL=false&REMTOOLBAR=false&SEARCHBOX=true&SHOWHIDEOPT=true" frameborder="0" width="100%" style="min-height: 600px;"></iframe>
</asp:Content>
<asp:Content ID="Content14" ContentPlaceHolderID="cphReportJPContentBottom" runat="server">
</asp:Content>
