﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteAdmin/Reports/JP/ReportJP.master" AutoEventWireup="true" CodeBehind="RegTBR.aspx.cs" Inherits="Anritsu.Connect.Web.SiteAdmin.Reports.JP.RegTBR" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphReportJPHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphReportJPPageTitle" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphReportJPTopList" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphReportJPLeft1" runat="server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="cphReportJPContentTop" runat="server">
<div class="settingrow">
<iframe frameborder=0 width='100%' height='1000' src='https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=743878000003437007&STANDALONE=true&WIDTH=760&HEIGHT=1000&ZDB_THEME_NAME=blue&DATATYPESYMBOL=true&REMTOOLBAR=false&SEARCHBOX=true&SHOWHIDEOPT=true'></iframe>
</div>
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="cphReportJPContentBottom" runat="server">
</asp:Content>
