﻿<%@ Master Language="C#" MasterPageFile="~/App_MasterPages/SiteDefault.Master" AutoEventWireup="true" CodeBehind="ReportJP.master.cs" Inherits="Anritsu.Connect.Web.SiteAdmin.Reports.JP.ReportJP" %>
<%@ Register src="~/App_Controls/AdminRPT_MenuJPCtrl.ascx" tagname="AdminRPT_MenuJPCtrl" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <asp:ContentPlaceHolder ID="cphReportJPHead" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphPageTitle" runat="server">
    <asp:ContentPlaceHolder ID="cphReportJPPageTitle" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphTopList" runat="server">
    <asp:ContentPlaceHolder ID="cphReportJPTopList" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphLeft_Top" runat="server">
   
<asp:ContentPlaceHolder ID="cphReportJPLeft1" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="cphContentTop" runat="server">
    <asp:ContentPlaceHolder ID="cphReportJPContentTop" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="cphContentCenterLeft" runat="server">
</asp:Content>
<asp:Content ID="Content7" ContentPlaceHolderID="cphContentCenterRight" runat="server">
     <uc1:AdminRPT_MenuJPCtrl ID="AdminRPT_MenuJPCtrl1" runat="server" />
</asp:Content>
<asp:Content ID="Content8" ContentPlaceHolderID="cphContentBottom" runat="server">
    <asp:ContentPlaceHolder ID="cphReportJPContentBottom" runat="server"></asp:ContentPlaceHolder>    
</asp:Content>
