﻿<%@ Page Title="" Language="C#" MasterPageFile="~/App_MasterPages/SiteDefault.Master"
    AutoEventWireup="true" CodeBehind="RegProduct-Select.aspx.cs" Inherits="Anritsu.Connect.Web.MyProduct.RegProduct_Select" %>
<%@ Register Src="~/App_Controls/EndUser_Registration/SelectModelForRegCtrl.ascx" TagPrefix="uc1" TagName="SelectModelForRegCtrl" %>
<%@ Register Src="~/App_Controls/EndUser_Registration/ProdReg_InProgressListCtrl.ascx" TagName="ProdReg_InProgressListCtrl" TagPrefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
   
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphPageTitle" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphLeft_Top" runat="server"></asp:Content>
<asp:Content ID="Content8" ContentPlaceHolderID="cphLeft_Middle" runat="server"></asp:Content>
<asp:Content ID="Content9" ContentPlaceHolderID="cphLeft_Bottom" runat="server"></asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphContentTop" runat="server">
    <div class="settingrow">
        <uc1:SelectModelForRegCtrl runat="server" ID="SelectModelForRegCtrl1" />
    </div>
    <div class="settingrow">
        <uc2:ProdReg_InProgressListCtrl ID="ProdReg_InProgressListCtrl1" runat="server" />
    </div>
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="cphContentCenterLeft" runat="server">
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="cphContentCenterRight" runat="server">
</asp:Content>
<asp:Content ID="Content7" ContentPlaceHolderID="cphContentBottom" runat="server">
</asp:Content>
