﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FrmInput_Literal.ascx.cs" Inherits="Anritsu.Connect.Web.App_Features.DynamicForm.FormControls.FrmInput_Literal" %>
<div class="dfrm-row">
<p class='dfrm-label'><asp:Literal ID="ltrText" runat="server" Text='<%# DisplayText %>'></asp:Literal></p>
</div>
