/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_AnritsuDevXTheme
{
    background: White;
    opacity: 0.85 !important;
    filter: alpha(opacity=85);
}
.dxheLoadingPanel_AnritsuDevXTheme
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #201f35;
	background-color: White;
	border: 1px solid #9da0aa;
}
.dxheLoadingPanel_AnritsuDevXTheme td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 7px 10px;
}
.dxheLoadingPanel_AnritsuDevXTheme .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}

.dxheControl_AnritsuDevXTheme
{
    border: 1px solid #9da0aa;
    font: 11px Verdana, Geneva, sans-serif;
}

/* Area */
.dxheContentArea_AnritsuDevXTheme
{
    padding: 0;
    background-color: #ebecef;
}
.dxheErrorFrame_AnritsuDevXTheme
{
    font: 11px Verdana, Geneva, sans-serif;
    color: #D00707;
    background-color: #fbc7c7;
    border-bottom: solid 1px #dec0c0;
}
.dxheErrorFrame_AnritsuDevXTheme .dxhe {
    padding: 5px;
}
.dxheErrorFrame_AnritsuDevXTheme .dxhe td {
    padding: 0px;
}
.dxheErrorFrame_AnritsuDevXTheme .dxheErrorFrameCloseButton_AnritsuDevXTheme {
    cursor: pointer;
}
.dxheControl_AnritsuDevXTheme .dxheViewArea_AnritsuDevXTheme
{
    border-width: 0;
}
.dxheContentArea_AnritsuDevXTheme td.dxheViewArea_AnritsuDevXTheme {
    line-height: 0;
}

.dxheControl_AnritsuDevXTheme .dxheHtmlViewArea_AnritsuDevXTheme,
.dxheDesignViewArea_AnritsuDevXTheme,
.dxhePreviewArea_AnritsuDevXTheme
{
    margin: 0px;
    background-color: White;
    background-image: none;
    font-size: smaller;
    font: 12px Arial, Helvetica, sans-serif;
}
.dxheContentArea_AnritsuDevXTheme .dxeMemo_AnritsuDevXTheme td, 
body.dxheDesignViewArea_AnritsuDevXTheme, 
body.dxhePreviewArea_AnritsuDevXTheme
{
    padding: 4px 4px 0 4px;
}
.dxheControl_AnritsuDevXTheme .dxheContentArea_AnritsuDevXTheme .dxeMemo_AnritsuDevXTheme td
{
    padding-top: 0;
    padding-right: 0;
}
.dxheContentArea_AnritsuDevXTheme .dxeMemoEditArea_AnritsuDevXTheme
{
    padding-left: 0;
    padding-right: 0;
}
.dxheControl_AnritsuDevXTheme.dxhe-rtl .dxheContentArea_AnritsuDevXTheme .dxeMemo_AnritsuDevXTheme td
{
	padding: 0 4px 0 1px;
}
.dxWebKitFamily .dxheControl_AnritsuDevXTheme.dxhe-rtl .dxheContentArea_AnritsuDevXTheme .dxeMemo_AnritsuDevXTheme td
{
	padding: 0 0 0 4px;
}
.dxheControl_AnritsuDevXTheme .dxeMemo_AnritsuDevXTheme textarea 
{
	resize:none;
}
.dxheControl_AnritsuDevXTheme input.dxeEditArea_AnritsuDevXTheme
{
    padding-bottom: 0px;
    margin-top: -1px;
}
.dxheControl_AnritsuDevXTheme td.dxheDesignViewArea_AnritsuDevXTheme .dxm-main.dxmtb 
{
    border: 1px solid #9da0aa;
}
.dxheControl_AnritsuDevXTheme td.dxheDesignViewArea_AnritsuDevXTheme
{
    position: relative;
}
td.dxheDesignViewArea_AnritsuDevXTheme .dxmLite_AnritsuDevXTheme {
    position: absolute;
    right: 0;
    padding-top: 5px;
    padding-right: 22px;
}
td.dxheDesignViewArea_AnritsuDevXTheme .dxmLite_AnritsuDevXTheme.dxm-rtl {
    right: inherit;
    padding-right: 0px;
    padding-left: 5px;
}
.dxheViewArea_AnritsuDevXTheme .dxheAudio
{
	background-image: url('dxheAudio.png');
}
.dxheViewArea_AnritsuDevXTheme .dxheFlash
{
	background-image: url('dxheFlash.png');
}
.dxheViewArea_AnritsuDevXTheme .dxheVideo
{
	background-image: url('dxheVideo.png');
}
.dxheViewArea_AnritsuDevXTheme .dxheYoutube
{
	background-image: url('dxheYoutube.png');
}
.dxheViewArea_AnritsuDevXTheme img.dxheNotSupported
{
	background-image: url('dxheNotSupported.png');
}
.dxheViewArea_AnritsuDevXTheme img.dxheAudio,
.dxheViewArea_AnritsuDevXTheme img.dxheFlash,
.dxheViewArea_AnritsuDevXTheme img.dxheVideo,
.dxheViewArea_AnritsuDevXTheme img.dxheYoutube,
.dxheViewArea_AnritsuDevXTheme img.dxheNotSupported
{
    background-repeat: no-repeat;
    background-position: center;
    background-color: #cfcfcf;
    border: 1px dotted #FFFFFF;
    opacity: 0.8;
}
/* Element appearance in DesignView */
body.dxheDesignViewArea_AnritsuDevXTheme table.dxEmptyBorderTable,
body.dxheDesignViewArea_AnritsuDevXTheme table.dxEmptyBorderTable td
{
    border: 1px dotted Gray;
}
@media print
{
	body.dxheDesignViewArea_AnritsuDevXTheme table.dxEmptyBorderTable,
	body.dxheDesignViewArea_AnritsuDevXTheme table.dxEmptyBorderTable td
	{
		border:0px;
	}
}
body.dxheDesignViewArea_AnritsuDevXTheme
{
    word-wrap: inherit;
}
body.dxheDesignViewArea_AnritsuDevXTheme pre
{
    word-wrap: break-word;
    white-space: pre-wrap;
}

/* Status Bar */
.dxheStatusBar_AnritsuDevXTheme
{
}
.dxheStatusBar_AnritsuDevXTheme .dxheStatusBarTab_AnritsuDevXTheme
{
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
}
.dxheControl_AnritsuDevXTheme.dxhe-rtl .dxheStatusBar_AnritsuDevXTheme .dxheStatusBarTab_AnritsuDevXTheme
{
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-right-width: 0 !important;
}
.dxheControl_AnritsuDevXTheme .dxheStatusBar_AnritsuDevXTheme .dxheStatusBarTab_AnritsuDevXTheme .dxtc-link
{
    padding: 4px 35px 5px 34px;
}
.dxheStatusBarActiveTab_AnritsuDevXTheme
{
}
.dxHtmlEditor_heSizeGrip_AnritsuDevXTheme
{
    cursor: se-resize;
}
.dxHtmlEditor_heSizeGripRtl_AnritsuDevXTheme
{
    cursor: ne-resize;
}
.dxheSizeGripContainer_AnritsuDevXTheme
{
    width: 100%;
    text-align: right;
    font-size: 0;
    margin-top: -13px;
}
.dxheControl_AnritsuDevXTheme.dxhe-rtl .dxheSizeGripContainer_AnritsuDevXTheme
{
	text-align: left;
}
.dxheStatusBar_AnritsuDevXTheme .dxtc-bottom .dxtc-tab
{
    background: #f1f2f6 url('SBTabBack.png') repeat-x left top;
}
.dxheStatusBar_AnritsuDevXTheme .dxtc-bottom .dxtc-tabHover
{
    background: #f7f9fe url('SBTabHoverBack.png') repeat-x left top;
}
.dxheStatusBar_AnritsuDevXTheme .dxtc-rightIndent
{
    background: #f1f2f6 url('SBTabBack.png') repeat-x left top;
}

/* ----------------- Dialog Forms ----------------- */
.dxpcLite_AnritsuDevXTheme .dxheDlgFooter,
.dxpcLite_AnritsuDevXTheme .dxheCustomDialog_AnritsuDevXTheme .dxhecd-Buttons
{
    background-color: #ebecef;
    border-top: 1px solid #abacb9;
	padding: 10px 11px;
	text-align: right;
}
.dxpcLite_AnritsuDevXTheme.dxRtl .dxheDlgFooter,
.dxpcLite_AnritsuDevXTheme.dxRtl .dxheCustomDialog_AnritsuDevXTheme .dxhecd-Buttons
{
    text-align: left;
}
.dxpcLite_AnritsuDevXTheme .dxheDlgFooterBtn
{
    width: 80px;
    margin-left: 8px;
}
.dxpcLite_AnritsuDevXTheme.dxRtl .dxheDlgFooterBtn
{
    margin-right: 8px;
    margin-left: 0;
}
.dxpcLite_AnritsuDevXTheme .dxheDlgInsertImageForm .dxheDlgImagePreviewCell
{
    color: #737373;
    border: 1px dashed #cac8c8;
}
.dxpcLite_AnritsuDevXTheme .dxheDlgPasteFromWordForm .dxheDlgPasteContainerCell td
{
	border: 1px solid #9da0aa;
}

/*----------------- Toolbars -----------------*/
.dxtbSpacing_AnritsuDevXTheme
{
	height: 1px;
}
.dxtbControl_AnritsuDevXTheme
{
    color: #201f35;
    background: #f1f2f6 url('ToolbarBack.png') no-repeat right top;
    width: 100%;
    border-bottom: 1px solid #9da0aa;
}
.dxheControl_AnritsuDevXTheme.dxhe-rtl .dxtbControl_AnritsuDevXTheme 
{
	background: #f1f2f6 url('ToolbarBackRtl.png') no-repeat left top;
}
.dxtbControl_AnritsuDevXTheme td.dxmMenu_AnritsuDevXTheme
{
	border: 0;
}
.dxtbComboBoxMenuItem_AnritsuDevXTheme
{
    padding: 2px 2px 1px;
}
.dxheControl_AnritsuDevXTheme .dxrControl_AnritsuDevXTheme
{
    background: #f1f2f6 url('ToolbarBack.png') no-repeat right top;
}
.dxheControl_AnritsuDevXTheme .dxrControl_AnritsuDevXTheme .dxtcLite_AnritsuDevXTheme .dxtc-stripContainer .dxtc-spacer,
.dxheControl_AnritsuDevXTheme .dxrControl_AnritsuDevXTheme .dxtcLite_AnritsuDevXTheme.dxtc-top .dxtc-leftIndent
{
    width: 3px;
}
.dxheControl_AnritsuDevXTheme .dxrControl_AnritsuDevXTheme .dxr-tabContent
{
    border-width: 0 0 1px 0;
}
.dxheControl_AnritsuDevXTheme .dxrControl_AnritsuDevXTheme .dxr-minBtn
{
    padding-right: 8px;
}
.dxheControl_AnritsuDevXTheme .dxtbControl_AnritsuDevXTheme.dxtbr_AnritsuDevXTheme,
.dxheControl_AnritsuDevXTheme .dxrControl_AnritsuDevXTheme .dxpc-mainDiv.dxr-minPopup
{
    border: 0;
}

/* Toolbars Lightweight Mode */
.dxtbControl_AnritsuDevXTheme .dxmLite_AnritsuDevXTheme .dxm-main
{
    border-width: 0;
}
.dxmLite_AnritsuDevXTheme .dxhetipControl_AnritsuDevXTheme img
{
	vertical-align: top;
}

/* ToolbarColorButton */
.dxtcbControl_AnritsuDevXTheme
{
    margin-top: -1px;
}
.dxtcbColorDiv_AnritsuDevXTheme
{
	width: 16px;
	height: 3px;
	font-size: 0;
	background-color: Transparent;
    margin-top: -3px;
}

/*----------------- RoundPanel -----------------*/
.dxheRP.dxrpControl_AnritsuDevXTheme .dxrpcontent
{
    padding: 11px !important;
}

.dxtcLite_AnritsuDevXTheme.dxhe-dialogSettings
{
    width: 270px;
}

.dxhe-insertYouTubeVideoDialog .dxtcLite_AnritsuDevXTheme.dxhe-dialogSettings,
.dxhe-insertVideoDialog .dxtcLite_AnritsuDevXTheme.dxhe-dialogSettings,
.dxhe-insertAudioDialog .dxtcLite_AnritsuDevXTheme.dxhe-dialogSettings 
{
    width: 300px;
}

