﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CustomLinkTabsCtrl.ascx.cs" Inherits="Anritsu.Connect.Web.App_Controls.Admin_CustomLink.CustomLinkTabsCtrl" %>
<dx:ASPxTabControl ID="dxCustomLinkAdminTabs" runat="server" Theme="AnritsuDevXTheme" Width="760px" EnableTabScrolling="true"></dx:ASPxTabControl>
