﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CustomLinkNameCtrl.ascx.cs" Inherits="Anritsu.Connect.Web.App_Controls.Admin_CustomLink.CustomLinkNameCtrl" %>
<asp:Literal ID="ltrCustomLinkName" runat="server" Text="Add New Custom Link"></asp:Literal>