﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="USBAdmin_TabsCtrl.ascx.cs" Inherits="Anritsu.Connect.Web.App_Controls.Admin_JPUSB.USBAdmin_TabsCtrl" %>
<dx:ASPxTabControl ID="dxUSBAdmin_JPUSBTabs" runat="server" Theme="AnritsuDevXTheme" Width="100%"></dx:ASPxTabControl>
