﻿.captcha{width:450px;max-width:450px}
.captcha img{padding:0;border-style:solid;border-width:1px;width:100%;border-color:Gray; margin: 10px 0}
.captcha label{padding:10px;font-weight:700}
.captcha input[type=text]{height:30px;font-size:20px;font-weight:bolder;border-style:solid;border-width:1px;border-color:Gray;text-align:center; width: 85px;}
.captcha #captchaDesc{padding:5px;padding-bottom:1px;width:400px;text-align:left;line-height:1.2em}
.captcha .captchaErr{display:normal!important}
.updateProgress{border-width:1px;border-style:solid;border-color:#086F6F;background-color:#FFF;filter:alpha(opacity=90);opacity:.9;position:absolute;padding:10px;height:50px;top:300px;left:400px;z-index:100001;text-align:center}
.updateProgress img{margin:0 0 5px 2px;display:block}
html>body .updateProgress img{margin-left:auto;margin-right:auto;display:block}
.updateProgressbackground{background-color:#fff;filter:alpha(opacity=50);opacity:.5;position:absolute;left:0;top:0;z-index:10000;width:995px;height:100%}
.captchawithbtns{text-align:right}
.captchawithbtns .captcha div{float:right}
.captchawithbtns .captcha{float:right}
.captcha .captchaErr span{padding:5px;text-align:left;white-space:nowrap;height:20px!Important}
.recoverpwdguide{padding-top:10px;color:#000}
.recoverpwdguide ul{}.recoverpwdguide ul li{margin-left:20px;padding:10px 5px 0}
.box{margin:0 auto;width:100%}