﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteAdmin/Reports/TAU/ReportTAU.master" AutoEventWireup="true" CodeBehind="clientlog.aspx.cs" Inherits="Anritsu.Connect.Web.SiteAdmin.Reports.TAU.clientlog" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphReportTAUHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphReportTAUPageTitle" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphReportTAUTopList" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphReportTAULeft1" runat="server">
</asp:Content>
<%--<asp:Content ID="Content5" ContentPlaceHolderID="cphReportTAUContentTop" runat="server">
  
</asp:Content>--%>
<asp:Content ID="Content6" ContentPlaceHolderID="cphReportTAUContentBottom" runat="server">
       <div class="settingrow">
        <iframe frameborder='0' width='100%' height='500' src='https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=743878000326504529&STANDALONE=true&ZDB_THEME_NAME=grey&INTERVAL=-1&DATATYPESYMBOL=true&REMTOOLBAR=false&SEARCHBOX=true&SHOWHIDEOPT=true'></iframe>
    </div>
</asp:Content>
