﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteAdmin/Reports/TAU/ReportTAU.master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="Anritsu.Connect.Web.SiteAdmin.Reports.TAU.Home" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphReportTAUHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphReportTAUPageTitle" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphReportTAUTopList" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphReportTAULeft1" runat="server">
</asp:Content>
<%--<asp:Content ID="Content5" ContentPlaceHolderID="cphReportTAUContentTop" runat="server">
   
</asp:Content>--%>
<asp:Content ID="Content6" ContentPlaceHolderID="cphReportTAUContentBottom" runat="server">
      <div class="settingrow">
        <iframe frameborder='0' width='100%' height='650' src='https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=743878000038561019&STANDALONE=true&ZDB_THEME_NAME=grey&REMTOOLBAR=true'></iframe>
    </div>
</asp:Content>
