﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProdReg_Tabs.ascx.cs" Inherits="Anritsu.Connect.Web.App_Controls.Admin_ProdReg.ProdReg_Tabs" %>
<dx:ASPxTabControl ID="dxPregDetailTabs" runat="server" Theme="AnritsuDevXTheme" Width="100%" TabAlign="Left" EnableTabScrolling="true">
</dx:ASPxTabControl>