﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DistSIS_ProductInfo_PageTitleCtrl.ascx.cs" Inherits="Anritsu.Connect.Web.App_Controls.EndUser_DistributorSupport.DistSIS_ProductInfo_PageTitleCtrl" %>
<asp:Literal ID="ltrPIDProductInfoPageTitle" runat="server"></asp:Literal>