﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DistSIS_ProductInfoTabsCtrl.ascx.cs" Inherits="Anritsu.Connect.Web.App_Controls.EndUser_DistributorSupport.DistSIS_ProductInfoTabsCtrl" %>
<dx:ASPxTabControl ID="dxTabDistProdInfoTabs" runat="server" Theme="AnritsuDevXTheme" Width="100%" TabAlign="Left">
    <Paddings PaddingBottom="0" />
</dx:ASPxTabControl>