﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DistSIS_ProdInfo_DescCtrl.ascx.cs" Inherits="Anritsu.Connect.Web.App_Controls.EndUser_DistributorSupport.DistSIS_ProdInfo_DescCtrl" %>
<div class="settingrow" style="color: black; padding: 30px 30px 10px 20px;"><asp:Literal ID="ltrDesc" runat="server"></asp:Literal></div>
<div class="settingrow" style="color: black; padding: 0px 30px 10px 20px;"><asp:Literal ID="ltrSpec" runat="server"></asp:Literal></div>