﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SupportTypes_Ctrl_JP.ascx.cs" EnableViewState="true" Inherits="Anritsu.Connect.Web.App_Controls.Admin_SupportTypes.SupportTypes_Ctrl_JP" %>
<div class="settingrow"> 
      <asp:PlaceHolder runat="server" ID="phEditControls" OnDataBinding="phEditControls_DataBinding"></asp:PlaceHolder>
    </div>