﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UcStateControl.ascx.cs" 
 EnableViewState="true" Inherits="Anritsu.SsoSaml.Idp.Web.App_Controls.StateControl" %>

            <asp:DropDownList ID="cmbState" runat="server" >
            </asp:DropDownList>
            <asp:TextBox ID="txtState" runat="server" MaxLength="200"></asp:TextBox>
           <%-- <asp:RequiredFieldValidator ID="rfvStateBox" ControlToValidate="cmbState" 
            Display="None" runat="server" ErrorMessage="<%$Resources: ~/account/new-user-registration, rfvState.ErrorMessage %>"></asp:RequiredFieldValidator>
            <AjaxControlToolkit:ValidatorCalloutExtender ID="vceStateBox" TargetControlID="rfvStateBox" runat="server">
            </AjaxControlToolkit:ValidatorCalloutExtender>--%>
       