.dxTreeList_CollapsedButton_AnritsuDevXTheme,
.dxTreeList_CollapsedButtonRtl_AnritsuDevXTheme,
.dxTreeList_DragAndDropArrowDown_AnritsuDevXTheme,
.dxTreeList_DragAndDropArrowUp_AnritsuDevXTheme,
.dxTreeList_DragAndDropHide_AnritsuDevXTheme,
.dxTreeList_DragAndDropNode_AnritsuDevXTheme,
.dxTreeList_ExpandedButton_AnritsuDevXTheme,
.dxTreeList_ExpandedButtonRtl_AnritsuDevXTheme,
.dxTreeList_SortAsc_AnritsuDevXTheme,
.dxTreeList_SortDesc_AnritsuDevXTheme
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxTreeList_CollapsedButton_AnritsuDevXTheme
{
    background-position: -23px 0px;
    width: 13px;
    height: 13px;
}
.dxTreeList_CollapsedButtonRtl_AnritsuDevXTheme
{
    background-position: -28px -23px;
    width: 13px;
    height: 13px;
}
.dxTreeList_DragAndDropArrowDown_AnritsuDevXTheme
{
    background-position: -51px -13px;
    width: 11px;
    height: 9px;
}
.dxTreeList_DragAndDropArrowUp_AnritsuDevXTheme
{
    background-position: -51px 0px;
    width: 11px;
    height: 9px;
}
.dxTreeList_DragAndDropHide_AnritsuDevXTheme
{
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
}
.dxTreeList_DragAndDropNode_AnritsuDevXTheme
{
    background-position: -14px -23px;
    width: 13px;
    height: 13px;
}
.dxTreeList_ExpandedButton_AnritsuDevXTheme
{
    background-position: 0px -23px;
    width: 13px;
    height: 13px;
}
.dxTreeList_ExpandedButtonRtl_AnritsuDevXTheme
{
    background-position: -37px 0px;
    width: 13px;
    height: 13px;
}
.dxTreeList_SortAsc_AnritsuDevXTheme
{
    background-position: -35px -17px;
    width: 7px;
    height: 5px;
}
.dxTreeList_SortDesc_AnritsuDevXTheme
{
    background-position: -43px -17px;
    width: 7px;
    height: 5px;
}

