.dxtlControl_AnritsuDevXTheme
{
	cursor: default;
	font: 11px Verdana, Geneva, sans-serif;
	color: #201f35;
	border: 1px solid #9da0aa;
	background: White url('CssImages/ControlBack.png') no-repeat right bottom;
}
.dxtlControl_AnritsuDevXTheme caption
{
	font-weight: normal;
	color: #201f35;
	padding: 3px 3px 5px;
	text-align: center;
	background: #f2f3f4 url('CssImages/TitleBack.png') repeat-x left top;
	border-bottom: 0 solid #cacbd3;
	border: 1px solid #cacbd3;
}

/* Indent cells */
.dxtlIndent_AnritsuDevXTheme,
.dxtlIndentWithButton_AnritsuDevXTheme
{
	background: Transparent none;
	vertical-align: top;
}
.dxtlIndent_AnritsuDevXTheme
{
	padding: 0 11px;
}
.dxtlIndentWithButton_AnritsuDevXTheme
{
	padding: 4px 5px;
}
.dxtlSelectionCell_AnritsuDevXTheme
{
	border-width: 0;
}

/* Tree-lines cells */
.dxtlLineRoot_AnritsuDevXTheme,
.dxtlLineFirst_AnritsuDevXTheme,
.dxtlLineMiddle_AnritsuDevXTheme,
.dxtlLineLast_AnritsuDevXTheme,
.dxtlLineFirstRtl_AnritsuDevXTheme,
.dxtlLineMiddleRtl_AnritsuDevXTheme,
.dxtlLineLastRtl_AnritsuDevXTheme
{
	background-color: Transparent;
}

.dxtlIndent_AnritsuDevXTheme,
.dxtlIndentWithButton_AnritsuDevXTheme
{
	background-color: Transparent;
}

/* Headers */
.dxtlHeader_AnritsuDevXTheme,
.dxtlControl_AnritsuDevXTheme .dxtlHSDC 
{
    background: #f2f3f4 url('CssImages/HeaderBack.png') repeat-x left top;
}
.dxtlHeader_AnritsuDevXTheme
{
	border: 1px solid #cacbd3;
	padding: 5px 6px;
	font-weight: normal;
	color: #201f35;
}
.dxtlHeader_AnritsuDevXTheme table.dxtl
{
	border-collapse: collapse;
	width: 100%;
}
.dxtlHeader_AnritsuDevXTheme td.dxtl
{
	padding: 0;
}
.dxtlHeader_AnritsuDevXTheme,
.dxtlHeader_AnritsuDevXTheme td.dxtl
{
	white-space: nowrap;
	text-align: left;
	overflow: hidden;
}

/* Nodes */
.dxtlNode_AnritsuDevXTheme
{
	background: Transparent none;
}
.dxtlAltNode_AnritsuDevXTheme td.dxtl,
.dxtlAltNode_AnritsuDevXTheme .dxtlCommandCell_AnritsuDevXTheme,
.dxtlAltNode_AnritsuDevXTheme .dxtlSelectionCell_AnritsuDevXTheme
{
	background: url('CssImages/AltBack.png') left top;
}
.dxtlSelectedNode_AnritsuDevXTheme td.dxtl,
.dxtlSelectedNode_AnritsuDevXTheme .dxtlCommandCell_AnritsuDevXTheme,
.dxtlSelectedNode_AnritsuDevXTheme .dxtlSelectionCell_AnritsuDevXTheme
{
	background: #eff0f2 none;
	color: #201f35;
}
.dxtlFocusedNode_AnritsuDevXTheme td.dxtl,
.dxtlFocusedNode_AnritsuDevXTheme .dxtlCommandCell_AnritsuDevXTheme,
.dxtlFocusedNode_AnritsuDevXTheme .dxtlSelectionCell_AnritsuDevXTheme
{
	background: #dde6fd url('CssImages/FocusedBack.png') repeat-x left top;
	color: #201f35;
}
.dxtlAltNode_AnritsuDevXTheme .dxtlIndent_AnritsuDevXTheme,
.dxtlSelectedNode_AnritsuDevXTheme .dxtlIndent_AnritsuDevXTheme,
.dxtlFocusedNode_AnritsuDevXTheme .dxtlIndent_AnritsuDevXTheme
{
	background: Transparent none;
}
.dxtlInlineEditNode_AnritsuDevXTheme
{
	background: Transparent none;
}
.dxtlEditFormDisplayNode_AnritsuDevXTheme td.dxtl,
.dxtlEditFormDisplayNode_AnritsuDevXTheme .dxtlCommandCell_AnritsuDevXTheme,
.dxtlEditFormDisplayNode_AnritsuDevXTheme .dxtlSelectionCell_AnritsuDevXTheme
{
	background: #f9f9fc none;
}

.dxtlNode_AnritsuDevXTheme td.dxtl,
.dxtlAltNode_AnritsuDevXTheme  td.dxtl,
.dxtlSelectedNode_AnritsuDevXTheme td.dxtl,
.dxtlFocusedNode_AnritsuDevXTheme td.dxtl,
.dxtlEditFormDisplayNode_AnritsuDevXTheme td.dxtl,
.dxtlCommandCell_AnritsuDevXTheme
{
	padding: 4px 6px;
	border-width: 0;
	white-space: nowrap;
	overflow: hidden;
}
.dxtlHeader_AnritsuDevXTheme .dxbButton_AnritsuDevXTheme,
.dxtlCommandCell_AnritsuDevXTheme .dxbButton_AnritsuDevXTheme
{
    margin: -2px 2px;
}
.dxtlHeader_AnritsuDevXTheme .dxbButton_AnritsuDevXTheme .dxb,
.dxtlCommandCel_AnritsuDevXTheme .dxbButton_AnritsuDevXTheme .dxb
{
	padding-top: 0;
    padding-bottom: 0;
}
.dxtlEditFormDisplayNode_AnritsuDevXTheme td.dxtl,
.dxtlEditFormDisplayNode_AnritsuDevXTheme td.dxtl__cc
{
	border-bottom: 1px solid #d9dae0;
}
.dxtlInlineEditNode_AnritsuDevXTheme td.dxtl
{
	border-width: 0;
	padding: 1px;
}

/* Preview */
.dxtlPreview_AnritsuDevXTheme
{
	background: url('CssImages/PreviewBack.png') left top;
	color: #777777;
	padding: 14px;
	border-width: 0;
	overflow: hidden;
}

/* Footers */
.dxtlGroupFooter_AnritsuDevXTheme td.dxtl,
.dxtlFooter_AnritsuDevXTheme td.dxtl,
.dxtlControl_AnritsuDevXTheme .dxtlFSDC 
{
    background-color: #f9f9fc;
}
.dxtlGroupFooter_AnritsuDevXTheme td.dxtl,
.dxtlFooter_AnritsuDevXTheme td.dxtl
{
	padding: 6px;
	white-space: nowrap;
	border-top: 1px solid #e1e1e9;
	border-right: 1px solid #e1e1e9;
	border-bottom: 1px solid #e1e1e9;
	border-left-color: #e1e1e9;
	border-left-style: solid;
	border-left-width: 0!important;
	overflow: hidden;
}

/* Pagers */
.dxtlPagerTopPanel_AnritsuDevXTheme,
.dxtlPagerBottomPanel_AnritsuDevXTheme
{
	background: #f1f2f6 url('CssImages/PagerBack.png') left top;
}
.dxtlPagerTopPanel_AnritsuDevXTheme
{
	border-bottom: 1px solid #cacbd3;
}
.dxtlPagerBottomPanel_AnritsuDevXTheme
{
	border-top: 1px solid #cacbd3;
}

/* Editing */
.dxtlEditForm_AnritsuDevXTheme
{
	background: #f9f9fc none;
	border-width: 0;
	padding: 8px 10px 10px;
}
.dxtlEditFormCaption_AnritsuDevXTheme,
.dxtlEditFormEditCell_AnritsuDevXTheme
{
	padding: 4px;
}
.dxtlEditFormCaption_AnritsuDevXTheme
{
	padding-left: 10px;
	white-space: nowrap;
}
.dxtlError_AnritsuDevXTheme
{
	background-color: #ebecef;
	color: #ba1717;
	padding: 6px 10px;
	border-width: 0;
}
.dxtlPopupEditForm_AnritsuDevXTheme
{
	padding: 12px;
}

/* Links */
.dxtlControl_AnritsuDevXTheme a
{
	color: #1b3f91;
	text-decoration: none;
}
.dxtlControl_AnritsuDevXTheme a:hover
{
	text-decoration: underline;
}

.dxtlSelectedNode_AnritsuDevXTheme a,
.dxtlFocusedNode_AnritsuDevXTheme a
{
	color: #1b3f91;
	text-decoration: none;
}
.dxtlSelectedNode_AnritsuDevXTheme a:hover,
.dxtlFocusedNode_AnritsuDevXTheme a:hover
{
	text-decoration: underline;
}
.dxtlCommandCell_AnritsuDevXTheme a
{
	margin-right: 3px;
}

/* Loading panel */
.dxtlLoadingPanel_AnritsuDevXTheme
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #201f35;
	background-color: White;
	border: 1px solid #9da0aa;
}
.dxtlLoadingPanel_AnritsuDevXTheme td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 7px 10px;
}
.dxtlLoadingPanel_AnritsuDevXTheme .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}

/* Disabled */
.dxtlDisabled_AnritsuDevXTheme,
.dxtlDisabled_AnritsuDevXTheme .dxtl
{
	color: #b1b1b8;
	cursor: default;
}
