﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="error.aspx.cs" Inherits="SpSample.LoginAtIdp.Web.error" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<h2>Error page</h2>
<p style='color:Red;'>
<asp:Literal ID="ltrMsg" runat="server"></asp:Literal>
</p>
</asp:Content>
