﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FooterCtrl.ascx.cs" Inherits="Anritsu.Connect.Web.App_Controls.FooterCtrl" EnableViewState="false" %>

 <asp:Literal ID="ltrFooter" runat="server"></asp:Literal>
