﻿*{margin:0;padding:0;}
/*body{height:100%; font-family:arial,sans-serif,verdana; font-size:small;}*/
#pagebody{margin:0 auto;position:relative;width:980px;color:#666666;font-size:.92em;background:#FFF url(//images.cdn-anritsu.com/images/gwstyle/sprite-h-v1.gif) repeat-y -208px 0;}/*i7MEDIA*/
.sitelogo{background:url("//images.cdn-anritsu.com/apps/connect/img/logo.png") no-repeat scroll left top transparent;     float:left;     height:61px;     left:13px;     position:relative;     top:5px;     width:300px;     z-index:2}
.leftside{margin:-5px 0 0 0; padding-top: 10px; float:left;width:195px;color:#000;background:#E1EBEC url(//images.cdn-anritsu.com/apps/connect/img/sprite-v-v1.png) repeat-x 0 -1204px;text-align:left;min-height:6px;height:auto!important;height:6px;}/*i7MEDIA*/
.clearfloat{clear:both!important;}
.expressionerror{ float: left; margin: 1em 0;}
/* MA-481 */ 
 #panel-new-user .expressionerror{float: left;margin: 0 0 0 120px;width: 380px;} 
 
.wraptext{white-space:normal !important;}
.settingrow .column { float:left;}
.rightside{
	/*margin:11px 0 0 10px;*/
	float:left;
	width:100%;
	text-align:justify;
	overflow:visible!important;
	overflow:hidden;
	text-align: left; /* new style property is added as part of UI bug fix My-Anritsu Phase - III*/
	}
.rightside ul{padding-left:20px;}
.rightside ol{padding-left:25px;}
/*a{ color:#666666;}
a:hover{ color:#666666;  text-decoration:underline}
a:visited{ color:#666666}*/ 
/* header 1 */
.header1{background:#ffffff url(//images.cdn-anritsu.com/apps/connect/img/sprite-v1.png) no-repeat scroll 0 -222px;min-height:45px;height:auto!important;height:45px;padding:22px 26px 0 0;}/*i7MEDIA*/
.headerlogo{position:absolute;top:6px;left:13px;font-size:0;}
.headerlogo img{border:none;}
.header1right{width:100%; }
.header1right .title{float:left;margin:0 8px 8px 360px;min-width:15%;width:auto!important;background-color: transparent;}
.header1right .cell{margin:0 0 8px 0;float:right;min-width:104px;width:auto!important;width:104px;}
.myanritsu{margin:0 0 4px 0;padding:0 5px 0 5px;width:100%;min-width:97px;border:none;font-size:11px;white-space:nowrap;}
.myanritsu a:link,.myanritsu a:hover{background:#FFF;font-size:11px;}

/*.myanritsu{margin:0 0 4px 0;padding:0 0 0 5px;width:100%;min-width:97px;border:solid 1px Black;font-family:Arial,Sans-Serif;font-size:11px;font-weight:bold;white-space:nowrap;}
.myanritsu a:link,.myanritsu a:visited,.myanritsu a:hover{color:#086F6F;background:#FFF;font-size:11px;}*/
.selectcountry{padding:0 0 0 5px;border:solid 1px Black;width:100%;min-width:97px;color:#086F6F;background:#FFF;font-family:Arial,sans-serif;font-size:11px;font-weight:bold;white-space:nowrap;}
.copyrightlabel{    background:none repeat scroll 0 0 transparent;     color:#A0F592;     float:right;     font-family:Verdana,Sans-Serif;     font-size:12px;     font-weight:bold;     margin:0 18px;     padding:7px 0 0;     white-space:nowrap}
.siteslogan{    background-color:Red;     clear:both;     margin:28px 0 0 365px;     width:500px;     z-index:2}
.sitesloganspan{    display:inline-block;     font:bold 16px Verdana,Arial,sans-serif;     letter-spacing:normal}

/* page title */
.myAnritsuForm .pagetitle{
    padding: 0 20px;
}
.myAnritsuForm .pagetitle h1{
    margin-bottom:0;
} 
.pagetitleleft{ padding:5px 0 12px 12px;float:left;line-height:19px;max-width:800px;color:#FFF;background:#5BC56A url(//images.cdn-anritsu.com/apps/connect/img/sprite-v-v1.png) repeat-x 0 -822px;font-family:Verdana,Sans-Serif;font-size:19px;font-weight:bold;text-align:left;white-space:nowrap;min-height:21px;height:auto!important;height:21px;min-width:200px;width:auto!important;width:200px;}/*i7MEDIA*/
.pagetitleleft h1{line-height:24px;font-family:Verdana,Sans-Serif;font-size:19px;font-weight:bold;max-width: 800px;overflow: hidden;text-overflow: ellipsis;}
.pagetitleright{padding:8px 0 12px 0;float:left;width:81px;line-height:19px;color:#FFF;background:url(//images.cdn-anritsu.com/apps/connect/img/sprite-v1.png) no-repeat -996px -247px /*#5BC56A*/;font-family:Verdana,Sans-Serif;font-size:19px;font-weight:bold;text-align:left;white-space:nowrap;min-height:21px;height:auto!important;height:21px;}/*i7MEDIA*/
/* Footer */
.footerarea{clear:both;width:980px;overflow:hidden;color:#000;background:#04973F url(//images.cdn-anritsu.com/apps/connect/img/sprite-v-v1.png) repeat-x scroll 0 -703px;min-height:30px;height:auto!important;height:30px;}
.footerleft{padding:10px 0 0 0;float:left;font-family:Verdana,Sans-Serif;font-size:12px;font-weight:bold;}
.footerleft li{float:left;list-style-type:none;}
.footerleft a{color:White;}
.footerright{margin:0 18px;padding:10px 0 0 0;float:right;color:#A0F592;background:transparent;font-family:Verdana,Sans-Serif;font-size:12px;font-weight:bold;white-space:nowrap;}
.footerarea a{margin:0 18px;font-family:Verdana,Sans-Serif;font-size:12px;white-space:nowrap;}
.footerarea img{vertical-align:top;margin-top:1px;}
.footerarea a:link,.footerarea a:visited{color:#FFF;background:transparent;font-family:Verdana,Sans-Serif;font-size:12px;font-weight:bold;text-decoration:none;}
.footerarea a:hover{color:#9FF;background:transparent;font-family:Verdana,Sans-Serif;font-size:12px;font-weight:bold;text-decoration:none;}
#footerul li.cookielink a {margin:0 10px;}
.footeradmin {clear:both; background-color:#505050; padding: 5px; text-align: right; }
.footeradmin ul {list-style-type:none;}
.footeradmin ul li {list-style-type:none;display:inline;}
.footeradmin a {color:White;}
.footeradmin ul li a {color:White;}
/*.footeradmin ul li a:hover {color:White;}*/
.footeradmin.admin-links{
    display: inline-block;
    float: left;
    padding: 0;
    margin-left:20px;
}
/* top box */
.toptexttitle {font-family: Verdana, sans-serif;font-weight: bold;text-align:left;}
.toprightbuttons .button{margin:9px 0 0 10px;float:right;width:127px;height:27px;background:url(//images.cdn-anritsu.com/apps/connect/img/sprite-v-v1.png) no-repeat scroll -907px -63px;cursor:pointer;}/*i7MEDIA*/
.toprightbuttons .button .text{margin:6px 1px 1px 1px;width:125px;height:20px;overflow:hidden;font-family:Verdana,Sans-Serif;font-size:12px;font-weight:bold;text-align:center;white-space:nowrap;}
.toprightbuttons .button .text a{color:#FFF;font-family:Verdana,Sans-Serif;font-size:12px;font-weight:bold;}
.toprightbuttons .button .text a:hover{color:#9FF;text-decoration:none;}
.topbox{margin:0 0 0px 0;color:#000;background:#FFF;}
.topbox tr td {vertical-align: top;}
.topbox1{border-right:solid 1px #446D8D;background:url(//images.cdn-anritsu.com/images/gwstyle/border.png) repeat-y left top; 
/*border-bottom: 1px solid #446d8d;*/
}
.topbox1header{height:5px;background:url(//images.cdn-anritsu.com/apps/connect/img/sprite-v-v1.png) repeat-x scroll 0 -1050px;}/*i7MEDIA*/
.topbox1header *{float:left;height:5px;line-height:5px;}
.topbox1body{width:150px;text-align:center;}
.topbox1image{margin:5px 0 5px;width:120px;}
.topbox1footerleft {background: url("//images.cdn-anritsu.com/apps/connect/img/sprite-v-v1.png") repeat-x scroll 0 -1046px transparent;border-right: 1px solid #446D8D;font-size: 0;line-height:0;}/*i7MEDIA*/  /* setting line-height to Zero */
.topbox1footercenter{width:434px;background:url(//images.cdn-anritsu.com/apps/connect/img/sprite-v-v1.png) repeat-x scroll 0 -1046px;font-size:0;line-height:0;}/*i7MEDIA*/ /* setting line-height to Zero */
.topbox1footerright{width:5px;background:url(//images.cdn-anritsu.com/apps/connect/img/sprite-v1.png) no-repeat scroll -1027px -144px;font-size:0;text-align:right;}/*i7MEDIA*/
.topbox1titletext{border-bottom:1px solid #446D8D;min-width:432px;height:26px;color:#000;background:#788287;font-family:"Frutiger LT W02_65 Bold"; color: white;}/*i7MEDIA*/
.topbox1titletext div{margin:6px 0 0 17px;min-width:432px;overflow:hidden;text-align:left;}
.topbox1titletext-2{border-bottom:1px solid #446D8D;width:603px;height:26px;color:#000;background:#AEC6C6 url(//images.cdn-anritsu.com/apps/connect/img/sprite-v-v1.png) repeat-x scroll 0 -893px;font-family:Verdana,Sans-Serif;font-weight:bold;}/*i7MEDIA*/
.topbox1titletext-2 div{margin:6px 0 0 17px;width:580px;overflow:hidden;}
.topbox1titletext div a,.topbox1titletext-2 div a{font-family:Verdana,Sans-Serif;}
.topbox1titleright{border-bottom:solid 1px #446D8D;width:5px;color:#000;background:#788287; font-size:0;border-right: 1px solid #446d8d;}/*i7MEDIA*/
.topbox1text{padding:10px 0 0 15px;width:376px;height:73px;}
.topbox1text2{height:73px;padding:10px 0 0 15px;
/*border-bottom: 1px solid #446d8d;*/
}
.topbox1text-2{padding:10px 0 0 15px;width:538px;height:73px;}
.topbox1text table,.topbox1text-2 table{width:100%;}
.topbox .imagecell,.topbox .imagecell-2{width:50px;vertical-align:bottom!important;text-align:right;}
.topbox .imagecell img{border:none;width:50px;height:39px;}
.topbox .imagecell p{overflow:hidden;width:80px;}
.topbox .imagecell p a{font-weight:normal;}

#newsdetail .imagecell{width:80px;text-align:center;vertical-align:middle!important;}
.imagecellright{border-right:solid 1px #446D8D;width:4px;font-size:0;}
.topboxseparater{width:17px;}
.topboxseparater div{width:20px;font-size:0;}
.topbox2titleleft{border-bottom:1px solid #446D8D;width:5px;color:#000;background:url(//images.cdn-anritsu.com/apps/connect/img/sprite-v1.png) no-repeat -1083px -33px #AEC6C6;font-size:0;}/*i7MEDIA*/
.topbox2titletext{color:#000;background:#AEC6C6 url(//images.cdn-anritsu.com/apps/connect/img/sprite-v-v1.png) repeat-x scroll 0 -893px;width:137px;height:26px;border-bottom:1px solid #446D8D;font-family:Verdana,Sans-Serif;font-weight:bold;}/*i7MEDIA*/
.topbox2titletext div{margin:6px 0 0 14px;width:133px;overflow:hidden;text-align:left;}
.topbox2titletext div a{font-family:Verdana,Sans-Serif;}
.topbox2titleright{border-bottom:1px solid #446D8D;width:5px;color:#000;background:url(//images.cdn-anritsu.com/apps/connect/img/sprite-v1.png) no-repeat -1088px -33px #AEC6C6;font-size:0;}/*i7MEDIA*/
.topbox2text{padding:10px 0 0 0;border-right:solid 1px #446D8D;border-left:solid 1px #446D8D;}
.topbox2text p{margin:0 0 0 10px;width:145px;overflow:hidden;}
.topbox2text p a{font-weight:normal;}
.topbox2footerleft{background:url(//images.cdn-anritsu.com/apps/connect/img/sprite-v1.png) no-repeat scroll -1021px -144px;font-size:0;}/*i7MEDIA*/
.topbox2footercenter{background:url(//images.cdn-anritsu.com/apps/connect/img/sprite-v-v1.png) repeat-x scroll 0 -1046px;font-size:0;}/*i7MEDIA*/
.topbox2footerright{width:5px;background:url(//images.cdn-anritsu.com/apps/connect/img/sprite-v1.png) no-repeat scroll -1027px -144px;font-size:0;text-align:right;}/*i7MEDIA*/
.imagecellright{border-right:solid 1px #446D8D;width:4px;font-size:0; 
/*border-bottom: 1px solid #446d8d;*/
}

/* tab window */
/* Tabs */
.tabwindow{margin:0 0 20px 0;width:760px;}
.rightside .tabwindow ul{padding-left:0;}
.tabwindowtabs{width:760px;min-height:28px;height:auto!important;height:28px;overflow:hidden;list-style-type:none;}
.tabwindowtabs li{display:block;float:left;width:152px;overflow:hidden;font-size:11px;text-align:center;cursor:pointer;min-height:26px;height:auto!important;height:26px;padding-bottom:8192px;margin-bottom:-8192px;}
.tabname{background:url(//images.cdn-anritsu.com/apps/connect/img/sprite-v1.png) no-repeat -749px 0 transparent;}/*i7MEDIA*/
.tabname a{padding:6px 0 0 0;display:block;font-family:Verdana,sans-serif;font-size:12px;font-weight:bold;min-height:20px;height:auto!important;height:20px;}
.tabname a:link,.tabname a:visited{color:#FFF;text-decoration:none;}
.tabname a:hover{color:#9FF;text-decoration:none;}
.tabnameselected{background:url(//images.cdn-anritsu.com/apps/connect/img/sprite-v1.png) no-repeat -597px 0 transparent;}/*i7MEDIA*/
.tabnameselected a:link,.tabnameselected a:visited,.tabnameselected a:hover{padding:6px 0 0 0;display:block;color:#086F6F;font-family:Verdana,sans-serif;font-size:12px;font-weight:bold;text-decoration:none;min-height:20px;height:auto!important;height:20px;}
.tabwindowitems{padding:0 10px 2px;border-top:solid 1px #446D8D;border-right:solid 1px #446D8D;border-left:solid 1px #446D8D;width:738px;min-height:100px;height:auto!important;height:100px;}
.tabwindowitems p{margin:0 0 10px 0;font-weight:normal;}
.tabwindowtextarea{margin:10px 0 0 0;border-bottom:solid 1px #446D8D;}
.tabwindowitems .TabWindowItem{border-bottom:solid 1px #446D8D;font-weight:normal;}
.tabwindowitems .title{font-family:Verdana,Sans-Serif;font-weight:bold;}
.tabwindowitems .text{margin:0 0 10px 0;font-weight:normal;}
.tabwindowitems .links{margin:0 0 10px 0;}
.tabwindowitems .link{font-size:12px;margin:0 0 3px 0;line-height:1em;}
.tabwindowitems .link a{font-weight:normal;}
.tabwindowitems .table{margin:0 0 10px 0;font-weight:normal;}
.tabwindowimagetextarea{margin:10px 0 0 0;border-bottom:solid 1px #446D8D;}
.tabwindowimagetextarea table{width:100%;}
.tabwindowimagetextarea td{width:50%;vertical-align:top;}
.tabwindowimagetextarea td .image{border:solid 1px #808080;width:352px;}
.tabwindowlinkarea{margin:10px 0 0 0;border-bottom:solid 1px #446D8D;}
.tabwindowlinkarea .title{margin:0 0 3px 0;}
.tabwindowimagearea{margin:10px 0 0 0;border-bottom:solid 1px #446D8D;}
.tabwindowimagearea table{width:100%;}
.tabwindowimagearea td{width:50%;vertical-align:top;}
.tabwindowimagearea td .imagecell{padding:20px 0;border:solid 1px Gray;width:95%;height:100%;text-align:center;}
.tabwindowimagearea td .image{width:300px;}
.tabwindowimageslinksarea{margin:10px 0 0 0;border-bottom:solid 1px #446D8D;}
.tabwindowimageslinksarea table{margin:0 0 15px 35px;width:95%;}
.tabwindowimageslinksarea table img{border:none;}
.tabwindowimageslinksarea .caption a{font-size:.92em;font-weight:normal;}
.tabwindowimagetextrepeat .listitem{padding:20px 0 20px 0;border-bottom:solid 1px #446D8D;}
.tabwindowimagetextrepeat .last{border-bottom:none;}
.tabwindowimagetextrepeat .listitemleft{float:left;width:150px;}
.tabwindowimagetextrepeat .listitemright{float:left;width:588px;overflow:hidden;}
.tabwindowimagetextrepeat .listitemright-2{float:left;width:738px;overflow:hidden;}
.tabwindowimagetextrepeat .listitemimage{width:150px;text-align:center;}
.tabwindowimagetextrepeat .listitemimage img{width:120px;}
.tabwindowimagetextrepeat .listitemsubtitle{font-family:Verdana,sans-serif;font-weight:bold;}
.tabwindowimagetextrepeat .listitemsubtitle a:link,.tabwindowimagetextrepeat .listitemsubtitle a:visited{color:#152DBD;background:#FFF;font-family:Verdana,Sans-Serif;font-weight:bold;text-decoration:none;}
.tabwindowimagetextrepeat .listitemsubtitle a:hover{color:#152DBD;background:#FFF;font-family:Verdana,Sans-Serif;font-weight:bold;text-decoration:underline;}
.tabwindowimagetextrepeat .listitemdescription{font-weight:normal;}
.tabwindowfooter{float:left;width:760px;height:5px;background:url(//images.cdn-anritsu.com/apps/connect/img/sprite-v-v1.png) repeat-x scroll 0 -1046px;font-size:0;}/*i7MEDIA*/
.tabwindowfooter *{float:left;}
@media print{.tabwindowtabs li{padding-bottom:0;margin-bottom:0;}}
.bottombg .tabwindow{width:615px;margin:0 0 0 11px;}
.bottombg .tabwindowtabs{width:615px;}
.bottombg .tabwindowtabs li{width:123px;}
.bottombg .tabwindowitems{background-color:#FFF;padding:0 15px;width:583px;height:179px;max-height:179px;min-height:179px; overflow-y:auto;}
.bottombg .tabwindowfooter{background:#FFF url(//images.cdn-anritsu.com/apps/connect/img/sprite-v-v1.png) repeat-x 0 -1115px;width:615px;height:12px;}/*i7MEDIA*/
.bottombg .tabnameselected{color:#000;background: url(//images.cdn-anritsu.com/apps/connect/img/sprite-v1.png) no-repeat scroll -351px 0 transparent;}/*i7MEDIA*/
.bottombg .tabname{color:#000;background: url(//images.cdn-anritsu.com/apps/connect/img/sprite-v1.png) no-repeat scroll -474px 0 transparent;}/*i7MEDIA*/
.tabwindowitems .news{margin:15px 0 0 0;width:583px;height:159px;border-bottom:solid 1px #446D8D;}
.tabwindowitems #tab05{border-bottom:none;}
.tabwindowitems .news .date{margin:0 2px 0 0;width:60px;display:inline-block;}
/* Hide from IE-Mac \*/ .tabwindowitems .news .date{display:-moz-inline-box;}/* End hide */ 
.eventDate{margin:0 2px 0 0;width:130px;display:inline-block;}
/* Hide from IE-Mac \*/ .eventDate{display:-moz-inline-box;}
/* Hide from IE-Mac \*/ .tabwindowitems .news .newstitle{margin:0 0 8px 8px;padding:0 0 2px 0;overflow:hidden;white-space:nowrap;width:556px;text-overflow:ellipsis;}
.tabwindowitems .news .newstitle img{margin:0 8px 0 0;width:75px;height:13px;vertical-align:middle;font-size:0;line-height:1em;}
.tabwindowitems a:link,.tabwindowitems a:visited,.tabwindowitems a:hover{font-weight:normal;}
.tabwindowitems .newproduct{margin:20px 0 0 0;border-bottom:solid 1px #446D8D;width:583px;height:159px;}
.tabwindowitems .newproduct .left{margin:0 0 10px 0;float:left;width:70px;}
.tabwindowitems .newproduct .productphoto{text-align:right;}
.tabwindowitems .newproduct .productphoto img{width:60px;}
.tabwindowitems .newproduct .right{margin:0 0 10px 10px;float:left;width:485px;}
.productpagetitle a:link,.productpagetitle a:visited,.productpagetitle a:hover{font-weight:normal;}
.tabwindowitems .newproduct .description{width:485px;height:2.3em;overflow:hidden;margin:0;}
.tabwindowbuttonarea{padding:0 7px 0 0;border-right:solid 1px #446D8D;border-left:solid 1px #446D8D;display:none;float:right;width:606px;color:#000;background:#FFF;}
.tabwindowbuttonarea .button,.tabwindowitems .button{float:right;width:127px;height:27px;background:url(//images.cdn-anritsu.com/apps/connect/img/sprite-v1.png) no-repeat scroll -907px -63px transparent;cursor:pointer;}/*i7MEDIA*/
.tabwindowbuttonarea .button{margin:3px 0 0 10px;}
.tabwindowitems .button{margin-left:5px;}
.tabwindowbuttonarea .button .text,.tabwindowitems .button .text{margin:1px;width:125px;height:25px;overflow:hidden;font-family:Verdana,Sans-Serif;font-size:12px;font-weight:bold;text-align:center;white-space:nowrap;}
.tabwindowbuttonarea .button .text a,.tabwindowitems .button .text a{padding:5px 0 0 0;display:block;width:125px;height:20px;color:#FFF;font-family:Verdana,Sans-Serif;font-size:12px;font-weight:bold;}
.tabwindowbuttonarea .button .text a:hover,.tabwindowitems .button .text a:hover{color:#9FF;text-decoration:none;}
.tabwindowrightshadow{background: url("//images.cdn-anritsu.com/apps/connect/img/sprite-v1.png") no-repeat scroll -901px 0 transparent;position:absolute;top:375px;left:626px;width:6px;height:219px;}
.tabwindowitems li{list-style-position:outside;margin-left:16px;}
.tabwindowitems .list{/* CSS Hack */ min-height:125px;height:auto!important;height:125px;}
#wrapadminmenu{    background-color:#FFF;     border:5px solid #505050;     clear:both;     float:left;     margin-left:470px;     margin-top:5px;     padding:10px;     text-align:right;     width:952px}
#wrapadminmenu a{    color:#505050}
#wrapadminmenu ul{    list-style-type:none;     margin:0;     padding:0}
#wrapadminmenu ul li{    display:inline;     list-style-type:none;     margin:5px;     padding:0}
p:first-child{    margin-top:0}
#hdrtopnav{    float:right;     margin:18px 5px 0 0;     text-align:left}
#hdrtopnav ul{    display:inline;     margin:0 0 5px;     padding:0}
li.hdrtopnavitem{    display:inline;     list-style-type:none;     padding-left:5px}
li.hdrfirstnav{    display:inline;     list-style-type:none;     padding:0}
.adminmenu ul.simplelist{    margin:0 auto}
.simplelist, .simplelist li{    list-style:none outside none;     padding:0 0 4px 10px}
ul.linkitem{    left:-13px;     list-style:none outside none;     margin:10px 10px 0;     padding:0;     position:relative;     top:-6px}
.site-statistics{    border-bottom:thin solid #CCC;     margin:0 0 5px;     padding:0 0 5px}
ul.userstats{    font-size:90%;     list-style-type:none;     margin:0 0 0 -40px}
ul.userstats ul{    display:block;     margin:0;     padding:0}
ul.userstats li{    font-size:100%;     list-style:none outside none;     position:relative}
ul.linkitem li{    list-style:none outside none;     margin:0 0 1px;     min-height:18px;     padding:2px 0}
ul.linkitem a.mojolink{    background:url("//images.cdn-anritsu.com/apps/connect/img/arrowright_blue.gif") no-repeat scroll left center transparent;     color:#152DBD;     font-weight:700;     margin-left:3px;     padding:2px 5px 2px 14px;     text-decoration:none}
ul.linkitem a.mojolink:hover{    text-decoration:underline}
* html body ul.linkitem a{    height:18px}
ul.linkitem li a+a, ul.linkitem li a+a:hover{    background-image:none;     padding:0}
.searchcontainer{    background:url("//images.cdn-anritsu.com/apps/connect/img/searchboxbg.gif") no-repeat scroll left top transparent;     clear:left;     float:left;     height:32px;     margin-top:5px;     position:relative;     width:193px}
.searchcontainer .searchbox{    background-color:#FFF;     border:0 none;     color:#666;     height:17px;     margin:9px 0 0 20px;     width:155px;     z-index:2}
.searchbutton{    display:none}
.searchpanel{    bottom:5px;     left:0;     position:absolute;     white-space:nowrap}

/* breadcrumb*/
#crumbcontainer {    background:url("//images.cdn-anritsu.com/apps/connect/img/breadcrumbbg.gif") repeat-x scroll left top #505050;     clear:both;     color:#DADADA;     float:left;     font:11px Verdana,Arial,Sans-Serif;     height:auto !important;     min-height:1px;     padding:1px 7px;     width:966px;}
#crumbcontainer .breadcrumbs{float:left}
#crumbcontainer .breadcrumbs a {font-family: Verdana,sans-serif;}
#crumbcontainer .unselectedcrumb{    color:#DADADA;     font-weight:400;     line-height:24px}
#crumbcontainer .selectedcrumb{    color:#DADADA;     font-weight:700;     line-height:24px}
.toprightlinks{    padding:0 10px 0 0}
.toprightlinks ul{    border-left:1px solid #446D8D;     float:right;     margin:5px 0 0;     padding:0;     text-align:left}
.toprightlinks ul li{    border-right:1px solid #446D8D;     float:left;     line-height:2em;     list-style-type:none;     margin:0;     padding:0 10px}
.searchterm{    background-color:#FF0;     color:#000}
.templatewrapper{    border-bottom:4px solid #000}
.linkdescription{    padding:5px}
.clear{    clear:both}
.padded{    padding:7px}
.pageicons, .skiplink{    display:none}
.tbx{    width:100%;padding:5px 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #979797;-webkit-border-radius:6px;border-radius:6px;}
.tbx-20{    border:1px solid #CCC;     font-size:11px;     padding:5px;     width:20px}
.tbx-50{    border:1px solid #CCC;     font-size:11px;     padding:5px;     width:50px}
.tbx-100{    border:1px solid #CCC;     font-size:11px;     padding:5px;     width:100px}
.tbx-200{    border:1px solid #CCC;     font-size:11px;     padding:5px;     width:200px}
.tbx-210{    border:1px solid #CCC;     font-size:11px;     padding:5px;     width:210px}
.tbx-250{    border:1px solid #CCC;     font-size:11px;     padding:5px;     width:250px}
.tbx-300{    border:1px solid #CCC;     font-size:11px;     padding:5px;     width:300px}
.tbx-400{    border:1px solid #CCC;     font-size:11px;     padding:5px;     width:400px}
.tbx-500{    border:1px solid #CCC;     font-size:11px;     padding:5px;     width:500px}
.tbx-550{    border:1px solid #CCC;     font-size:11px;     padding:5px;     width:550px;   height:200px}
a.smalllink{    color:#152DBD;     font-family:arial,sans-serif;     font-size:11px;     font-weight:normal;     text-decoration:none}
.ddl{    border:1px solid #CCC;     font-size:14px;     padding:5px}
.ddl option{    padding:2px 5px}
fieldset{    border:1px solid #CCC;     margin:1em 0;     padding:1em}
fieldset p{    margin:2px 12px 10px 10px}
#divLogin{    padding:0 30px 30px}
#divLoginCtrl{ margin:5px!important;}
.logindesc { padding: 10px;}
.logindesc ul { padding-top: 10px;}
.logindesc ul li { padding: 3px;}
fieldset.login{    width:360px}
fieldset.login label, fieldset.register label, fieldset.changePassword label{    display:block}
fieldset label.inline{    display:inline}
legend{    font-size:1.1em;     font-weight:600;     padding:2px 4px 8px; color:#666666; }
legend.green{    background:url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% #0FAF46;     border:1px solid #456D8B;     color:#FFF;     font-size:1.1em;     font-weight:600;     margin:0;     opacity:0.8;     padding:0.5em}
/*legend.gray{    background:none repeat scroll 0 0 #505050;     border:1px solid #505050;     color:#FFF;     font-size:1.1em;     font-weight:600;     margin:0;     opacity:0.8;     padding:0.5em 0.8em}*/
legend.gray{ color:#666666;font-size:1.1em;font-weight:600;margin:0;padding:2px 4px 3px}
input.textEntryShort{    border:1px solid #CCC;     width:150px}
input.textEntry{    border:1px solid #CCC;     width:220px}
input.passwordEntry{    border:1px solid #CCC;     width:220px}
/*a{    color:#152DBD;     font-family:arial,sans-serif;     font-weight:bold;     text-decoration:none}
a:hover{    color:#152DBD;     text-decoration:underline}
a:visited{    color:#152DBD}*/
.mdlWrap{    display:block}
a.ModuleEditLink, a.ModuleEditLink:link, a.ModuleEditLink:visited, a.ModuleEditLink:hover, a.ModuleEditLink:active{    font-size:11px}
a.ModuleEditLink, a.ModuleEditLink:link, a.ModuleEditLink:active, a.ModuleEditLink:visited{    color:#383D41;     font-family:Helvetica,Arial,sans-serif;     text-transform:none}
.mdlWrap h2.mdlTitle{    background:url("//images.cdn-anritsu.com/apps/connect/img/ttlbarbg.png") repeat-x scroll left top transparent;     border:1px solid #446D8D;     border-radius:6px 6px 0 0;     clear:both;     color:#000;     font:bold 12px Verdana,Sans-Serif;     height:auto;     margin:0;     min-height:21px;     padding:5px 10px 0;     position:relative}
.mdlWrap .mdlcontent{    background-color:#FFF;     border:1px solid #446D8D;     border-radius:6px 6px 6px 6px;     padding:10px;     position:relative;     text-align:left;     vertical-align:top}
.mdlWrap .mdlcontent-noborder{    background-color:#FFF;     border:medium none;     padding:10px;     position:relative;     text-align:left;     vertical-align:top}
.mdlWrap .mdlfooter{    display:none;     font-size:11px;     text-align:center}
.mdlTitle+.mdlcontent, .mdlTitle+div >.mdlcontent, .mdlTitle+.listintro+div >div.mdlcontent{    border-radius:0 0 6px 6px;     border-top:0 none}
.rtop, .rbottom{    display:block}
.rtop, .rbottom{    background:none repeat scroll 0 0 #414141}
.rtop .r1, .rtop .r2, .rtop .r3, .rtop .r4, .rbottom .r1, .rbottom .r2, .rbottom .r3, .rbottom .r4{    background:none repeat scroll 0 0 #545454}
.rtop .r1, .rtop .r2, .rtop .r3, .rtop .r4, .rbottom .r1, .rbottom .r2, .rbottom .r3, .rbottom .r4{    display:block;     height:1px;     overflow:hidden}
.r1{    margin:0 5px}
.r2{    margin:0 3px}
.r3{    margin:0 2px}
.rtop .r4, .rbottom .r4{    height:2px;     margin:0 1px}
.rbottom{    margin-bottom:10px}
.modulecontentwrap{padding-bottom: 10px!important;}
.modulecontent{    background-color:#FFF;     border:1px solid #446D8D;     border-radius:6px 6px 6px 6px;     padding:10px;     position:relative;     text-align:left;     vertical-align:top}
.leftmenu{   
    background-color: #FFFFFF;
    border: 1px solid #446C8F;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 2px #000000;
    margin: 0 auto;
    padding: 10px 3px;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 176px;
}
.moduletitle+.modulecontent, .moduletitle+div >.modulecontent, .moduletitle+.listintro+div >div.modulecontent{    border-radius:0 0 6px 6px;     border-top:0 none; background: #f7f7f7 none repeat scroll 0 0;}
h2.moduletitle, .tabheading{    color: #fff;
  background: #788287;
  padding: 10px 0 0 20px;
  text-align: left;
  text-transform: uppercase;
  font-family: "Frutiger LT W02_65 Bold";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 37px;
  line-height: 22.3999996185303px;
  border-radius: 6px 6px 0 0;
}
.admpg fieldset{    display:block;     margin:0;     padding:5px 15px}
.formtbl{}
.formtbl td.label{    color:#3D3D3D;     text-align:left}
.fieldtip{    color:#CCC;     font-size:11px;     font-style:italic}
 fieldset .sel .ui-button-small{ margin-top:2px; } 
.divrgt{    float:right;     padding:10px}
.msg{    color:#f5a623;     font-size:14px}
.failureNotification{    color:#f5a623;     font-size:11px}
.msg-green{    color:#0FAE47;     font-size:11px}
.msg-darkgray{    color:#505050;     font-size:11px;     padding:3px}
.msg-red-small{    color:#f5a623;     font-size:11px;     padding:2px}
#ul-hori ul{    list-style-type:none;     margin:0;     padding:0;     text-align:center}
#ul-hori ul li{    display:inline;     padding-right:10px}
a.ui-button, a.ui-button:visited, a.ui-button:active, a.ui-button:link{ background:url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% #0FAF46;     border:1px solid #456D8B;     color:#FFF;     font-weight:700;     padding:0.6em 1em}
a.ui-button:hover{    text-decoration:underline}
input.ui-button{    background:url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% #0FAF46;     border:1px solid #456D8B;     color:#FFF;     font-weight:700;     padding:0.4em 1em}
input.ui-buttonGrey{    background:url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_flat_55_999999_40x100.png") repeat-x scroll 50% 50% #0FAF46;     border:1px solid #456D8B;     color:#FFF;     font-weight:700;     padding:0.4em 1em}
.ui-button{    cursor:pointer;     display:inline-block;     margin-right:0.1em;     overflow:visible;     padding:0;     position:relative;     text-align:center;     text-decoration:none !important}
.ui-button-small{    cursor:pointer;     display:inline-block;     margin-right:0.1em;     overflow:visible;     padding:0;     position:relative;     text-align:center;     text-decoration:none !important}

input.ui-button-small{ background:url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% /*#0FAF46*/; border:1px solid #456D8B; color:#FFF; font-size:11px; font-weight:normal; padding:0.3em; }

a.ui-button-small, a.ui-button-small:visited, a.ui-button-small:link, a.ui-button-small:active { 
    background:url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% /*#0FAF46*/; 
    border:1px solid #456D8B; 
    color:#FFF; font-size:11px; 
    font-weight:normal; 
    padding:0.7em; /* changed styles as part of bug fix My-Anritsu Phase - III */
}


.ui-button-smaller{    cursor:pointer;     display:inline-block;     margin-right:0.1em;     overflow:visible;     padding:0;     position:relative;     text-align:center;     text-decoration:none !important}
input.ui-button-smaller{    background:url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% #0FAF46;     border:1px solid #456D8B;     color:#FFF;     font-size:8px;     font-weight:normal;     margin:0;     padding:0.2em}
a.ui-button-smaller{    background:url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% #0FAF46;     border:1px solid #456D8B;     color:#FFF;     font-size:8px;     font-weight:normal;     margin:0;     padding:0.2em}
.dgstyle1{    background:none repeat scroll 0 0 transparent;     border-color:#CCC;     border-style:solid;     border-width:1px;     padding:5px}
.dgstyle1 td{    border:1px solid #CCC;     margin:3px;     padding:5px;     text-align:center}
.dgstyle1 .dgstyle1-head{    background-color:#E1EBEC;     border:medium none;     color:Black;     font-weight:normal}
.dgstyle1 .dgstyle1-item{    color:Black;}
.dgstyle1 .dgstyle1-altitem{    color:Black;}
.dgstyle1 .dgstyle1-item-lft{    color:Black;     text-align:left}
.dgstyle1 .dgstyle1-altitem-lft{    color:Black;     text-align:left}
.dgstyle1 .dgstyle1-selected{    background-color:#FFF;     border-color:#0FAF46;     border-style:solid;     border-width:3px;     color:#515470;     font-weight:bold}
.dgstyle2{    background:none repeat scroll 0 0 transparent;     border-color:#CCC;     border-style:solid;     border-width:1px;     padding:5px}
.dgstyle2 td{    border:1px solid #CCC;     margin:3px;     padding:5px}
.dgstyle2 .dgstyle2-head{    background-color:#E1EBEC;     border:medium none;     color:Black;     font-weight:normal}
.dgstyle2 .dgstyle2-item{    color:Black}
.dgstyle2 .dgstyle2-altitem{    color:Black}
.dgstyle2 .dgstyle2-item-lft{    color:Black;     text-align:left}
.dgstyle2 .dgstyle2-altitem-lft{    color:Black;     text-align:left}
.dgstyle2 .dgstyle2-selected{    background-color:#FFF;     border-color:#0FAF46;     border-style:solid;     border-width:3px;     color:#515470;     font-weight:bold}
.gvstyle1{    background:none repeat scroll 0 0 transparent;     border-color:#CCC;     border-style:solid;     border-width:1px;     padding:5px}
.gvstyle1 td{    border:1px solid #CCC;     margin:3px;     padding:5px;     text-align:center}
.gvstyle1 .gvstyle1-head{    background-color:#f9f9f9;     border:medium none;     color:#505050;     font-weight:normal}
.gvstyle1 .gvstyle1-head th{    background-color:#d1d2d5;     border:1px solid #CCC;     color:#505050;     font-weight:bold;     padding:5px; text-align: center}
.gvstyle1 .gvstyle1-item{    color:#515470}
.gvstyle1 .gvstyle1-altitem{    color:#515470}
.gvstyle1 .gvstyle1-item-lft{    color:#515470;     text-align:left}
.gvstyle1 .gvstyle1-altitem-lft{    color:#515470;     text-align:left}
.gvstyle1 .gvstyle1-selected{    background-color:#FFF;     border-color:#0FAF46;     border-style:solid;     border-width:3px;     color:#515470;     font-weight:bold}
ul.ulhor1{    list-style-type:none;     margin:0;     padding:0;     text-align:center}
ul.ulhor1 li{    display:inline;     padding-right:10px}
.settinglabelplain{    font-size:inherit;    padding:5px}
.text-normal{    font-size:11px;     font-weight:normal;     padding:5px}
.settinglabelplain-12{    font-size:12px;   padding:5px}
.settinglabelplain-14{    font-size:14px;   padding:5px}
.settinglabel{    clear:left;     float:left;     font-size:14px;     padding:5px}
.settinglabelFixedHeight{    clear:left;     float:left;     height:77px;     padding:1px;     width:20em}
.settingrow{    clear:left;     padding:4px 0}
.settingrowrgt{    clear:both;     float:right;     margin-right:10px;     padding:4px 0}
.settinglabel-5{    clear:left;     float:left;     font-size:14px;         padding:5px;     width:5em}
.settinglabel-10{    clear:left;     float:left;     font-size:14px;         padding:5px;     width:10em}
.settinglabel-10.nopadding {  padding: 0 5px !important;}
.settinglabel-15{    clear:left;     float:left;     font-size:14px;         padding:5px;     width:15em}
.settinglabel-20{    clear:left;     float:left;     font-size:14px;         padding:5px;     width:20em}
.settinglabel-30{    clear:left;     float:left;     font-size:14px;         padding: 0 0 5px 0;     width:30em}
.settinglabel-40{    clear:left;     float:left;     font-size:14px;         padding:5px;     width:40em}
.settinglabel-60{    clear:left;     float:left;     font-size:14px;         padding:5px;     width:60em}
.settinglabel-80{    clear:left;     float:left;     font-size:14px;         padding:5px;     width:80em}
.settinglabelrgt-5{ clear: left; float: left; width:5em; font-size: 14px;  text-align: left; margin-right: 10px; display: inline-block}
.settinglabelrgt-10{ clear: left; float: left; width:10em; font-size: 14px;  text-align: left; margin-right: 10px; display: inline-block}
.settinglabelrgt-15{ clear: left; width:15em; font-size: 14px;  text-align: left; margin-right: 10px; display: inline-block}
.settinglabelrgt-20{ clear: left; float: left; width:20em; font-size: 14px;  text-align: left; margin-right: 10px; display: inline-block}
.settinglabelrgt-25{ clear: left; float: left; width:25em; font-size: 14px;  text-align: left; margin-right: 10px; display: inline-block}
.settinglabelrgt-30{ clear: left; float: left; width:30em; font-size: 14px;  text-align: left; margin-right: 10px; display: inline-block}
.settinglabelplain-12, .settinglabelplain-14, .settinglabel, .settinglabelFixedHeight, .settingrow, .settinglabel-5, .settinglabel-10, .settinglabel-15, .settinglabel-20, .settinglabel-30, .settinglabel-40, .settinglabel-60, .settinglabel-80, .settinglabelrgt-5, .settinglabelrgt-10, .settinglabelrgt-15, .settinglabelrgt-20, .settinglabelrgt-25, .settinglabelrgt-30{
    font-family: "FrutigerLTW02-45Light",Helvetica,Arial,sans-serif;
} 
.text-200{    clear:left;     font-size:11px;     font-weight:normal;     padding:5px;     width:40em}
.btncontainer{    clear:both;     padding:4px 0;     text-align:center}
.langselect{    display:inline-block}
.langselect .langlst{    border:1px solid #CCC;     font-size:11px;     padding:3px}
.TitleGreen{    color:#10B047;     font-size:14px;     font-weight:bold}
.TitleDarkGray{    color:#505050;     font-size:14px;     font-weight:bold}
.emptymsg{    color:#505050;     font-size:11px;     font-style:italic;     font-weight:bold;     padding:0.5em}
.wzSkin{    background-color:White;     border:1px solid #E1EBEC;     min-height:50px}
.wzSkin-Nav{    padding:5px}
.wzSkin-SideBar{    background-color:#E1EBEC;     padding:5px;     vertical-align:top}
.wzSkin-Step{    min-width:250px;     padding:10px}
.wzSkin-Header{}
.wzSkin-SideBarButton{    background:url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% #0FAF46;     border:1px solid #456D8B;     color:#FFF;     display:block;     font-weight:700;     margin:3px;     padding:0.4em 1em}
a.wzSkin-SideBarButton:hover{    background:url("//images.cdn-anritsu.com/apps/connect/img/gnbgsct.gif") repeat-x scroll left top #1DB239;     color:#9FF}
.wzSkin td{    vertical-align:top}
#cphContentTop_ProductRegCtrl1_afwPrdReg td{    vertical-align:top}
.ui-button-sidebar-item{    cursor:pointer;     display:inline-block;     margin-right:0.1em;     overflow:visible;     padding:0;     position:relative;     text-align:left;     text-decoration:none !important}
input.ui-button-sidebar-item{    background:url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% #0FAF46;     border:1px solid #456D8B;     color:#FFF;     display:block;     font-weight:700;     margin:3px;     padding:0.4em 1em}
a.ui-button-sidebar-item{    background:url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% #0FAF46;     border:1px solid #456D8B;     color:#FFF;     display:block;     font-weight:700;     margin:3px;     opacity:0.3;     padding:0.4em 1em}
a.ui-button-sidebar-item:hover{    background:url("//images.cdn-anritsu.com/apps/connect/img/gnbgsct.gif") repeat-x scroll left top #1DB239;     color:#9FF}
.ui-button-sidebar-selecteditem{    cursor:pointer;     display:inline-block;     margin-right:0.1em;     overflow:visible;     padding:0;     position:relative;     text-align:left;     text-decoration:none !important}
input.ui-button-sidebar-selecteditem{    background:url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% #0FAF46;     border:1px solid #456D8B;     color:#FFF;     display:block;     font-weight:700;     margin:3px;     padding:0.4em 1em}
a.ui-button-sidebar-selecteditem{    background:url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% #0FAF46;     border:1px solid #456D8B;     color:#FFF;     display:block;     font-weight:700;     margin:3px;     padding:0.4em 1em}
a.ui-button-sidebar-selecteditem:hover{    background:url("//images.cdn-anritsu.com/apps/connect/img/gnbgsct.gif") repeat-x scroll left top #1DB239;  color:#9FF}
.editfeature{ float:right;  margin:0;  padding:10px 0 10px 10px}
.editfeature a{ color:#056063;  float:right;  font-size:11px;  font-weight:normal;  padding-right:10px}
.tiptext{ color:#505050;  font-size:11px}
.tbl-bordered{ border:1px solid red}
.addrtext{ font-size:0.92em;  font-weight:normal;  padding:2px}
.wzheader1{ color:#0FAF46 !important;  font-weight:bolder !important;  padding:10px}
li.numbered{ list-style-type:decimal;  padding:3px}

/*div.gwsbrmenu .modulecontent{vertical-align:top; text-align:left; padding:10px; border:1px solid #446D8D; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; position:relative; background-color:#fff}
div.gwsbrmenu ul{list-style:none; margin:0px; padding:0}

div.gwsbrmenu ul li img{border:none; vertical-align:middle; margin:0 2px 0 0}
div.gwsbrmenu li a{padding:3px 0px 3px 7px; text-decoration:none; background:#fff none; color:#152DBD; display:block}
div.gwsbrmenu li a:hover, divgwsbrmenu li.gwsbrmenu-selected >a{background:#0FAF46 none; color:#fff; text-decoration:none}
div.gwsbrmenu li.gwsbrmenu-root{margin-left:0px; width:177px}
div.gwsbrmenu li.gwsbrmenu-parent{}
div.gwsbrmenu li.gwsbrmenu-leaf{}*/

.menucategory{font-weight:bold; font-size:12px; color: Black}
a.menusmalllink{font-size:11px}

.reports-links-wrapper, .gwsbrmenu{
    text-align:center
}

.reports-links-wrapper ul, .gwsbrmenu ul{
    list-style:none; 
    margin:0px; 
    padding:0;
    display: inline-block;
}
.reports-links-wrapper li, .gwsbrmenu li{
   float: left;
}
.reports-links-wrapper li:after, .gwsbrmenu li:after{
    content: "|";
}
.reports-links-wrapper li:last-child:after, .gwsbrmenu li:last-child:after{
    content: "";
}
.reports-links-wrapper li a, .gwsbrmenu li a{
    padding:3px 7px 3px 7px; 
    text-decoration:none; 
    /*background:#fff none; */
    color:#44bde9; 
}
.reports-links-wrapper li a:hover, .gwsbrmenu li a:hover{
   /*font-weight: bold;*/
   text-decoration:underline;
}
#sitemenuwrap{float:left; width:980px; height:32px; margin:0 0 0 0; background:url('//images.cdn-anritsu.com/apps/connect/img/menubg.gif') repeat-x top left;  list-style-type:none}
#sitemenuwrap *{z-index:1999}
#smnu{}
#smnu a.staticitem{color:#FFF; list-style-type:none;font:bold 1em Verdana,sans-serif;}
#smnu a.staticitem:hover{color:#9FF; background:#1DB239 url('//images.cdn-anritsu.com/apps/connect/img/gnbgsct.gif') repeat-x left top}
#smnu a.dynamicitem{font-weight:normal; font-size:0.92em}
#smnu a.dynamicitem:hover{color:#FFF; background:#0FAF46}
#smnu li.dynamic{border-bottom:1px solid #056063}
#smnu ul li ul { display: none; }
#smnu > ul > li { display: inline-block; list-style: none; }
.moduleadminmenu{margin:-15px 0 0 0; padding:0 10px 30px 10px}
.moduleadminmenu a{font-size:11px; font-weight:normal; color:#056063; float:right}

#ccMenu{}
#ccMenu td{vertical-align:top}
#ccMenu .mitm-list{background-position:5px 20px;  border:none; float:left; min-height:70px; padding:5px 0 10px 35px; width:170px; background:url('//images.cdn-anritsu.com/apps/connect/img/list.png') no-repeat scroll 0 5px transparent; text-align:left}
#ccMenu .mitm-book{background-position:5px 20px;  border:none; float:left; min-height:70px; padding:5px 0 10px 35px; width:170px; background:url('//images.cdn-anritsu.com/apps/connect/img/book.png') no-repeat scroll 0 5px transparent; text-align:left}
#ccMenu .mitm-disk{background-position:5px 20px;  border:none; float:left; min-height:70px; padding:5px 0 10px 35px; width:170px; background:url('//images.cdn-anritsu.com/apps/connect/img/disk.png') no-repeat scroll 0 5px transparent; text-align:left}
#ccMenu .mitm-add{background-position:5px 20px;  border:none; float:left; min-height:70px; padding:5px 0 10px 35px; width:170px; background:url('//images.cdn-anritsu.com/apps/connect/img/add.png') no-repeat scroll 0 5px transparent; text-align:left}
#ccMenu .mitm-activity{background-position:5px 20px;  border:none; float:left; min-height:70px; padding:5px 0 10px 35px; width:170px; background:url('//images.cdn-anritsu.com/apps/connect/img/activity.png') no-repeat scroll 0 5px transparent; text-align:left}
#ccMenu .mitm-elearn{background-position:5px 20px;  border:none; float:left; min-height:70px; padding:5px 0 10px 35px; width:170px; background:url('//images.cdn-anritsu.com/apps/connect/img/elearn.png') no-repeat scroll 0 5px transparent; text-align:left}
#ccMenu .mitm-gear{background-position:5px 20px;  border:none; float:left; min-height:70px; padding:5px 0 10px 35px; width:170px; background:url('//images.cdn-anritsu.com/apps/connect/img/gear.png') no-repeat scroll 0 5px transparent; text-align:left}
#ccMenu .mitm-wtystatus{background-position:5px 20px;  border:none; float:left; min-height:70px; padding:5px 0 10px 35px; width:170px; background:url('//images.cdn-anritsu.com/apps/connect/img/wtystatus.jpg') no-repeat scroll 0 5px transparent; text-align:left}
#ccMenu .mitm-alert{background-position:5px 20px;  border:none; float:left; min-height:70px; padding:5px 0 10px 35px; width:170px; background:url('//images.cdn-anritsu.com/apps/connect/img/alert.png') no-repeat scroll 0 5px transparent; text-align:left}
#ccMenu .mitm-service{background-position:5px 20px;  border:none; float:left; min-height:70px; padding:5px 0 10px 35px; width:170px; background:url('//images.cdn-anritsu.com/apps/connect/img/service.png') no-repeat scroll 0 5px transparent; text-align:left}
#ccMenu h4{margin:0; padding:2px; color:#000; font-size:14px; font-weight:bold; text-decoration:none}
#ccMenu p{margin:0; padding:2px; font-weight:normal}
#ccMenu a{margin:0; padding:2px; font-weight:normal; font-size:11px}

.dfrm-row {
    padding: 5px 0px 10px 0px;
    clear: left;
}

.dfrm-label {
    margin: 1px 1px 1px 1px;
    padding: 2px;
}
/*.dfrm-label-text{font-size:11px; font-weight:bold; color:#505050}*/
.dfrm-settinglabelplain {
    margin: 1px 1px 1px 1px;
    padding: 2px;
    /*font-size: 11px;*/
    /*font-weight: bold;*/
    color: #505050;
}

.dfrm-msg-red {
    color: #f5a623;
    /*font-size: 11px;*/
}

.dfrm-panel {
    /*font-size: 11px;*/
    font-size: 14px;
    font-family: "FrutigerLTW02-45Light";
    padding: 3px;
    vertical-align: top;
}

.dfrm-tbx {
    min-width: 10px;
    border: 1px solid #ccc;
    /*font-size: 11px;*/
    padding: 5px;
}

.dfrm-rdo {
    font-size: inherit;
}

.dfrm-label {
    /*font-size: 11px;*/
    text-align: left;
    font-weight: normal;
}

.dfrm-fieldset {
    margin: 5px 5px 15px 5px;
    padding: 7px 7px 7px 10px;
    background-color: #FCFCFC;
}

    .dfrm-fieldset legend {
        /*font-size: 1em;*/
        font-weight: 800;
        padding: 1px 10px 1px 2px;
        color: #3D3D3D;
    }

.dfrm-cbx {
    vertical-align: middle;
}

    .dfrm-cbx label, input[type="checkbox"] {
        font-size: 14px;
        font-family: "FrutigerLTW02-45Light";
        padding: 0px!important;
        display: inline-block;
        line-height: 12px;
        vertical-align: middle;
        text-indent: 5px;
    }

.dfrm-rdolist {
}

    .dfrm-rdolist label, input[type="radio"] {
        /*font-size: 11px;*/
        padding: 0px 0px 0px 2px!important;
        text-indent: 5px;
        line-height: 12px;
        vertical-align: middle;
    }

div.siteadminmenu{}
div.siteadminmenu ul{margin:0 0 1em -30px}
div.siteadminmenu ul li{float:left; display:block}
div.siteadminmenu ul li  a{line-height:1em; display:block; width:100px; height:40px; float:left; padding:60px 10px 10px 10px; margin:5px; text-decoration:none; border:1px solid #ddd; text-align:center}

html[dir='rtl'] div.siteadminmenu ul li{float:right}
html[dir='rtl'] div.siteadminmenu ul li a{float:right}

div.siteadminmenu ul li a:hover{color:#000; border:1px solid #333; background-color:#eee}

a.lnkSiteSettings{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal_Clear_action_run.png') no-repeat center 10px}

a.lnkSecurityAdvisor, a.lnkSecurityAdvisorWarning{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal_Clear_app_agent.png') no-repeat center 10px}

a.lnkSecurityAdvisorWarning{color:#f5a623 !important; border-color:Red !important}
a.lnkSecurityAdvisorWarning:after{content:"Needs Attention! "}
span.secwarning{display:none}

a.lnkCommerceReports{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal_Clear_app_kchart.png') no-repeat center 10px}
a.lnkContentManager{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal_Clear_mimetype_document.png') no-repeat center 10px}
a.lnkContentWorkFlow{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-content_workflow.png') no-repeat center 10px}
a.lnkContentTemplates{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal_Clear_app_kivio.png') no-repeat center 10px}
a.lnkStyleTemplates{background:url('Crystal-Clear-app-stylesheet.png') no-repeat center 10px}
a.lnkSiteList{background:url('//images.cdn-anritsu.com/apps/connect/img/folder_html.png') no-repeat center 10px}
a.lnkPageTree{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-action-view-tree.png') no-repeat  center 10px}
a.lnkRoleAdmin{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal_Clear_users.png') no-repeat  center 10px}
a.lnkFileManager{background:url('//images.cdn-anritsu.com/apps/connect/img/Cystal_Clear_file_manager.png') no-repeat  center 10px}
a.lnkAddUser{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal_Clear_add_user.png') no-repeat  center 10px}
a.lnkCoreData{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal_Clear_app_database.png') no-repeat  center 10px}
a.lnkAdvancedTools{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-action-configure.png') no-repeat  center 10px}
a.lnkLogViewer{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-mimetype-vcalendar.png') no-repeat  center 10px}
a.lnkServerInfo{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-app-ksysguard.png') no-repeat  center 10px}
a.lnkNewsletter{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-app-kontact.png') no-repeat  center 10px}
a.lnkMemberList{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-kuser2.png') no-repeat  center 10px}
a.lnkCurrencyAdmin{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-currency.png') no-repeat  center 10px}
a.lnkCountryAdmin{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-app-locale.png') no-repeat  center 10px}
a.lnkGeoZone{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-app-browser.png') no-repeat  center 10px}
a.lnkTaxClassAdmin{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-app-kspread.png') no-repeat  center 10px}
a.lnkTaxRateAdmin{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-tax.png') no-repeat  center 10px}
a.lnkUrlManager{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-url.png') no-repeat  center 10px}
a.lnkRedirectManager{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-redirect.png') no-repeat  center 10px}
a.lnkBannedIPs{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear_banned_ip.png') no-repeat  center 10px}
a.lnkFeatureAdmin{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-app-kpackage.png') no-repeat  center 10px}
a.lnkTaskQueue{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal_Clear_action_editpaste.png') no-repeat  center 10px}
a.lnkWebPartAdmin{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal_Clear_Networksettings.png') no-repeat  center 10px}
a.lnkAwaitingApproval{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal_Clear_waiting_approval.png') no-repeat  center 10px}
a.lnkRejectedContent{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal_Clear_rejected_content.png') no-repeat  center 10px}
a.lnkPendingPages{background:url('//images.cdn-anritsu.com/apps/connect/img/FileCrystal-Clear-draft_pages.png') no-repeat  center 10px}
a.AnalyticsMenuLink{background:url('//images.cdn-anritsu.com/apps/connect/img/Crystal-Clear-app-browser.png') no-repeat  center 10px}
a.lnkDevTools{background:url('//images.cdn-anritsu.com/apps/connect/img/devtools.png') no-repeat  center 10px}
a.lnkDesignTools{background:url('//images.cdn-anritsu.com/apps/connect/img/designtools.png') no-repeat  center 10px}
a.lnkRegistrationAgreement{background:url('//images.cdn-anritsu.com/apps/connect/img/RegAgreement.png') no-repeat center 10px}
a.lnkZohoReports{background:url('//images.cdn-anritsu.com/apps/connect/img/zdblogosmall.png') no-repeat center 15px}
.bx1{margin:0 0 20px 0;color:#000;background:#FFF; }
.bx1 .row{ display: table-row; text-align: left;}
.bx1 .row .left, .right{ display: table-cell; }
.bx1 .row .left{ border-right:solid 1px; border-top:solid 1px; border-bottom: solid 1px; border-color: #446D8D; background:url(//images.cdn-anritsu.com/images/gwstyle/border.png) repeat-y left top; text-align: center; min-width: 150px; width: 150px; vertical-align: top; }
.bx1 .row .left img { border: none; margin:5px 0 5px;width:120px;}
.bx1 .row .right{ vertical-align: top; border-bottom: solid 1px; border-right: solid 1px; border-color: #446D8D;}
.bx1 .row .right .titletext { border-bottom:1px solid #446D8D;min-width:432px;height:26px;color:#000;background:#AEC6C6 url(//images.cdn-anritsu.com/images/gwstyle/ttlbarbg.png) repeat-x left top;font-weight:bold;overflow:hidden;text-align:left; padding: 4px 2px 1px 10px;}
.bx1 .row .right .body { padding: 10px; text-align: left;} 
.editicon {background: url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat scroll -93px -38px transparent;float: left;height: 14px;margin: -2px 0 0;width: 16px;}
.requestlogo{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -88px -151px;width:22px;height:16px;float:left}
.panelimg{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -115px -50px;float:left;height:10px;width:9px}
.btnlt,.btnrt{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -3px -40px;float:left;height:20px;width:4px}
.btnrt{background-position:-20px -40px}
.cbtnlt,.cbtnrt{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -1px -18px;float:left;height:17px;width:4px}
.cbtnrt{background-position:-17px -18px}
.garrow{padding:0px 0px 0px 0px}
.garrow img{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -112px -18px;height:8px;width:10px;padding:0px 0px 0px 0px}
.personalico,.myemailico,.allowedipico,.grpico,.usrprefico,.authsiteico,.qaico,.usrsessionico,.loginhistoryico,.terminateico,.passico,.thirdpartyico{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -30px -75px;width:28px;height:30px;float:left}
.personalico{background-position:-120px -149px}
.allowedipico{background-position:-125px -81px}
.grpico{background-position:-39px -250px}
.usrprefico{background-position:-85px -172px}
.authsiteico{background-position:-44px -179px}
.qaico{background-position:-124px -120px}
.passico{background-position:-87px -236px}
.usrsessionico{background-position:-43px -216px}
.loginhistoryico{background-position:-126px -45px}
.terminateico{background-position:-45px -141px}
.thirdpartyico{background-position:-123px -182px}
.resendicon{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -11px -239px;margin:-2px 2px 0px 0px;width:16px;height:15px;float:left}
.deleteicon{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -93px -57px;margin:0px 2px 0px 0px;width:12px;height:13px;float:left}
.unconfirm{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -68px -109px}
.unconfirmstatus{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -68px -109px;width:14px;float:left;margin:8px 0px 2px 7px;padding-right:2px}
.mkprimaryicon{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -64px -72px;margin:-2px 1px 0px 0px;height:15px;width:18px;float:left}
.ficon_email{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -133px -18px;padding:3px 8px 0px 8px}
.passpolicyicon{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -99px -21px;height:9px;width:7px;margin:5px 3px 0px 20px;float:left}
.alertmsg{width:700px;margin-top:4px;margin-bottom:4px}
.alertmsgdiv{color:#f00;*float:left}
.alertmsgdiv ul{margin:5px 0px 0px 34px;color:#f5a623;line-height:16px}
.clraccmsg{color:#f00;height:33px}
.alertmsg img, .clraccmsg img{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -2px -201px;width:34px;height:33px;margin-left:5px;float:left}
.pendingoperationlt, .pendingoperationrt{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -2px -86px;float:left;height:20px;width:4px}
.pendingoperationrt{background-position:-19px -86px}
.pendingoperationco{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') repeat-x 0px -214px;line-height:10px;cursor:pointer;font-size:11px;color:#62616A;border-top:1px solid #BDC2C5;border-bottom:1px solid #BDC2C5;text-align:center;padding-top:2px;height:13px;float:left}
.disable{color:#D5D2D5;cursor:default}
.rarrow{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -98px -19px;padding-left:10px}
.close{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -89px -109px;height:16px;width:16px;overflow:hidden;vertical-align:middle;cursor:pointer;float:right}
.mrptplicon{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -2px -201px;height:35px;width:37px;overflow:hidden;vertical-align:middle;float:left}
.helparrow{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -99px -8px;width:8px;height:6px;border:0;margin-left:2px}
.paymentalert{background:transparent url('//images.cdn-anritsu.com/apps/connect/img/iconset2.gif') no-repeat -3px -201px; width:33px; height:33px; margin:0px 5px; float:left}
div.cart-treeview{ border: none !important; } /*a{cursor: pointer!important;}*/
.dlbl{font-size:11px; color: #505050; padding-right: 5px; }
.dltxt{font-size:11px; white-space: wrap!important;}
a.dlsm{font-size:11px; color: #377F82;}
.movetoright {float: right!important;}
.ddlsmall{border:1px solid #CCC;font-size:11px;padding:2px 2px 2px 2px;}
.ddlsmall option{padding:2px 5px;}
.hmres{ margin: 15px 10px 15px 25px;}
.hmres a:hover{ text-decoration: none; }
.hmres td{ vertical-align: top; }
.hmres h4{margin:0; padding:2px; color:#000; font-size:14px; font-weight:bold; text-decoration:none;}
.hmres img { border: none; width: 100px; height: 100px; }
.hmres p{margin:0; padding:2px; font-weight:normal}
.hmres .mitm{border: medium none;float: left;height: 50px;padding: 0px 0 10px 0px;text-align: left;width: 33%;}
.hmres .mitm-book {background: url("//images.cdn-anritsu.com/apps/connect/img/book.png") no-repeat scroll 0 5px transparent;border: medium none;float: left;min-height: 25px;padding: 10px 0 10px 35px;text-align: left;width: 181px;}
.hmres .mitm-filemgr {background: url("//images.cdn-anritsu.com/apps/connect/img/Cystal_Clear_file_manager.png") no-repeat scroll 0 5px transparent;border: medium none;float: left;min-height: 25px;padding: 10px 0 10px 50px;text-align: left;width: 181px;}
.hmres .mitm-doc {background: url("//images.cdn-anritsu.com/apps/connect/img/document.png") no-repeat scroll 0 5px transparent;border: medium none;float: left;min-height: 25px;padding: 1px 0 10px 35px;text-align: left;width: 181px; }
.hmres .mitm-sw { background: url("//images.cdn-anritsu.com/apps/connect/img/download.png") no-repeat scroll 0 5px transparent; border: medium none; float: left; min-height: 25px; padding: 1px 0 10px 35px; text-align: left; width: 181px; background-size: 32px,32px;}
.mitm-regprodadd{background-position:5px 20px;  border:none; min-height:20px; padding:10px 0 10px 35px; width:190px; background:url('//images.cdn-anritsu.com/apps/connect/img/registrater.png') no-repeat scroll 0 5px transparent; text-align:left}
.mitm-regprods{background-position:5px 20px;  border:none; min-height:20px; padding:10px 0 10px 35px; width:190px; background:url('//images.cdn-anritsu.com/apps/connect/img/registered.png') no-repeat scroll 0 5px transparent;text-align:left;}
.hmres .mitm-list{background-position:5px 20px;  border:none; float:left; min-height:20px; padding:10px 0 10px 35px; width:190px; background:url('//images.cdn-anritsu.com/apps/connect/img/account.png') no-repeat scroll 0 5px transparent; text-align:left}
.hmres .mitm-book{background-position:5px 20px;  border:none; float:left; min-height:20px; padding:10px 0 10px 35px; width:150px; background:url('//images.cdn-anritsu.com/apps/connect/img/book.png') no-repeat scroll 0 5px transparent; text-align:left}
.hmres .mitm-disk{background-position:5px 20px;  border:none; float:left; min-height:20px; padding:10px 0 10px 35px; width:150px; background:url('//images.cdn-anritsu.com/apps/connect/img/disk.png') no-repeat scroll 0 5px transparent; text-align:left}
.hmres .mitm-add{background-position:5px 20px;  border:none; float:left; min-height:20px; padding:10px 0 10px 35px; width:150px; background:url('//images.cdn-anritsu.com/apps/connect/img/add.png') no-repeat scroll 0 5px transparent; text-align:left}
.hmres .mitm-activity{background-position:5px 20px;  border:none; float:left; min-height:20px; padding:10px 0 10px 35px; width:150px; background:url('//images.cdn-anritsu.com/apps/connect/img/order.png') no-repeat scroll 0 5px transparent; text-align:left}
.hmres .mitm-repair{background-position:5px 20px;  border:none; float:left; min-height:20px; padding:10px 0 10px 35px; width:150px; background:url('//images.cdn-anritsu.com/apps/connect/img/repair.png') no-repeat scroll 0 5px transparent; text-align:left}
.hmres .mitm-elearn{background-position:5px 20px;  border:none; float:left; min-height:20px; padding:10px 0 10px 35px; width:150px; background:url('//images.cdn-anritsu.com/apps/connect/img/talk.png') no-repeat scroll 0 5px transparent; text-align:left}
.hmres .mitm-training{background-position:5px 20px;  border:none; float:left; min-height:20px; padding:10px 0 10px 35px; width:150px; background:url('//images.cdn-anritsu.com/apps/connect/img/training.png') no-repeat scroll 0 5px transparent; text-align:left}
.hmres .mitm-gear{background-position:5px 20px;  border:none; float:left; min-height:20px; padding:10px 0 10px 35px; width:150px; background:url('//images.cdn-anritsu.com/apps/connect/img/technicalsupport.png') no-repeat scroll 0 5px transparent; text-align:left}
.hmres .mitm-wtystatus{background-position:5px 20px;  border:none; float:left; min-height:20px; padding:10px 0 10px 35px; width:150px; background:url('//images.cdn-anritsu.com/apps/connect/img/warranty.png') no-repeat scroll 0 5px transparent; text-align:left}
.hmres .mitm-alert{background-position:5px 20px;  border:none; float:left; min-height:20px; padding:10px 0 10px 35px; width:150px; background:url('//images.cdn-anritsu.com/apps/connect/img/alert.png') no-repeat scroll 0 5px transparent; text-align:left}
.hmres .mitm-service{background-position:5px 20px;  border:none; float:left; min-height:20px; padding:10px 0 10px 35px; width:150px; background:url('//images.cdn-anritsu.com/apps/connect/img/schedule.png') no-repeat scroll 0 5px transparent; text-align:left}
.hmres .mitm-support{background-position:5px 20px;  border:none; float:left; min-height:20px; padding:10px 0 10px 35px; width:150px; background:url('//images.cdn-anritsu.com/apps/connect/img/support.png') no-repeat scroll 0 5px transparent; text-align:left}
.hmres .mitm-techsupport{background-position:5px 20px;  border:none; float:left; min-height:20px; padding:10px 0 10px 35px; width:200px; background:url('//images.cdn-anritsu.com/apps/connect/img/request.png') no-repeat scroll 0 5px transparent; text-align:left}
.settingCustomText{ width: 95%; background-color: #FFF0F5; border-radius: 15px; padding: 10px 10px 10px 10px;text-align:left;}
.SnWarningMsg	{text-align: left;padding-left:20px; width:300px;}
/**Added 12 March 2013**/
.bar {width: 100%; border-top:solid 2px #FFFFFF; padding:0px 0px 5px 0px; zoom: 1; z-index: 10000; color: #000; left: 0; position: fixed; bottom:0; background-image: url("//images.cdn-anritsu.com/apps/connect/img/orange.png"); display:none}
#inner {width: 80%; margin: 0 auto;}
#inner .warningText {width: 60%; font-size: 1.15em; padding: 10px 0px 0px 0px; line-height: 16px; display: block; margin-left: auto; margin-right: auto; text-align: left;}
#inner .browserLogos {width: 50%; display: block; margin-left: auto; margin-right: auto; padding: 10px 0 5px; text-align: center;}
#inner .browserLogos a img {padding: 0px 10px; text-decoration: none}
a img {border: 0}
#expanderHead img {vertical-align: middle; padding: 2px 3px;}
#expanderHead {text-align: center; margin-bottom: -8px; letter-spacing: 0.03em; color: #000000;}
#expanderSign { margin-top: 5px; position: fixed; right: 15px;}
#logo {margin-top:-3px; position: fixed; left: 10px;}

/**Added 18 Oct 2013 ***/
/* MA-489 
 @media screen and (-webkit-min-device-pixel-ratio:0){#form1 #pagebody #sitemenuwrap #smnu ul.level1.static {margin-top: -15px;}} */
.templateTable{border-collapse: collapse;width: 100%;}
.templateTable td{border: solid 1px #C2D4DA;padding: 6px;}
.templateTable td.value{font-weight: bold;min-width: 150px;}
.mitm-dist{background-position:5px 20px;  border:none; min-height:20px; padding:10px 0 10px 35px; width:190px; background:url('//images.cdn-anritsu.com/apps/connect/img/distributorIcon.png') no-repeat scroll 0 5px transparent; text-align:left;}
.label {padding: 1px 4px 2px;
  font-size: 10.998px;
  font-weight: bold;
  line-height: 13px;
  color: #ffffff;
  vertical-align: middle;
  white-space: pre-wrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.label:hover {color: #ffffff;text-decoration: none;}
.label-important {background-color: #b94a48;}
.label-important:hover {background-color: #953b39;}
.label-warning {background-color: #f89406;}
.label-warning:hover {background-color: #c67605;}
.label-success {background-color: #468847;display:inline-block;margin-bottom:5px;}
.label-success:hover {background-color: #356635;}
.label-info {background-color: #3a87ad;}
.label-info:hover {background-color: #2d6987;}
.label-inverse {background-color: #333333;}
.label-inverse:hover {background-color: #1a1a1a;}
.badge {padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {color: #ffffff;text-decoration: none;cursor: pointer;}
.badge-error {background-color: #b94a48;}
.badge-error:hover {background-color: #953b39;}
.badge-warning {background-color: #f89406;}
.badge-warning:hover {background-color: #c67605;}
.badge-success {background-color: #468847;}
.badge-success:hover {background-color: #356635;}
.badge-info {background-color: #3a87ad;}
.badge-info:hover {background-color: #2d6987;}
.badge-inverse {background-color: #333333;}
.badge-inverse:hover {background-color: #1a1a1a;}
.btnInline { display: inline-table; }
.imglist{max-height: 20px;}
/*.settinglabel-15{color: #505050;}*/

#divCLnkDCtnrDisPtl_LeftNav { width: 190px; margin-left: auto!important; margin-right: auto!important; text-align: center; }
#divCLnkDCtnrDisPtl_LeftNav .item { padding: 10px; }
#divCLnkDCtnrDisPtl_LeftNav a img { border: medium none; max-width: 195px; }

#divCLnkDCtnrDisPtl_SisProdInfo { width: 550px; text-align: left; padding: 0;}
    #divCLnkDCtnrDisPtl_SisProdInfo ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #divCLnkDCtnrDisPtl_SisProdInfo li
    {
        list-style-type: none;
        float: left;
        padding: 0px;
        margin: 0;
        padding-right: 20px;
        
    }
.tabBorder { margin:0; border:1px solid #898c95; border-top: none; background:#fff; min-height:100px; padding: 10px; }
.companyinfo legend {
    color: #666666;
    padding: 2px 4px 3px;
	display:table
}
.companyinfo fieldset {
    padding-top:0;
}
/*.companyinfo .settingrow > span {
    float: left;
}*/
.companyinfo .settinglabelplain {
    display: inline-block;
    /*font-size: 11px;
    font-weight: bold;*/
    padding: 1px;
    width: 150px;
}
.companyinfo .addrtext{padding:0px}
/*.companyinfo fieldset p {
    font:11px Verdana;
    margin:0 12px 5px 5px;
}*/
.settinglabelplain + span {
    width:210px !important;
}
/*.dxtcLite_AnritsuDevXTheme .dxtc-link:hover {
    color:#99FFFF !important;
}*/
.dxtcLite_AnritsuDevXTheme .dxtc-activeTab .dxtc-link:hover {
    color:#086F87 !important;
}
.settingrowfield {
    width: 110px;
    display: inline-block;
}
.dxeMemoEditAreaSys, input.dxeEditAreaSys[type="text"], input.dxeEditAreaSys[type="password"] {
    padding:2px 0;
}
/*.dxtc-strip {
    width:100% !important;
}*/
td.dxgv {
    /*border-bottom:1px solid #ccc !important;*/
    vertical-align:top;
	padding-right: 5px; /* added padding as part of bug-fix My-Anritsu Phase - III */
}
.cart-tabstrip-inner-wrapper {
    border: 1px solid #9da0aa;
    border-top: 0px;
    background: #f9f9f9;
}
.rightside a {
    /*font-weight:normal !important;*/
}
.blueit {
    color: #44bde9;
}
.blueit:hover {
    color: #44bde9;
    text-decoration:underline;
    /*font-weight: bold;*/
}
.tablecell {
    display: table-cell;
    padding: 8px 0 !important;
}
.dfrm-rdo label {
    display: inline-block;
    padding-left: 5px;
}
.block-label label {
    width:550px;
}
/*.dfrm-rdo input[type="radio"] {
    vertical-align: top;
}*/

/* temp css */

.settinglabel{ width:160px}
.dxpcHeader_AnritsuDevXTheme {
    background: url("//images.cdn-anritsu.com/apps/connect/img/ttlbarbg.png") repeat-x scroll left top rgba(0, 0, 0, 0);
}
span.field {
    display: inline-block;
    float: left;
    width: 50px;
}
.required-field-validator {
    color:#f5a623;
    display:none;
    color: #FF0000;
    float: left;
    font-size: 11px;
    padding-left: 3px;
    padding-top: 5px;
}

.dxeButtonEditSys.dxeButtonEdit_AnritsuDevXTheme {
    float:left;
    margin-right:2px
}

/*input[type=submit] {
    height:30px;
}*/
.body .defaultSkin table.mceLayout {
    max-width:92%;
}
.center-buttons {
    width: 480px;
    margin: 15px auto;
}
#model {
    width:100%;
    float:left;
}
.error-msg {
    width:200px !important;
    color:#f5a623;
}

#results {
    border:1px solid #ccc;
    border-top:none;
    font:bold 12px arial;
    max-height:233px;
    overflow-x:hidden;
    overflow-y:auto;
    min-width:300px;    
    box-shadow: 1px 1px 2px #CCCCCC;     
    background:#FFF;
    position: absolute;
    z-index: 100;   
}
.tpl {
	border-bottom: 1px solid #ccc;
	padding:5px 3px;
    list-style:none;
}
.tpl:hover {
    color:white;
    background:url("//images.cdn-anritsu.com/images/gwstyle/sprite-v-v1.gif") repeat-x scroll 0 -945px #1DB239;
    }
.bck {
    color:white;
    background:url("//images.cdn-anritsu.com/images/gwstyle/sprite-v-v1.gif") repeat-x scroll 0 -945px #1DB239;
}
#model > img {
    margin: 0 5px 5px 5px;
    vertical-align: middle;
    display:none;   
}
#_browseButton {
    /*background: url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% #0FAF46;
    border: 1px solid #0FAF46;*/
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    padding:2px 0;
    font-weight: bold;    
    text-align: center;
    vertical-align: top;
    width: 36px;
}
#_browseButton .arrow {
    background: url("//images.cdn-anritsu.com/apps/connect/img/white_filter.png") no-repeat scroll -1px -76px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 10px;
    width: 10px;
}
.ui-link-button {
    background: url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% #0FAF46;
    border: 1px solid #456D8B;
    color: #FFFFFF !important;
    display: inline-block;
    font-family: MS Shell Dlg;
    font-size:13px;
    padding: 0.4em 1em;
    vertical-align: top;
    line-height:18px;
}

.ui-link-button:hover {
    color: #FFFFFF;
    text-decoration:none;
}
.bold-important {
    font-weight:bold !important;
}
.tableOutlineWt { BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #666666 1px solid; MARGIN-TOP: 0px; OVERFLOW: auto; BORDER-LEFT: #333333 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; }
input.ui-button {
    min-width:84px;
}

.block-label label {
    width:550px;
}
.settinglabelrgt-12{ 
    clear: left; 
    float: left; 
    width:12em; 
    font-size: 11px; 
    font-weight: bold; 
    text-align: right; 
    margin-right: 10px;
    line-height:24px;
}

.dxgvDetailButton_AnritsuDevXTheme.dxgv {
    width:13px !important;
}
.edit-icon,.new-icon,.delete-icon {
	background:url("//images.cdn-anritsu.com/apps/connect/img/user-action-black-icons.png") no-repeat scroll;
	height:24px;
    width:30px;
	padding: 0 !important;
}
.edit-icon {background-position:-102px -25px;}
.new-icon {background-position:-23px -104px;}
.delete-icon {background-position:-49px -25px;}

/* start of new styles as part of bug fix My-Anritsu Phase - III */
.dxgvTable_AnritsuDevXTheme .dxgvCommandColumn_AnritsuDevXTheme a:first-child{
	padding: 0 3px 0 0;
}
.dxgvTable_AnritsuDevXTheme .dxgvCommandColumn_AnritsuDevXTheme a:last-child{
	padding: 0 0 0 3px;
}
.dxflHALSys.dxflVATSys.dxflCaptionCell_AnritsuDevXTheme.dxflCaptionCellSys{
	padding-top: 8px;
}
.dxflGroupCell_AnritsuDevXTheme .dxflNestedControlCell_AnritsuDevXTheme{
	margin-bottom: 25px;
    float:left;
}
.full-width{
	Width: 100%;
}
.float-right{
	float: right;
}
.float-left {
    float: left;
}
.text-right {
    text-align: right;
}
.dxpc-contentWrapper .dxeEditArea_AnritsuDevXTheme.dxeEditAreaSys{
	height: 14px;
}
.dfrm-row .dfrm-rdolist span {
    margin: 0 15px;
}
.overflow {
    overflow: hidden;
}
.inline-block {
    display: inline-block;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
#cphContentTop_SupportType_ManageCtrl1_gridSupportType_DXMainTable .dxgv {
    width: 5%;
    word-break: break-all;
}
.downloads-table td, .license-table td, .version-table td {
    word-break: break-all;
    border: 0 none;
}
.downloads-table {
    margin-bottom:15px;
}
.downloads-table td span.dlbl, .license-table td span.dlbl, .version-table td span.dlbl {
    display: block;
}
#cphContentTop_pfdetailcrtl_reslcNotificatonText_dgList {
    width: 100%;
}
#cphContentTop_pfdetailcrtl_cmbAddNewLang {
    width: 100%;
}
#cphContentTop_pfdetailcrtl_reslcNotificatonText_dgList tr td:first-child {
   width: 75%;
}
.dfrm-cbx label {
    margin-right: 10px;
}
.gray {
    color: #666666
}
.line-height-25 {
    line-height: 25px;
}
/* End of new styles*/
/* temp css end */


/*Styles of PrivateResource_DownloadsCtrl*/
td.dxgvIndentCell
        {
            border-bottom: 0 !important;
        }

        .removeborder td
        {
            border-bottom: 0 !important;
        }

        .seperation table td
        {
            border-bottom: 1px inset !important;
        }

        td.dxgvDetailButton_AnritsuDevXTheme
        {
            border-bottom: 0 !important;
        }

        td.dxgvDetailCell_AnritsuDevXTheme
        {
            padding-top: 0px !important;
            padding-right: 0px !important;
            padding-left: 0px !important;
            padding-bottom: 5px !important;
        }
    /*End of styles of PrivateResources_DownloadsCtrl*/

    /*start of styles of PackageAdminDetail_JPCtrl*/

    .col { border: 1px solid #FFFFFF; float: left; width: 166px; }
    .add-fileds { text-align: right; width: 155px; display: inline-block; float: none !important; }

    /*end of styles of PackageAdminDetail_JPCtrl*/

    /*Start of styles os SupportType_ManageCtrl*/

    .dxpc-contentWrapper table td, td.dx {
        border: none;
        padding: 3px;
    }

    td.dxic, td.dxic + td {
        border: none;
        padding: 0;
    }

    .ui-widget-header {
        border: 1px solid #4297D7;
        color: #EAF5F7;
        font-weight: bold;
    }
     .ui-autocomplete-loading { 
        background:none;

    }
    .ui-autocomplete { height: 175px; width:300px; overflow-y: scroll; overflow-x: scroll;}

    .col {
        border: 1px solid #FFFFFF;
        float: left;
        width: 166px;
    }

    .add-fileds {
        text-align: right;
        width: 155px;
        display: inline-block;
        float: none !important;
    }

    .ui-widget-header {
        border: 1px solid #4297D7;
        background: url("//images.cdn-anritsu.com/apps/connect/img/ui-bg_highlight-soft_35_0faf46_1x100.png") repeat-x scroll 50% 50% #0FAF46;
        color: #EAF5F7;
        font-weight: bold;
    }

    .hiddenstyle {
        display: none;
    }
    .left {
        float:left;      
    }
    .dxpcLite_AnritsuDevXTheme a, .dxdpLite_AnritsuDevXTheme a {
        color: #FFFFFF;
        text-decoration: none;
        font-weight:bold;
        font-family:Arial,sans-serif;
    }

    .align-margin {
        text-align: right; 
        margin-top: -38px;
    }
.div-wrapper {
   /* width:300px;
    height:25px;*/
    margin-left:10px;
    margin-bottom:10px;
    font-size:14px;
}
.updateButton-wrapper, .cancelButton-wrapper {
    /*float:left;
    height:20px;
    margin-left:150px;
    background:none repeat scroll 0 0 #0FAF46;
    border: 1px solid black;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    width:50px;*/

      text-transform: uppercase;
  border: none;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  zoom: 1;
  /*padding: 10px 24px;*/
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  /*background: #2b7690;*/
  font-weight: bold;
}
/*.cancelButton-wrapper {
    float:right;
    height:20px;
    background: none repeat scroll 0 0 #0FAF46;
    border: 1px solid black;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    width:50px;
}*/
.updateButton-wrapper img, .cancelButton-wrapper img{
    width: 110px;
    height: 46px;
}
.updateButton-wrapper img{
	background-image: url('//images.cdn-anritsu.com/apps/connect/img/Update1.PNG');
}
.cancelButton-wrapper img{
	background-image: url('//images.cdn-anritsu.com/apps/connect/img/CancelHover.PNG');
}
.updateButton-wrapper img:hover{
	background-image: url('//images.cdn-anritsu.com/apps/connect/img/UpdateHover.PNG');
}
.cancelButton-wrapper img:hover{
	background-image: url('//images.cdn-anritsu.com/apps/connect/img/Cancel.PNG');
}

    /*end of styles os SupportType_ManageCtrl*/

    /*Start of styles of DocHeaderMaster.Master*/

    #pagebodydoc
        {
            color: #666666;
            font-size: 0.92em;
            margin: 0 auto;
            position: relative;
            width: 980px;
            background-color: White;
        }
        .doccontent
        {
            text-align: justify;
            width: 980px;
            margin-top: -10px;
        }
        .redconf
        {
            color: #f5a623;
            font-size: 11px;
        }

    /*End of Styles of DocHeaderMaster.Master*/

    /*start of PackageAdminDetail_JPCtrl*/

.chkaddpackage-section {
    margin-left:6px;
    margin-top:-10px;
}
.chkaddpackage-wrapper {
    margin-top:0px;
    float:left;
    width: 30px
}
.lcalAssignPackage-wrapper {
    font-family: arial,sans-serif,verdana;
    font-size: 11px;
    font-weight: bold;
    float:left;
    line-height:21px;
}

    /*End of PackageAdminDetail_JPCtrl*/

    /*Start of Dynamic_SupportTypeCtrl*/

.dynamic-supportType-container {
    border:none;
    height:30px;
}
.cblSupType1-wrapper {
    float: left;margin-left:2px;
}
.adExpiry-wrapper {
    float:right;
    /*margin-right:47px*/
}
.adExpiry-wrapper .settingrow {
    margin-left:45px
}
    /*End of Dynamic_SupportTypeCtrl*/

    /*star of styles of ProdReg_Item_JPDLCtrl*/

.lcalGoToPack-wrapper {
    text-align: right; 
    display: inline-block; 
    float: right; 
    margin-bottom: 10px;
}

     /*end of styles of ProdReg_Item_JPDLCtrl*/

     /*Start of Manage_Config_JPSW*/

.tabContent{
    min-height: 300px; margin:0 auto 10px auto;color: Black; width: 98%
}

     /*End of Manage_Config_JPSW*/




     /*New Styles*/
.blueit-hover {
    font-size: 14px;
    font-weight: 100;
}
.blueit-hover:hover {
    color: #44bde9;
    text-decoration: underline;
}
.dxtcLite_AnritsuDevXTheme > .dxtc-stripContainer .dxtc-activeTab .dxtc-link {
    background: #f9f9f9;
}
#cphContentTop_HomeSupportResourcesCtrl1_dlAddOnLinks td {
    width: 32%;
}
.company-profile-radio-container input {
    margin-top: 4px;
}
.header .nav .desktop {
    color: #fff;
    font-weight: bold;
    line-height: 40px;
    margin-right: 15px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}
.link-details{
    margin-left: 5px;
    padding-right: 5px;
    border-right: 1px solid black;
}
.link-details:last-child{
    border: 0px;
}
.link-details:first-child{
    margin-left: 0px;
}
.link-details-wrapper {
    margin: 5px 0;
}
.input-checkbox p label{
    margin: 0;
}
.title-green {
    color: #289b7d;
}
.detailed-label{
    font-size:11px;
    color:#788287;
}
.small-button.button{
    padding:10px;
    font-size: 11px;
}
.popup-button.button{
    padding:5px 10px;
}
.word-break-all{
	word-break: break-all;
}

.footeradmin.admin-links ul{
	color:white;
}
.footeradmin.admin-links ul li a{
	padding: 0 10px
}
.footeradmin.admin-links ul li:first-child a{
	padding-left: 0px
}
.footeradmin.admin-links ul li:after{
	content: "|";
}
.footeradmin.admin-links ul li:last-child:after{
	content: " ";
}