﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteAdmin/Reports/General/ReportFeedback.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="Anritsu.Connect.Web.SiteAdmin.Reports.General.Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphReportGeneralHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphReportGeneralPageTitle" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphReportGeneralTopList" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphReportGeneralLeft1" runat="server">
</asp:Content>
<%--<asp:Content ID="Content5" ContentPlaceHolderID="cphReportGeneralContentTop" runat="server">
  
</asp:Content>--%>
<asp:Content ID="Content6" ContentPlaceHolderID="cphReportGeneralContentBottom" runat="server">
      <div class="settingrow">
        <iframe frameborder='0' width='100%' height='950' src='https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=743878000036283230&STANDALONE=true&ZDB_THEME_NAME=blue&DATATYPESYMBOL=true&REMTOOLBAR=false&SEARCHBOX=true&SHOWHIDEOPT=true'></iframe>
    </div>
</asp:Content>
