﻿<%@ Master Language="C#" MasterPageFile="~/App_MasterPages/SiteDefault.Master" AutoEventWireup="true" CodeBehind="ReportFeedback.Master.cs" Inherits="Anritsu.Connect.Web.SiteAdmin.Reports.General.ReportFeedback" %>
<%@ Register Src="~/App_Controls/AdminRPT_MenuGeneralCtrl.ascx" TagPrefix="uc1" TagName="AdminRPT_MenuGeneralCtrl" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <asp:ContentPlaceHolder ID="cphReportGeneralHead" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphPageTitle" runat="server">
    <asp:ContentPlaceHolder ID="cphReportGeneralPageTitle" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphTopList" runat="server">
    <asp:ContentPlaceHolder ID="cphReportGeneralTopList" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphLeft_Top" runat="server">
 
<asp:ContentPlaceHolder ID="cphReportGeneralLeft1" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="cphContentTop" runat="server">
    <uc1:AdminRPT_MenuGeneralCtrl runat="server" ID="AdminRPT_MenuGeneralCtrl1" />
    <asp:ContentPlaceHolder ID="cphReportGeneralContentTop" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="cphContentCenterLeft" runat="server">
</asp:Content>
<asp:Content ID="Content7" ContentPlaceHolderID="cphContentCenterRight" runat="server">
</asp:Content>
<asp:Content ID="Content8" ContentPlaceHolderID="cphContentBottom" runat="server">
    <asp:ContentPlaceHolder ID="cphReportGeneralContentBottom" runat="server"></asp:ContentPlaceHolder>    
</asp:Content>
