﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="OrgAdmin_TabsCtrl.ascx.cs" Inherits="Anritsu.Connect.Web.App_Controls.Admin_Org.OrgAdmin_TabsCtrl" %>
<dx:ASPxTabControl ID="dxOrgAdminTabs" runat="server" Theme="AnritsuDevXTheme" Width="100%"></dx:ASPxTabControl>
