/* -- ValidationSummary -- */
.dxvsValidationSummary_AnritsuDevXTheme
{
	font: 11px Verdana, Geneva, sans-serif;
	color: Red;
}
.dxvsValidationSummary_AnritsuDevXTheme td.dxvsRC_AnritsuDevXTheme
{
	vertical-align: top;
	padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_AnritsuDevXTheme .dxvsE_AnritsuDevXTheme
{
}
.dxvsValidationSummary_AnritsuDevXTheme table.dxvsHT_AnritsuDevXTheme
{
	width: 100%;
}
.dxvsValidationSummary_AnritsuDevXTheme td.dxvsH_AnritsuDevXTheme
{
	padding: 2px 0;
}
.dxvsValidationSummary_AnritsuDevXTheme a.dxvsHL_AnritsuDevXTheme,
.dxvsValidationSummary_AnritsuDevXTheme a.dxvsHL_AnritsuDevXTheme:visited
{
	color: red;
}
.dxvsValidationSummary_AnritsuDevXTheme a.dxvsHL_AnritsuDevXTheme
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_AnritsuDevXTheme a.dxvsHL_AnritsuDevXTheme:hover
{
	color: #f70;
}
.dxvsValidationSummary_AnritsuDevXTheme table.dxvsT_AnritsuDevXTheme
{
}
.dxvsValidationSummary_AnritsuDevXTheme tr.dxvsE_AnritsuDevXTheme
{
}
.dxvsValidationSummary_AnritsuDevXTheme td.dxvsETC_AnritsuDevXTheme
{
	padding: 2px 0;
}
.dxvsValidationSummary_AnritsuDevXTheme ul.dxvsL_AnritsuDevXTheme
{
}
.dxvsValidationSummary_AnritsuDevXTheme ol.dxvsL_AnritsuDevXTheme
{
}
.dxvsValidationSummary_AnritsuDevXTheme li.dxvsE_AnritsuDevXTheme
{
	padding: 2px 0;
}

/* TrackBar */
.dxeTrackBar_AnritsuDevXTheme
{
    font: 11px Verdana, Geneva, sans-serif;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	visibility: hidden;
}

.dxeDisabled_AnritsuDevXTheme .dxeTBHSys a,
.dxeDisabled_AnritsuDevXTheme .dxeTBVSys a
{
    cursor: default;
}

.dxeTBBarHighlight_AnritsuDevXTheme
{
	font-size: 0;
}

.dxeTBScale_AnritsuDevXTheme,
.dxeTBTrack_AnritsuDevXTheme,
.dxeTBBarHighlight_AnritsuDevXTheme
{
	cursor: pointer;
}

.dxeTBScale_AnritsuDevXTheme
{
	z-index: 1;
	font-size: 0.91em;
}
.dxeTBSecondaryDH_AnritsuDevXTheme,
.dxeTBMainDH_AnritsuDevXTheme
{
	z-index: 4;
}

.dxeTrackBar_AnritsuDevXTheme.dxeTBHSys
{
	width: 170px;
	height: 47px;
}
.dxeTrackBar_AnritsuDevXTheme.dxeTBVSys
{
	height: 170px;
	width: 47px;
}
.dxeTrackBar_AnritsuDevXTheme.dxeTBBScaleSys.dxeTBVSys
{
	width: 70px;
}
.dxeTrackBar_AnritsuDevXTheme.dxeTBBScaleSys.dxeTBHSys
{	
	height: 70px;
}

.dxeTBTrack_AnritsuDevXTheme
{
	z-index: 2;
	position: absolute;
}

.dxeTBHSys .dxeTBTrack_AnritsuDevXTheme
{
	background-image:  url('edtTrackBarTrackH.gif');
}
.dxeTBVSys .dxeTBTrack_AnritsuDevXTheme
{
	background-image:  url('edtTrackBarTrackV.gif');
}

.dxeTBHSys .dxeTBTrack_AnritsuDevXTheme, 
.dxeTBHSys .dxeTBBarHighlight_AnritsuDevXTheme
{
	height: 9px;
}
.dxeTBVSys .dxeTBTrack_AnritsuDevXTheme, 
.dxeTBVSys .dxeTBBarHighlight_AnritsuDevXTheme
{
	width: 9px;
}

.dxeTBHSys .dxeTBMainDH_AnritsuDevXTheme,
.dxeTBHSys .dxeTBSecondaryDH_AnritsuDevXTheme
{	
	top: -5px;
	width:13px;
	height:19px;
}
.dxeTBVSys .dxeTBMainDH_AnritsuDevXTheme,
.dxeTBVSys .dxeTBSecondaryDH_AnritsuDevXTheme
{
	left: -5px;
	width:19px;
	height:13px;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBTrack_AnritsuDevXTheme,
.dxeTBVSys .dxeTBTrack_AnritsuDevXTheme
{
	left: 6px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBTrack_AnritsuDevXTheme
{
	right: 6px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBTrack_AnritsuDevXTheme
{
	bottom: 6px;
	top: auto;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack_AnritsuDevXTheme,
.dxeTBHSys .dxeTBTrack_AnritsuDevXTheme
{
	top: 6px;
}

.dxeTBBarHighlight_AnritsuDevXTheme
{
	left: 0px;
	top: 0px;
	position:absolute;
	z-index: 3;
}

.dxeTBHSys .dxeTBBarHighlight_AnritsuDevXTheme
{
	background-image:  url('edtTrackBarBarHighlightH.gif');
}
.dxeTBVSys .dxeTBBarHighlight_AnritsuDevXTheme
{
	background-image:  url('edtTrackBarBarHighlightV.gif');
}

.dxeTBRBLabel_AnritsuDevXTheme,
.dxeTBLTLabel_AnritsuDevXTheme
{
	text-align: center;
	cursor: default;
}
.dxeTBSmallTickSys .dxeTBRBLabel_AnritsuDevXTheme,
.dxeTBSmallTickSys .dxeTBLTLabel_AnritsuDevXTheme,
.dxeTBLargeTickSys .dxeTBRBLabel_AnritsuDevXTheme,
.dxeTBLargeTickSys .dxeTBLTLabel_AnritsuDevXTheme
{	
	position: absolute;
}

.dxeTBHSys .dxeTBRBLabel_AnritsuDevXTheme,
.dxeTBHSys .dxeTBLTLabel_AnritsuDevXTheme
{
	width: 100%;
}

.dxeTBIncBtn_AnritsuDevXTheme,
.dxeTBDecBtn_AnritsuDevXTheme
{
}

.dxeTBVSys .dxeTBRBLabel_AnritsuDevXTheme,
.dxeTBVSys .dxeTBLTLabel_AnritsuDevXTheme
{
	padding-top: 2px;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_AnritsuDevXTheme
{
	margin-left: -4px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBRBLabel_AnritsuDevXTheme,
.dxeTBVSys .dxeTBBScaleSys .dxeTBLTLabel_AnritsuDevXTheme
{
	right: 0px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBLTLabel_AnritsuDevXTheme,
.dxeTBVSys .dxeTBBScaleSys .dxeTBRBLabel_AnritsuDevXTheme
{
	left: 0px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBRBLabel_AnritsuDevXTheme,
.dxeTBHSys .dxeTBBScaleSys .dxeTBLTLabel_AnritsuDevXTheme
{
	bottom: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBLTLabel_AnritsuDevXTheme,
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_AnritsuDevXTheme
{
	top: 0px;
}

.dxeTBHSys .dxeTBItem_AnritsuDevXTheme .dxeTBRBLabel_AnritsuDevXTheme,
.dxeTBHSys .dxeTBItem_AnritsuDevXTheme .dxeTBLTLabel_AnritsuDevXTheme
{
	display: inline-block;
	margin-left: 0px!important;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBItem_AnritsuDevXTheme .dxeTBRBLabel_AnritsuDevXTheme
{
	padding-top: 12px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBItem_AnritsuDevXTheme .dxeTBLTLabel_AnritsuDevXTheme
{
	margin-top: 8px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_AnritsuDevXTheme .dxeTBRBLabel_AnritsuDevXTheme 
{
	margin-left: 5px;
}

.dxeTBSelectedItem_AnritsuDevXTheme .dxeTBRBLabel_AnritsuDevXTheme,
.dxeTBSelectedItem_AnritsuDevXTheme .dxeTBLTLabel_AnritsuDevXTheme,
.dxeTBSelectedTick_AnritsuDevXTheme .dxeTBRBLabel_AnritsuDevXTheme,
.dxeTBSelectedTick_AnritsuDevXTheme .dxeTBLTLabel_AnritsuDevXTheme
{
	color: #898D98;
}

.dxeDisabled_AnritsuDevXTheme .dxeTBSelectedItem_AnritsuDevXTheme .dxeTBRBLabel_AnritsuDevXTheme,
.dxeDisabled_AnritsuDevXTheme .dxeTBSelectedItem_AnritsuDevXTheme .dxeTBLTLabel_AnritsuDevXTheme,
.dxeDisabled_AnritsuDevXTheme .dxeTBSelectedTick_AnritsuDevXTheme .dxeTBRBLabel_AnritsuDevXTheme,
.dxeDisabled_AnritsuDevXTheme .dxeTBSelectedTick_AnritsuDevXTheme .dxeTBLTLabel_AnritsuDevXTheme
{
	color: #C4C6CB;
}

.dxeTBRBLabel_AnritsuDevXTheme,
.dxeTBLTLabel_AnritsuDevXTheme,
.dxeTBItem_AnritsuDevXTheme
{
	color: #C4C6CC;
}

.dxeDisabled_AnritsuDevXTheme .dxeTBRBLabel_AnritsuDevXTheme,
.dxeDisabled_AnritsuDevXTheme .dxeTBLTLabel_AnritsuDevXTheme,
.dxeDisabled_AnritsuDevXTheme .dxeTBItem_AnritsuDevXTheme
{
	color: #E1E2E5;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBItem_AnritsuDevXTheme
{
	text-align: left;
}

.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_AnritsuDevXTheme
{
	text-align: right;
}

.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_AnritsuDevXTheme
{
	text-align: center;
}

.dxeTBHSys .dxeTBItem_AnritsuDevXTheme
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBItem_AnritsuDevXTheme
{
	background-image:  url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBItem_AnritsuDevXTheme 
{
	background-image:  url('edtTrackBarLargeTickV.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_AnritsuDevXTheme
{
	background-image:  url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBHSys .dxeTBLargeTick_AnritsuDevXTheme
{
	background-image:  url('edtTrackBarLargeTickH.gif');
}
.dxeTBVSys .dxeTBLargeTick_AnritsuDevXTheme
{
	background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBHSys .dxeTBSmallTick_AnritsuDevXTheme
{
	background-image: url('edtTrackBarSmallTickH.gif');
}
.dxeTBVSys .dxeTBSmallTick_AnritsuDevXTheme
{
	background-image: url('edtTrackBarSmallTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBLargeTick_AnritsuDevXTheme
{
	background-image: url('edtTrackBarDoubleLargeTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBLargeTick_AnritsuDevXTheme
{
	background-image: url('edtTrackBarDoubleLargeTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBSmallTick_AnritsuDevXTheme
{
	background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBSmallTick_AnritsuDevXTheme
{
	background-image: url('edtTrackBarDoubleSmallTickV.gif');
}

.dxeTBVSys .dxeTBIncBtn_AnritsuDevXTheme,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBDecBtn_AnritsuDevXTheme
{
	bottom: 0px;
	top: auto;
}
.dxeTBVSys .dxeTBDecBtn_AnritsuDevXTheme,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBIncBtn_AnritsuDevXTheme
{
	top: 0px;
	bottom: auto;
}
.dxeTBHSys .dxeTBDecBtn_AnritsuDevXTheme, 
.dxeTBHSys .dxeReversedDirectionSys .dxeTBIncBtn_AnritsuDevXTheme
{
	left: 0px;
	right: auto;
}
.dxeTBHSys .dxeTBIncBtn_AnritsuDevXTheme,
.dxeTBHSys .dxeReversedDirectionSys .dxeTBDecBtn_AnritsuDevXTheme
{
	right: 0px;
	left: auto;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBDecBtn_AnritsuDevXTheme,
.dxeTBVSys .dxeTBBScaleSys .dxeTBIncBtn_AnritsuDevXTheme
{
	margin-left: -9px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBDecBtn_AnritsuDevXTheme,
.dxeTBHSys .dxeTBBScaleSys .dxeTBIncBtn_AnritsuDevXTheme
{
	margin-top: -9px;
	top: 50%;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBTrack_AnritsuDevXTheme
{ 
	margin-left: -4px;
	left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBTrack_AnritsuDevXTheme
{ 
	margin-top: -4px;
	top: 50%;
}

.dxeTBVSys .dxeTBLTScaleSys .dxeTBDecBtn_AnritsuDevXTheme,
.dxeTBVSys .dxeTBLTScaleSys .dxeTBIncBtn_AnritsuDevXTheme
{
	right: 2px;
	left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBDecBtn_AnritsuDevXTheme,
.dxeTBHSys .dxeTBLTScaleSys .dxeTBIncBtn_AnritsuDevXTheme
{
	bottom: 2px;
	top: auto;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBDecBtn_AnritsuDevXTheme,
.dxeTBVSys .dxeTBRBScaleSys .dxeTBIncBtn_AnritsuDevXTheme,
.dxeTBVSys .dxeTBDecBtn_AnritsuDevXTheme,
.dxeTBVSys .dxeTBIncBtn_AnritsuDevXTheme
{
	left: 2px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBDecBtn_AnritsuDevXTheme,
.dxeTBHSys .dxeTBRBScaleSys .dxeTBIncBtn_AnritsuDevXTheme,
.dxeTBHSys .dxeTBDecBtn_AnritsuDevXTheme,
.dxeTBHSys .dxeTBIncBtn_AnritsuDevXTheme
{
	top: 2px;
}

.dxeHelpText_AnritsuDevXTheme,
.dxeTBValueToolTip_AnritsuDevXTheme
{
    font: 11px Verdana, Geneva, sans-serif;
}
div.dxeHelpText_AnritsuDevXTheme,
.dxeTBValueToolTip_AnritsuDevXTheme
{
	padding: 3px 8px 4px 8px;
    display: inline;
    position:absolute;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #A8A8A8;
    background: #FDFEFE;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFEFE', endColorstr='#EEEFF2');
	background: -webkit-gradient(linear, left top, left bottom, from(#FDFEFE), to(#EEEFF2));
	background: -moz-linear-gradient(top,  #FDFEFE,  #EEEFF2);
}
td.dxeHelpText_AnritsuDevXTheme {
    visibility: visible;
    color: #9F9F9F;
}
td.dxeHelpText_AnritsuDevXTheme label {
    font-size: 0.91em;
}
td.dxeHelpText_AnritsuDevXTheme.dxeHHelpTextSys {
    padding: 0 6px;
}
td.dxeHelpText_AnritsuDevXTheme.dxeVHelpTextSys {
    padding: 2px 0;
}

/* InternalCheckBox */
.dxeIRBFocused_AnritsuDevXTheme
{
	border: 1px dotted #a390ec;
	margin: 0px!important;
}
.dxeIRadioButton_AnritsuDevXTheme
{
}

.dxeButtonEditSys .dxic .dxeLoadingDiv_AnritsuDevXTheme
{
	opacity: 1!important;
	filter: alpha(opacity=100)!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_AnritsuDevXTheme
{
    background-color: transparent!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_AnritsuDevXTheme td.dx
{
	padding: 0px!important;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_AnritsuDevXTheme td.dx > span
{
	display: none;
}

.dxeButtonEditSys .dxic .dxeLoadingPanel_AnritsuDevXTheme td.dx > img
{
	height: 15px;
    width: auto;
    vertical-align: middle;
}

.dxeReadOnly_AnritsuDevXTheme
{
}
.dxeBase_AnritsuDevXTheme
{
	font: 11px Verdana, Geneva, sans-serif;
}
/* -- ErrorFrame -- */
.dxeErrorCell_AnritsuDevXTheme
{
	font: 11px Verdana, Geneva, sans-serif;
	color: Red;
    border-color: black;
	padding-left: 4px;
	padding-right: 4px;
}
.dxeErrorFrameWithoutError_AnritsuDevXTheme
{
	border: 1px solid Red;
}
.dxeErrorFrameWithoutError_AnritsuDevXTheme .dxeControlsCell_AnritsuDevXTheme,
.dxeErrorFrameWithoutError_AnritsuDevXTheme.dxeControlsCell_AnritsuDevXTheme
{
	padding: 2px;
}

.dxeEditArea_AnritsuDevXTheme
{
	border-top: 1px solid #9da0aa;
	border-right: 1px solid #c2c4cb;
	border-bottom: 1px solid #d9dae0;
	border-left: 1px solid #c2c4cb;
}
body input.dxeEditArea_AnritsuDevXTheme /*Bootstrap correction*/
{
    color: black;
}
input[type="text"].dxeEditArea_AnritsuDevXTheme, /*Bootstrap correction*/
input[type="password"].dxeEditArea_AnritsuDevXTheme /*Bootstrap correction*/
{
    margin-top: 0;
    margin-bottom: 1px;
}

.dxFirefox input[type="text"].dxeEditArea_AnritsuDevXTheme,
.dxFirefox input[type="password"].dxeEditArea_AnritsuDevXTheme
{
	margin-top: -1px;
    margin-bottom: 0;
}

/* -- Buttons -- */
.dxeButtonEditButton_AnritsuDevXTheme,
.dxeCalendarButton_AnritsuDevXTheme,
.dxeSpinIncButton_AnritsuDevXTheme,
.dxeSpinDecButton_AnritsuDevXTheme,
.dxeSpinLargeIncButton_AnritsuDevXTheme,
.dxeSpinLargeDecButton_AnritsuDevXTheme,
.dxeColorEditButton_AnritsuDevXTheme
{
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
}
.dxeCalendarButton_AnritsuDevXTheme,
.dxeColorEditButton_AnritsuDevXTheme
{
	border-style: solid;
	border-color: #a9acb5;
}
.dxeButtonEditButton_AnritsuDevXTheme
{
	border-style: solid;
	border-color: Transparent;
	-border-color: White;
}
.dxeButtonEditButton_AnritsuDevXTheme.dxeButtonEditButtonHover_AnritsuDevXTheme
{
	border-color: #c0c9e3;
}
.dxeButtonEditButton_AnritsuDevXTheme.dxeButtonEditButtonPressed_AnritsuDevXTheme
{
	border-color: #c2c4cb;
}
.dxeButtonEditButton_AnritsuDevXTheme.dxeDisabled_AnritsuDevXTheme
{
	border-color: Transparent;
	-border-color: White;
}

.dxeCalendarButton_AnritsuDevXTheme,
.dxeColorEditButton_AnritsuDevXTheme
{
	border-width: 1px;
}
.dxeButtonEditButton_AnritsuDevXTheme
{
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 1px;
}
.dxeButtonEdit_AnritsuDevXTheme .dxeButtonLeft
{
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 0;
	border-left-width: 0;
}
.dxeSpinIncButton_AnritsuDevXTheme,
.dxeSpinDecButton_AnritsuDevXTheme,
.dxeSpinLargeIncButton_AnritsuDevXTheme,
.dxeSpinLargeDecButton_AnritsuDevXTheme
{
	border-width: 0;
}

.dxeButtonEditButton_AnritsuDevXTheme,
.dxeSpinLargeIncButton_AnritsuDevXTheme,
.dxeSpinLargeDecButton_AnritsuDevXTheme,
.dxeSpinIncButton_AnritsuDevXTheme,
.dxeSpinDecButton_AnritsuDevXTheme
{
	background: White none;
}

.dxeButtonEditButton_AnritsuDevXTheme 
{
	padding: 3px 2px 3px 3px;
}
.dxeSpinIncButton_AnritsuDevXTheme
{
	padding: 2px 5px 2px 5px;
}
.dxeSpinDecButton_AnritsuDevXTheme
{
	padding: 3px 5px 2px 5px;
}
.dxeSpinLargeIncButton_AnritsuDevXTheme,
.dxeSpinLargeDecButton_AnritsuDevXTheme
{
	padding: 6px 4px 6px 4px;
}

.dxeCalendarButton_AnritsuDevXTheme,
.dxeColorEditButton_AnritsuDevXTheme
{
	background: #ebedf2 url('edtBtnBack.png') repeat-x left top;
	padding: 3px 11px 4px;
	min-width: 37px;
}


.dxeButtonEditButton_AnritsuDevXTheme.dxeButtonEditClearButton_AnritsuDevXTheme,
.dxeButtonEditButton_AnritsuDevXTheme.dxeButtonEditClearButton_AnritsuDevXTheme:hover
{
    background: none;
    border-width: 0;
    padding-bottom: 1px;
    padding-top: 2px;
}

.dxeButtonEditClearButton_AnritsuDevXTheme img
{
    vertical-align: baseline;
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_AnritsuDevXTheme,
.dxeColorEditButton_AnritsuDevXTheme:active
{
	color: #3c3c3c;
	border-color: #9da0aa;
	background: #dbdde2 url('edtBtnPBack.png') repeat-x left top;
}
.dxeButtonEditButtonPressed_AnritsuDevXTheme,
.dxeSpinIncButtonPressed_AnritsuDevXTheme,
.dxeSpinDecButtonPressed_AnritsuDevXTheme,
.dxeSpinLargeIncButtonPressed_AnritsuDevXTheme, 
.dxeSpinLargeDecButtonPressed_AnritsuDevXTheme
{
	background: #e3e5e8 url('edtDropDownBtnPBack.png') repeat-x left top;
}

/* -- Hover -- */
.dxeCalendarButtonHover_AnritsuDevXTheme,
.dxeColorEditButton_AnritsuDevXTheme:hover
{
	border-color: #a9acb5;
}
.dxeCalendarButtonHover_AnritsuDevXTheme,
.dxeColorEditButton_AnritsuDevXTheme:hover
{
	background: #dde6fe url('edtBtnHBack.png') repeat-x left top;
}
.dxeButtonEditButtonHover_AnritsuDevXTheme,
.dxeSpinIncButtonHover_AnritsuDevXTheme,
.dxeSpinDecButtonHover_AnritsuDevXTheme,
.dxeSpinLargeIncButtonHover_AnritsuDevXTheme,
.dxeSpinLargeDecButtonHover_AnritsuDevXTheme
{
	background: #e6edfe url('edtDropDownBtnHBack.png') repeat-x left top;
}

.dxeButtonEdit_AnritsuDevXTheme
{
	background-color: white;
	border-top: 1px solid #9da0aa;
	border-right: 1px solid #c2c4cb;
	border-bottom: 1px solid #d9dae0;
	border-left: 1px solid #c2c4cb;

    border-collapse: separate;
    border-spacing: 0;

    font: 11px Verdana, Geneva, sans-serif;
}
.dxIE.dxBrowserVersion-7 .dxeButtonEdit_AnritsuDevXTheme
{
	border-collapse: expression(cellSpacing='0');
}
.dxeButtonEdit_AnritsuDevXTheme td.dxic,
.dxFirefox .dxeButtonEdit_AnritsuDevXTheme td.dxic
{
    padding: 3px 3px 2px 3px;
}
.dxIE.dxBrowserVersion-7 .dxeTextBox_AnritsuDevXTheme td.dxic
{
	padding: 2px 3px 0px 3px;
}
.dxIE.dxBrowserVersion-7 *[dir="rtl"].dxeTextBox_AnritsuDevXTheme td.dxic {
    padding-right: 2px;
}
.dxIE.dxBrowserVersion-7 *[dir="rtl"].dxeButtonEdit_AnritsuDevXTheme td.dxic {
    padding-right: 3px;
}
.dxeButtonEdit_AnritsuDevXTheme .dxeEditArea_AnritsuDevXTheme
{
	background-color: white;
}
.dxeButtonEdit_AnritsuDevXTheme .dxeIIC,
.dxeButtonEdit_AnritsuDevXTheme .dxeIICR
{
	padding: 1px;
}
.dxeButtonEdit_AnritsuDevXTheme .dxeIIC img
{
	padding-left: 3px;
}
.dxeButtonEdit_AnritsuDevXTheme .dxeIICR img
{
	padding-right: 3px;
}

.dxeTextBox_AnritsuDevXTheme
{
	background-color: white;
	border-top: 1px solid #9da0aa;
	border-right: 1px solid #c2c4cb;
	border-bottom: 1px solid #d9dae0;
	border-left: 1px solid #c2c4cb;

    font: 11px Verdana, Geneva, sans-serif;
}
.dxeTextBox_AnritsuDevXTheme .dxeEditArea_AnritsuDevXTheme
{
	background-color: white;
}
.dxeRadioButtonList_AnritsuDevXTheme,
.dxeCheckBoxList_AnritsuDevXTheme
{
	border-top: 1px solid #9da0aa;
	border-right: 1px solid #c2c4cb;
	border-bottom: 1px solid #d9dae0;
	border-left: 1px solid #c2c4cb;
}

.dxeCheckBoxList_AnritsuDevXTheme .dxe > table,
.dxeRadioButtonList_AnritsuDevXTheme .dxe > table 
{
    width: 100%;
}

.dxeRadioButtonList_AnritsuDevXTheme,
.dxeCheckBoxList_AnritsuDevXTheme
{
	font: 11px Verdana, Geneva, sans-serif;
}
.dxeRadioButtonList_AnritsuDevXTheme td.dxe,
.dxeCheckBoxList_AnritsuDevXTheme td.dxe
{
	padding: 7px 5px 6px 11px;
}
.dxeRadioButtonList_AnritsuDevXTheme[dir='rtl'] td.dxe,
.dxeCheckBoxList_AnritsuDevXTheme[dir='rtl'] td.dxe
{
	padding: 7px 11px 6px 5px;
}

/* Disabled */
.dxeDisabled_AnritsuDevXTheme .dxeButtonEditButton_AnritsuDevXTheme,
.dxeDisabled_AnritsuDevXTheme .dxeSpinIncButton_AnritsuDevXTheme,
.dxeDisabled_AnritsuDevXTheme .dxeSpinDecButton_AnritsuDevXTheme,
.dxeDisabled_AnritsuDevXTheme .dxeSpinLargeIncButton_AnritsuDevXTheme,
.dxeDisabled_AnritsuDevXTheme .dxeSpinLargeDecButton_AnritsuDevXTheme
{
	background: White none;
}

/* -- Memo -- */
.dxeMemo_AnritsuDevXTheme
{
	background-color: white;
	border-top: 1px solid #9da0aa;
	border-right: 1px solid #c2c4cb;
	border-bottom: 1px solid #d9dae0;
	border-left: 1px solid #c2c4cb;

    font: 11px Verdana, Geneva, sans-serif;
}
.dxeMemoEditArea_AnritsuDevXTheme
{
    outline: none;
	background-color: white;
}

/* -- Hyperlink -- */
.dxeHyperlink_AnritsuDevXTheme
{
	color: #000;
	text-decoration: none;
}
a.dxeHyperlink_AnritsuDevXTheme:hover
{
	text-decoration: underline;
	color: #44bde9;
}
/*a.dxeHyperlink_AnritsuDevXTheme:visited
{
	color: #000;
}*/

/* -- ListBox -- */
.dxeListBox_AnritsuDevXTheme
{
	color: #201f35;
	font: 11px Verdana, Geneva, sans-serif;
	background-color: white;
	border-top: 1px solid #9da0aa;
	border-right: 1px solid #c2c4cb;
	border-bottom: 1px solid #d9dae0;
	border-left: 1px solid #c2c4cb;
	width: 70px;
	height: 109px;
}
.dxeListBox_AnritsuDevXTheme div.dxlbd
{
	height: 108px;
}
.dxeListBoxItemRow_AnritsuDevXTheme
{
	cursor: default;
}
.dxeListBoxItem_AnritsuDevXTheme
{
	padding: 2px 5px;
	white-space: nowrap;
	text-align: left;
	border-width: 0;
}
.dxeListBoxItem_AnritsuDevXTheme em
{
	background: #e2eafd none repeat 0 0;
	color: #201f35;
	font-weight: bold;
	font-style: normal;
}

.dxeListBox_AnritsuDevXTheme td.dxeI,
.dxeListBox_AnritsuDevXTheme td.dxeIM,
.dxeListBox_AnritsuDevXTheme .dxeHIC, 
.dxeListBox_AnritsuDevXTheme td.dxeFTM,
.dxeListBox_AnritsuDevXTheme td.dxeTM,
.dxeListBox_AnritsuDevXTheme td.dxeC,
.dxeListBox_AnritsuDevXTheme td.dxeCM,
.dxeListBox_AnritsuDevXTheme td.dxeHCC,
.dxeListBox_AnritsuDevXTheme td.dxeMI,
.dxeListBox_AnritsuDevXTheme td.dxeMIM
{
	border-right-width: 0!important;
}

.dxeListBox_AnritsuDevXTheme td.dxeIR,
.dxeListBox_AnritsuDevXTheme td.dxeIMR,
.dxeListBox_AnritsuDevXTheme .dxeHICR, 
.dxeListBox_AnritsuDevXTheme td.dxeFTMR,
.dxeListBox_AnritsuDevXTheme td.dxeTMR,
.dxeListBox_AnritsuDevXTheme td.dxeCR,
.dxeListBox_AnritsuDevXTheme td.dxeCMR,
.dxeListBox_AnritsuDevXTheme td.dxeHCCR,
.dxeListBox_AnritsuDevXTheme td.dxeMIR,
.dxeListBox_AnritsuDevXTheme td.dxeMIMR
{
	border-left-width: 0!important;
}

.dxeListBox_AnritsuDevXTheme td.dxeCM,
.dxeListBox_AnritsuDevXTheme td.dxeHCC,
.dxeListBox_AnritsuDevXTheme td.dxeCMR,
.dxeListBox_AnritsuDevXTheme td.dxeHCCR
{
	width: 31px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.dxIE.dxBrowserVersion-7 .dxeListBox_AnritsuDevXTheme td.dxeCM,
.dxIE.dxBrowserVersion-7 .dxeListBox_AnritsuDevXTheme td.dxeHCC,
.dxIE.dxBrowserVersion-7 .dxeListBox_AnritsuDevXTheme td.dxeCMR,
.dxIE.dxBrowserVersion-7 .dxeListBox_AnritsuDevXTheme td.dxeHCCR
{
	width: 21px;
}

.dxeListBox_AnritsuDevXTheme td.dxeIM,
.dxeListBox_AnritsuDevXTheme td.dxeIMR
{
	width: 0;
}
.dxeListBox_AnritsuDevXTheme td.dxeC
{
	padding-right: 3px!important;
}
.dxeListBox_AnritsuDevXTheme td.dxeCR
{
	padding-left: 3px!important;
}
.dxeListBox_AnritsuDevXTheme td.dxeC > span,
.dxeListBox_AnritsuDevXTheme td.dxeCM > span
{
    margin: 2px 2px 2px 3px;
}
.dxeListBox_AnritsuDevXTheme td.dxeCR > span,
.dxeListBox_AnritsuDevXTheme td.dxeCMR > span
{
    margin: 2px 3px 2px 2px;
}
.dxeListBox_AnritsuDevXTheme td.dxeT
{
	width: 100%;
	padding-left: 0!important;
}

.dxeListBox_AnritsuDevXTheme td.dxeTR
{
	width: 100%;
	padding-right: 0!important;
}

.dxeListBox_AnritsuDevXTheme td.dxeT,
.dxeListBox_AnritsuDevXTheme td.dxeMI
{
	border-left-width: 0!important;
}

.dxeListBox_AnritsuDevXTheme td.dxeTR,
.dxeListBox_AnritsuDevXTheme td.dxeMIR
{
	border-right-width: 0!important;
}

.dxeListBox_AnritsuDevXTheme td.dxeFTM,
.dxeListBox_AnritsuDevXTheme td.dxeTM,
.dxeListBox_AnritsuDevXTheme td.dxeLTM,
.dxeListBox_AnritsuDevXTheme .dxeHFC,
.dxeListBox_AnritsuDevXTheme .dxeHC,
.dxeListBox_AnritsuDevXTheme .dxeHLC,
.dxeListBox_AnritsuDevXTheme td.dxeFTMR,
.dxeListBox_AnritsuDevXTheme td.dxeTMR,
.dxeListBox_AnritsuDevXTheme td.dxeLTMR,
.dxeListBox_AnritsuDevXTheme .dxeHFCR,
.dxeListBox_AnritsuDevXTheme .dxeHCR,
.dxeListBox_AnritsuDevXTheme .dxeHLCR
{
	overflow: hidden;
}

.dxeListBox_AnritsuDevXTheme td.dxeFTM,
.dxeListBox_AnritsuDevXTheme td.dxeTM,
.dxeListBox_AnritsuDevXTheme .dxeHFC,
.dxeListBox_AnritsuDevXTheme .dxeHC
{
	padding-right: 6px!important;
}

.dxeListBox_AnritsuDevXTheme td.dxeFTMR,
.dxeListBox_AnritsuDevXTheme td.dxeTMR,
.dxeListBox_AnritsuDevXTheme .dxeHFCR,
.dxeListBox_AnritsuDevXTheme .dxeHCR
{
	padding-left: 6px!important;
}

.dxeListBox_AnritsuDevXTheme td.dxeLTM,
.dxeListBox_AnritsuDevXTheme td.dxeTM,
.dxeListBox_AnritsuDevXTheme .dxeHC,
.dxeListBox_AnritsuDevXTheme .dxeHLC
{
	padding-left: 6px!important;
}

.dxeListBox_AnritsuDevXTheme td.dxeLTMR,
.dxeListBox_AnritsuDevXTheme td.dxeTMR,
.dxeListBox_AnritsuDevXTheme .dxeHCR,
.dxeListBox_AnritsuDevXTheme .dxeHLCR
{
	padding-right: 6px!important;
}

.dxeListBox_AnritsuDevXTheme .dxeFTM,
.dxeListBox_AnritsuDevXTheme .dxeTM,
.dxeListBox_AnritsuDevXTheme .dxeHFC,
.dxeListBox_AnritsuDevXTheme .dxeHC,
.dxeListBox_AnritsuDevXTheme .dxeLTM,
.dxeListBox_AnritsuDevXTheme .dxeTM,
.dxeListBox_AnritsuDevXTheme .dxeHC,
.dxeListBox_AnritsuDevXTheme .dxeHLC,
.dxeListBox_AnritsuDevXTheme td.dxeIM,
.dxeListBox_AnritsuDevXTheme td.dxeFTM,
.dxeListBox_AnritsuDevXTheme td.dxeTM,
.dxeListBox_AnritsuDevXTheme td.dxeCM,
.dxeListBox_AnritsuDevXTheme td.dxeMIM,
.dxeListBox_AnritsuDevXTheme .dxeFTMR,
.dxeListBox_AnritsuDevXTheme .dxeTMR,
.dxeListBox_AnritsuDevXTheme .dxeHFCR,
.dxeListBox_AnritsuDevXTheme .dxeHCR,
.dxeListBox_AnritsuDevXTheme .dxeLTMR,
.dxeListBox_AnritsuDevXTheme .dxeTMR,
.dxeListBox_AnritsuDevXTheme .dxeHCR,
.dxeListBox_AnritsuDevXTheme .dxeHLCR,
.dxeListBox_AnritsuDevXTheme td.dxeIMR,
.dxeListBox_AnritsuDevXTheme td.dxeFTMR,
.dxeListBox_AnritsuDevXTheme td.dxeTMR,
.dxeListBox_AnritsuDevXTheme td.dxeCMR,
.dxeListBox_AnritsuDevXTheme td.dxeMIMR
{
	border-top-width: 0;
	border-bottom-width: 0;
}

/*Grid lines*/

.dxeListBox_AnritsuDevXTheme td.dxeLTM,
.dxeListBox_AnritsuDevXTheme td.dxeTM,
.dxeListBox_AnritsuDevXTheme td.dxeMIM
{
	border-left: 1px solid #d9dae0!important;
}
.dxeListBox_AnritsuDevXTheme td.dxeLTM 
{
	border-right: 1px solid Transparent!important;
}
.dxeListBox_AnritsuDevXTheme td.dxeLTMR,
.dxeListBox_AnritsuDevXTheme td.dxeTMR,
.dxeListBox_AnritsuDevXTheme td.dxeMIMR
{
	border-right: 1px solid #d9dae0!important;
}

.dxeListBox_AnritsuDevXTheme td.dxeIM,
.dxeListBox_AnritsuDevXTheme td.dxeFTM,
.dxeListBox_AnritsuDevXTheme td.dxeTM,
.dxeListBox_AnritsuDevXTheme td.dxeLTM,
.dxeListBox_AnritsuDevXTheme td.dxeCM,
.dxeListBox_AnritsuDevXTheme td.dxeMIM,
.dxeListBox_AnritsuDevXTheme td.dxeIMR,
.dxeListBox_AnritsuDevXTheme td.dxeFTMR,
.dxeListBox_AnritsuDevXTheme td.dxeTMR,
.dxeListBox_AnritsuDevXTheme td.dxeLTMR,
.dxeListBox_AnritsuDevXTheme td.dxeCMR,
.dxeListBox_AnritsuDevXTheme td.dxeMIMR
{
	border-bottom: 1px solid #d9dae0;
}

.dxeListBoxItemSelected_AnritsuDevXTheme     
{
	color: #201f35;
	background: #eff0f2 none;
}
.dxeListBoxItemHover_AnritsuDevXTheme        
{
	color: #201f35;
	background: #e2eafd none;
}
.dxeListBoxItemHover_AnritsuDevXTheme em,
.dxeListBoxItemSelected_AnritsuDevXTheme em
{
	background-image: none;
}

/*Header*/

.dxeListBox_AnritsuDevXTheme .dxeHD
{
	background: #f3f3f4 url('lbHeaderBack.png') repeat-x left top;
	border-bottom: 1px solid #abacb9;
}
.dxeHD .dxeListBoxItem_AnritsuDevXTheme
{
	color: #201f35;
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 0;
	border-left-width: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.dxeListBox_AnritsuDevXTheme .dxeHC,
.dxeListBox_AnritsuDevXTheme .dxeHLC,
.dxeListBox_AnritsuDevXTheme td.dxeHMIC
{
	border-left: 1px solid #cacbd3;
}

.dxeListBox_AnritsuDevXTheme .dxeHCR,
.dxeListBox_AnritsuDevXTheme .dxeHLCR,
.dxeListBox_AnritsuDevXTheme td.dxeHMICR
{
	border-right: 1px solid #cacbd3;
	text-align: right;
}

.dxeListBox_AnritsuDevXTheme .dxeHIC,
.dxeListBox_AnritsuDevXTheme .dxeHFC,
.dxeListBox_AnritsuDevXTheme .dxeHCC
{
}

.dxeListBox_AnritsuDevXTheme .dxeHICR,
.dxeListBox_AnritsuDevXTheme .dxeHFCR,
.dxeListBox_AnritsuDevXTheme .dxeHCCR
{
}

.dxeListBox_AnritsuDevXTheme .dxeHFC,
.dxeListBox_AnritsuDevXTheme .dxeHC,
.dxeListBox_AnritsuDevXTheme .dxeHMIC
{
	border-right-width: 0;
}

.dxeListBox_AnritsuDevXTheme .dxeHFCR,
.dxeListBox_AnritsuDevXTheme .dxeHCR,
.dxeListBox_AnritsuDevXTheme .dxeHMICR
{
	border-left-width: 0;
	text-align: right;
}

.dxeListBox_AnritsuDevXTheme .dxeHLC
{
	border-right: 1px solid #cacbd3;
}

.dxeListBox_AnritsuDevXTheme .dxeHLCR
{
	border-left: 1px solid #cacbd3;
	text-align: right;
}

/* -- Calendar -- */
.dxeCalendar_AnritsuDevXTheme
{
    font: 11px Verdana, Geneva, sans-serif;
	font-weight: normal;
	color: #201f35;
	border: 1px solid #9da0aa;
	background-color: White;
	cursor: default;
}
.dxeCalendar_AnritsuDevXTheme td.dxMonthGrid
{
	padding: 1px 8px;
}
.dxeCalendar_AnritsuDevXTheme td.dxMonthGridWithWeekNumbers
{
	padding: 1px 20px 6px 8px;
}
.dxeCalendar_AnritsuDevXTheme td.dxMonthGridWithWeekNumbersRtl
{
	padding: 1px 8px 1px 20px;
}
.dxeCalendarDayHeader_AnritsuDevXTheme
{
	padding: 2px 4px 6px;
	border-bottom: 1px solid #d7d8dd;
}
.dxeCalendarWeekNumber_AnritsuDevXTheme
{
	font-size: 0.82em;
	text-align: right;
	padding: 3px 8px 2px 4px;
	color: #cccccc;
}
.dxeCalendarDay_AnritsuDevXTheme
{
	padding: 2px 5px 3px;
	text-align: center;
}
.dxeCalendarWeekend_AnritsuDevXTheme        
{
	color: #c00000;
}
.dxeCalendarOtherMonth_AnritsuDevXTheme     
{
	color: #cccccc;
}
.dxeCalendarOutOfRange_AnritsuDevXTheme     
{
	color: #cccccc;
}
.dxeCalendarDayDisabled_AnritsuDevXTheme {
	background-color: #fcfdfe;
	color: #ecedee!important;
}
.dxeCalendarToday_AnritsuDevXTheme         
{
	border: 1px solid #c95c05;
    padding: 1px 4px 2px;
}
.dxeCalendarSelected_AnritsuDevXTheme       
{
	color: #201f35;
	background-color: #e2eafd;
}
.dxeDayInRange.dxeCalendarSelected_AnritsuDevXTheme
{
    background-color: #f6f9fe;
}
.dxeCalendarHeader_AnritsuDevXTheme
{
	border-style: none;
	padding: 4px 4px 12px;
}
.dxeCalendarHeader_AnritsuDevXTheme td.dxe
{
	text-align: center;
	cursor: pointer;
}
.dxeCalendarHeader_AnritsuDevXTheme .dxeCHS
{
    min-width: 1px;
}
.dxIE.dxBrowserVersion-7 .dxeCalendarHeader_AnritsuDevXTheme .dxeCHS {
	width: 1px;
}
.dxeCalendarFooter_AnritsuDevXTheme
{
	background-color: White;
	padding: 11px 0;
}
.dxeCalendarFooter_AnritsuDevXTheme .dxeCFS
{
    min-width: 12px;
    *width: 12px;
}
.dxeCalendarFastNav_AnritsuDevXTheme
{
	color: #201f35;
	background: White none;
	border-top: 1px solid #9da0aa;
	border-right: 1px solid #9da0aa;
	border-bottom: 0 solid #9da0aa;
	border-left: 1px solid #9da0aa;
	padding: 5px 8px;
	cursor: default;
}
.dxeCalendarFastNavMonthArea_AnritsuDevXTheme
{
	padding: 0px 9px;
}
.dxeCalendarFastNavYearArea_AnritsuDevXTheme
{
    padding-top: 8px;
}
.dxeCalendarFastNavFooter_AnritsuDevXTheme
{
	color: #201f35;
	background: White none;
	padding: 8px 0 17px;
	border-top: 0 solid #d7d8dd;
	border-right: 1px solid #9da0aa;
	border-bottom: 1px solid #9da0aa;
	border-left: 1px solid #9da0aa;
}
.dxeCalendarFastNavFooter_AnritsuDevXTheme .dxeCFNFS
{
    min-width: 11px;
    *width: 11px;
}
.dxeCalendarFastNavMonth_AnritsuDevXTheme,
.dxeCalendarFastNavYear_AnritsuDevXTheme
{
	color: #201f35;
	padding: 3px 5px;
	text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavYear_AnritsuDevXTheme
{
	padding: 3px 5px;
}
.dxeCalendarFastNavMonth_AnritsuDevXTheme
{
	padding: 6px;
}

.dxeCalendarFastNavMonthHover_AnritsuDevXTheme,
.dxeCalendarFastNavYearHover_AnritsuDevXTheme
{
	color: #201f35;
	background: #f3ebfe none;
	border-width: 0;
}
.dxeCalendarFastNavYearHover_AnritsuDevXTheme,
.dxeCalendarFastNavYearSelected_AnritsuDevXTheme
{
	padding: 3px 5px;
}
.dxeCalendarFastNavMonthHover_AnritsuDevXTheme,
.dxeCalendarFastNavMonthSelected_AnritsuDevXTheme
{
	padding: 6px;
}
.dxeCalendarFastNavMonthSelected_AnritsuDevXTheme,
.dxeCalendarFastNavYearSelected_AnritsuDevXTheme
{
	color: #201f35;
	background-color: #e2eafd;
}
.dxeDateEditTimeEditCell_AnritsuDevXTheme
{
    padding: 7px 34px 9px;
    width: 100px;
}
.dxeDateEditClockCell_AnritsuDevXTheme
{
    padding: 14px 24px 0;
}
.dxeCalendarFooter_AnritsuDevXTheme.dxeDETSF
{
    padding-left: 11px;
    padding-right: 11px;
}
.dxeCalendarHeader_AnritsuDevXTheme.dxeDETSH
{
    display: none;
}

/* Disabled */
.dxeDisabled_AnritsuDevXTheme,
.dxeDisabled_AnritsuDevXTheme td.dxe
{
	color: #b1b1b8;
	cursor: default;
}
.dxeEditArea_AnritsuDevXTheme.dxeDisabled_AnritsuDevXTheme /*Bootstrap correction*/
{
    color: #b1b1b8;
}
a.dxeDisabled_AnritsuDevXTheme:hover
{
	color: #b1b1b8;
}
.dxeButtonDisabled_AnritsuDevXTheme
{
	color: #b1b1b8;
	cursor: default;
}
/* -- Button -- */
.dxbButton_AnritsuDevXTheme
{
	color: #201f35;
	font: 11px Verdana, Geneva, sans-serif;
	border: 1px solid #a9acb5;
	background: #ebedf2 url('edtBtnBack.png') repeat-x left top;
	padding: 1px;
}
.dxbButtonHover_AnritsuDevXTheme
{
	color: #201f35;
	background: #dde6fe url('edtBtnHBack.png') repeat-x left top;
	border: 1px solid #a9acb5;
}
.dxbButtonChecked_AnritsuDevXTheme
{
	color: #3c3c3c;
	background: #dbdde2 url('edtBtnPBack.png') repeat-x left top;
	border: 1px solid #9da0aa;
}
.dxbButtonPressed_AnritsuDevXTheme
{
	color: #3c3c3c;
	background: #dbdde2 url('edtBtnPBack.png') repeat-x left top;
	border: 1px solid #9da0aa;
}
.dxbButton_AnritsuDevXTheme div.dxb
{
	padding: 2px 14px;
	border: 1px dotted transparent;
}
.dxbButton_AnritsuDevXTheme div.dxbf
{
	border: 1px dotted black;
}
/* Button Link */
a.dxbButton_AnritsuDevXTheme
{
	color: #1b3f91;
	text-decoration: none;
}
a.dxbButton_AnritsuDevXTheme:hover
{
	text-decoration: underline;
}
a.dxbButton_AnritsuDevXTheme:visited
{
	color: #8684ed;
}
/* Disabled */
.dxbDisabled_AnritsuDevXTheme
{
	border-color: #e1e2e5;
	background: #f8f9fa url('edtBtnDisabledBack.png') repeat-x left top;
}
.dxbDisabled_AnritsuDevXTheme,
a.dxbButton_AnritsuDevXTheme.dxbDisabled_AnritsuDevXTheme
{
	color: #babac1;
	cursor: default;
    text-decoration: none;
}
/* -- FilterControl -- */
.dxfcControl_AnritsuDevXTheme
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #201f35;
	padding: 0 1em;
}
.dxfcTable_AnritsuDevXTheme
{
	border-collapse: separate!important;
}
.dxfcTable_AnritsuDevXTheme td.dxfc
{
	padding: 0px 0px 0px 3px;
}
a.dxfcPropertyName_AnritsuDevXTheme
{
	white-space: nowrap!important;
	color: Blue!important;
}
a.dxfcGroupType_AnritsuDevXTheme
{
	white-space: nowrap!important;
	padding: 0px 3px!important;
	color: Red!important;
}
a.dxfcOperation_AnritsuDevXTheme
{
	white-space: nowrap!important;
	color: Green!important;
}
a.dxfcValue_AnritsuDevXTheme
{
	white-space: nowrap!important;
	color: Gray!important;
}

.dxeMaskHint_AnritsuDevXTheme
{
	font: 11px Verdana, Geneva, sans-serif;
	color: Black;
	background: #ffffe1 none;
	padding: 2px 5px 3px;
	border: 1px solid Black;
}

.dxfcControl_AnritsuDevXTheme ul.dxfc-tree,
.dxfcControl_AnritsuDevXTheme .dxfc-tree ul
{
    list-style-type: none;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}

.dxfcControl_AnritsuDevXTheme .dxfc-tree
{
    width: 100%;
}

.dxfcControl_AnritsuDevXTheme .dxfc-subnd
{
    margin-left: 22px;
}

.dxfcControl_AnritsuDevXTheme .dxfc > li > table
{
    border-spacing: 0;
    border-collapse: collapse;
}

.dxfcControl_AnritsuDevXTheme .dxfc-elb
{
    float: left;
    height: 21px;
    vertical-align: top;
    width: 26px;
}

.dxfcControl_AnritsuDevXTheme .dxfc-clr
{
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    width: 0;
}

.dxfcControl_AnritsuDevXTheme .dxfc-nd
{
    cursor: pointer;
    display: block;
    float: left;
    height: 24px;
    outline: 0 none;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.dxfcControl_AnritsuDevXTheme .dxfc-nd > tbody > tr > td > a,
.dxfcControl_AnritsuDevXTheme .dxfc-nd > tbody > tr > td > span,
.dxfcControl_AnritsuDevXTheme .dxfc-nd > tbody > tr > td > img,
.dxfcControl_AnritsuDevXTheme .dxfc-editor
{
    vertical-align: middle;
}

.dxfcControl_AnritsuDevXTheme .dxfc-nd > tbody > tr > td > a,
.dxfcControl_AnritsuDevXTheme .dxfc-nd > tbody > tr > td > td,
.dxfcControl_AnritsuDevXTheme .dxfc-nd > tbody > tr > td > span
{
    padding: 0 0.1ex;
}

.dxfcControl_AnritsuDevXTheme .dxfc-nd > tbody > tr > td > a
{
    line-height: 24px;
}

.dxfcControl_AnritsuDevXTheme .dxfc-ln
{
    vertical-align: top;
}
/* -- ProgressBar -- */
.dxeProgressBar_AnritsuDevXTheme
{
	background: #f3f4f5 url('edtProgressBack.png') repeat-x left top;
	border: 1px solid #b9bac3;
	font: 11px Verdana, Geneva, sans-serif;
	color: #201f35;
    height: 21px;
}
.dxeProgressBar_AnritsuDevXTheme .dxePBMainCell,
.dxeProgressBar_AnritsuDevXTheme td.dxe
{
	padding: 0;
}
.dxeProgressBarIndicator_AnritsuDevXTheme
{
	background: #edd0f4 url('edtProgressIndicatorBack.png') repeat-x left top;
}

/* -- DropDownWindow -- */
.dxpcDropDown_AnritsuDevXTheme,
.dxeDropDownWindow_AnritsuDevXTheme
{
    font: 11px Verdana, Geneva, sans-serif;
}
.dxeDropDownWindow_AnritsuDevXTheme
{
	background-color: white;
	border: 1px solid #9da0aa;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_AnritsuDevXTheme
{
	border: 1px solid #9da0aa;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.dxeItemPicker_AnritsuDevXTheme
{
	background-color: White;
	border: 1px solid #9da0aa;
}
.dxeColorTable_AnritsuDevXTheme td.dx,
.dxeItemPicker_AnritsuDevXTheme td.dx
{
	padding: 4px;
}
.dxeColorTableCell_AnritsuDevXTheme,
.dxeItemPickerCell_AnritsuDevXTheme
{
	padding: 3px;
	cursor: pointer;
}
.dxeColorTableCellDiv_AnritsuDevXTheme
{
	border: 1px solid #808080;
	width: 12px;
	height: 12px;
	font-size: 0;
}
.dxeColorTableCellSelected_AnritsuDevXTheme
{
	padding: 2px!important;
	background: #e9eaee url('../Web/mItemSBack.png') repeat-x left top;
	border: 1px solid #9da0aa;
}
.dxeColorTableCellHover_AnritsuDevXTheme,
.dxeItemPickerCellHover_AnritsuDevXTheme
{
	padding: 2px!important;
	background: #e3ebff url('../Web/mSubItemHBack.png') repeat-x left top;
	border: 1px solid #a6a9b2;
}

/* -- Invalid Style -- */
.dxeInvalid_AnritsuDevXTheme
{
}
.dxeInvalid_AnritsuDevXTheme .dxeEditArea_AnritsuDevXTheme,
.dxeInvalid_AnritsuDevXTheme .dxeMemoEditArea_AnritsuDevXTheme
{
}

/* -- Focused Style -- */
.dxeFocused_AnritsuDevXTheme
{
	border-top: 1px solid #434756;
	border-right: 1px solid #7d808d;
	border-bottom: 1px solid #aaacb9;
	border-left: 1px solid #7d808d;
}

.dxeFocused_AnritsuDevXTheme.dxeTrackBar_AnritsuDevXTheme
{	
	border: 0px;
}

/* -- Null Text Style -- */
.dxeNullText_AnritsuDevXTheme .dxeEditArea_AnritsuDevXTheme,
.dxeNullText_AnritsuDevXTheme .dxeMemoEditArea_AnritsuDevXTheme
{
	color: #b1b1b8;
}

/* -- Captcha -- */
.dxcaControl_AnritsuDevXTheme 
{
    font: 11px Verdana, Geneva, sans-serif;
}

.dxcaRefreshButton_AnritsuDevXTheme
{
	color: #1b3f91;
	text-decoration: none;
}

.dxcaDisabledRefreshButton_AnritsuDevXTheme
{
	color: #b1b1b8;
}

.dxcaRefreshButtonCell_AnritsuDevXTheme
{
	padding-left: 2px;
}

.dxcaRefreshButtonText_AnritsuDevXTheme
{
}

.dxcaDisabledRefreshButtonText_AnritsuDevXTheme
{
}

.dxcaTextBoxCell_AnritsuDevXTheme,
.dxcaTextBoxCellNoIndent_AnritsuDevXTheme
{
}

.dxcaTextBoxCell_AnritsuDevXTheme .dxeErrorCell_AnritsuDevXTheme
{
}

.dxcaTextBoxCellNoIndent_AnritsuDevXTheme .dxeErrorCell_AnritsuDevXTheme
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_AnritsuDevXTheme
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_AnritsuDevXTheme
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #201f35;
	background: White none;
	border: 1px solid #9da0aa;
}

.dxcaLoadingPanel_AnritsuDevXTheme td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 7px 10px;
}
.dxcaLoadingPanel_AnritsuDevXTheme .dxlp-loadingImage 
{
	margin:0px;
}

.dxpcLite_AnritsuDevXTheme .dxHFBPS
{
    width: 6px;
}

.dxeTextBox_AnritsuDevXTheme,
.dxeButtonEdit_AnritsuDevXTheme,
.dxeIRadioButton_AnritsuDevXTheme,
.dxeRadioButtonList_AnritsuDevXTheme,
.dxeCheckBoxList_AnritsuDevXTheme
{
    cursor: default;
}

/* Removes flicking in iOS Safari*/
.dxeTrackBar_AnritsuDevXTheme, 
.dxeIRadioButton_AnritsuDevXTheme, 
.dxeButtonEdit_AnritsuDevXTheme, 
.dxeTextBox_AnritsuDevXTheme, 
.dxeRadioButtonList_AnritsuDevXTheme, 
.dxeCheckBoxList_AnritsuDevXTheme, 
.dxeMemo_AnritsuDevXTheme, 
.dxeListBox_AnritsuDevXTheme, 
.dxeCalendar_AnritsuDevXTheme, 
.dxeColorTable_AnritsuDevXTheme
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*B232817*/
.dxIE.dxBrowserVersion-9 .dxeEditArea_AnritsuDevXTheme,
.dxIE.dxBrowserVersion-10 .dxeEditArea_AnritsuDevXTheme
{
	padding-bottom: 1px;
    margin-bottom: 0px;
}
.dxMacOSMobilePlatform .dxeEditArea_AnritsuDevXTheme
{
    padding-bottom: 2px!important;
    margin-bottom: -1px!important;
}

/* ASPxCololrEdit */
.dxcpParametersCellSys .dxcpWebColorInput_AnritsuDevXTheme
{
	float: right;
	margin-top: 40px;
}
.dxIE.dxBrowserVersion-7 .dxcpParametersCellSys .dxcpWebColorInput_AnritsuDevXTheme
{
	margin-top: 35px;
}
.dxcpColorParameterMainDiv_AnritsuDevXTheme
{
	padding: 0px 0 4px 9px;
	width: 90px;
	text-align: right;
}
.dxeCustomColorButton_AnritsuDevXTheme
{
    padding-top: 3px;
    padding-bottom: 3px;
	margin: 3px 7px;
	cursor: pointer;
}
.dxcpCurrentColor_AnritsuDevXTheme, 
.dxcpSavedColor_AnritsuDevXTheme
{
	height: 35px;
}
.dxcpCurrentAndSaved_AnritsuDevXTheme
{
	width: 65px;
	margin: 34px 0px 0px auto;
	cursor: pointer;
}
.dxeColorTablesMainDiv_AnritsuDevXTheme,
.dxeColorSelectorMainDiv_AnritsuDevXTheme
{
	background-color: #FFFFFF;
}
.dxeColorSelectorMainDiv_AnritsuDevXTheme
{
	padding: 7px;
}
.dxcpColorArea_AnritsuDevXTheme,
.dxcpHueAreaImage_AnritsuDevXTheme,
.dxcpCurrentAndSaved_AnritsuDevXTheme,
.dxeColorTablesMainDiv_AnritsuDevXTheme,
.dxeColorSelectorMainDiv_AnritsuDevXTheme,
.dxcpParametersCell_AnritsuDevXTheme input
{
	border: 1px solid #9da0aa;
}
.dxeButtonsPanelDiv_AnritsuDevXTheme
{
	margin-top: 15px;
	text-align: right;
}
.dxeButtonsPanelDiv_AnritsuDevXTheme input
{
	min-width: 61px;
	margin-left: 10px;
}

/* -- ASPxTokenBox -- */
input.dxeTokenBoxInput_AnritsuDevXTheme[type="text"] {
	display: inline-block;
	float: left;
	outline: none;
	width: 30px;
	padding: 2px 0px 2px 0px;
	margin: 0px 1px 1px 1px;
}
.dxeToken_AnritsuDevXTheme {
    display: inline-block;
	float: left;
	min-width: 30px;
	margin: 0px 1px 1px 0px;
}
.dxeTokenText_AnritsuDevXTheme, .dxeTokenRemoveButton_AnritsuDevXTheme {
	display: block;
	float: left;
}
.dxeTokenText_AnritsuDevXTheme {
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0px 2px 0px 4px;
	padding: 2px 0px 2px 0px;
}
.dxeTokenRemoveButton_AnritsuDevXTheme {
	cursor: pointer;
	margin-top: 2px;
}
.dxeToken_AnritsuDevXTheme {
	background: #f4f4f4 url('edtTokenBoxTokenBackground.png') repeat-x top;
}
.dxFirefox .dxeButtonEdit_AnritsuDevXTheme td.dxictb,
.dxeButtonEdit_AnritsuDevXTheme td.dxictb {
    padding: 1px 1px 0px 1px;
	margin-bottom: 0;
}
.dxIE.dxBrowserVersion-7 .dxeTokenText_AnritsuDevXTheme {
	padding: 4px 0px 3px 0px;
}
.dxIE.dxBrowserVersion-7 .dxeTokenRemoveButton_AnritsuDevXTheme {
	margin-top: 4px;
	margin-bottom: 0px;
}
.dxIE.dxBrowserVersion-7 .dxeButtonEdit_AnritsuDevXTheme td.dxictb {
    padding: 0;
}
.dxFirefox input.dxeTokenBoxInput_AnritsuDevXTheme[type="text"] {
	padding: 1px 0px 1px 0px;
	margin: 0px 1px 1px 1px;
}
.dxFirefox .dxeTokenText_AnritsuDevXTheme {
	padding: 1px 0px 1px 0px;
}

/* Editor caption */
.dxeCaptionCell_AnritsuDevXTheme
{
    font: 11px Verdana, Geneva, sans-serif;
    color: #201f35;
    white-space: nowrap;
    line-height: 16px;
    height: 100%;
}
.dxeRoot_AnritsuDevXTheme
{
}
.dxeCaption_AnritsuDevXTheme
{
}
.dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 4px;
}
.dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 2px;
}
.dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeTrackBarCTypeSys
{
    padding-top: 2px;
}
.dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeCustomCTypeSys
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.dxIE.dxBrowserVersion-7 .dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 2px;
}
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 3px;
}
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 10px;
}
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 10px;
}
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 1px;
}
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 2px;
}
.dxIE.dxBrowserVersion-7 .dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 2px;
}

.dxFirefox .dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeTextEditCTypeSys,
.dxFirefox .dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeMemoCTypeSys,
.dxFirefox .dxeCaptionCell_AnritsuDevXTheme.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 2px;
}

.dxeRequiredMark_AnritsuDevXTheme {
    color: green;
    font-style: normal;
}

.dxeOptionalMark_AnritsuDevXTheme {
    color: gray;
    font-style: normal;
}
/*Loading Panel*/
.dxlpLoadingPanel_AnritsuDevXTheme,
.dxlpLoadingPanelWithContent_AnritsuDevXTheme
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #201f35;
	background-color: White;
	border: 1px solid #9da0aa;
}
.dxlpLoadingPanel_AnritsuDevXTheme td.dx,
.dxlpLoadingPanelWithContent_AnritsuDevXTheme td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 7px 10px;
}
.dxlpLoadingPanel_AnritsuDevXTheme .dxlp-loadingImage,
.dxcaLoadingPanel_AnritsuDevXTheme .dxlp-loadingImage,
.dxlpLoadingPanelWithContent_AnritsuDevXTheme .dxlp-loadingImage {
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}

/* Out of range warning*/
.dxeOutOfRWarn_AnritsuDevXTheme {
    font: 11px Verdana, Geneva, sans-serif;
    padding: 3px 8px 4px 8px;
    display: none;
    position: absolute;
    background-color: white;
    color: red;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #A8A8A8;
}
.dxeOutOfRWarnRight_AnritsuDevXTheme {
    margin-left: 10px;
}
.dxeOutOfRWarnBottom_AnritsuDevXTheme {
    margin-top: 10px;
}
