﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Continue.aspx.cs" Inherits="Anritsu.SsoSaml.Idp.Web.Continue" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="//images-dev.cdn-anritsu.com/images/favicon.ico" />
    <title><anrui:PageTitlePanel ID="ptBrowserTitle" runat="server" AppendAnritsu="true" PageTitleType="BrowserTitle" /></title>
</head>
<body>
</body>
</html>
