﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DynamicPath.aspx.cs" Inherits="Anritsu.SsoSaml.Idp.Web.DynamicPath" %>
<%@ Register TagPrefix="anritsu" Src="~/App_Controls/UCDynamicCdn.ascx" TagName="dyn" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
