.dxPivotGrid_CTNAttribute,
.dxPivotGrid_CTNCalculatedMeasure,
.dxPivotGrid_CTNDimension,
.dxPivotGrid_CTNFolderClosed,
.dxPivotGrid_CTNFolderOpen,
.dxPivotGrid_CTNHierarchy,
.dxPivotGrid_CTNKpi,
.dxPivotGrid_CTNMeasure,
.dxPivotGrid_FLBottomPanelOnly1by4_AnritsuDevXTheme,
.dxPivotGrid_FLBottomPanelOnly2by2_AnritsuDevXTheme,
.dxPivotGrid_FLButton_AnritsuDevXTheme,
.dxPivotGrid_FLColumnAreaHeaders_AnritsuDevXTheme,
.dxPivotGrid_FLDataAreaHeaders_AnritsuDevXTheme,
.dxPivotGrid_FLFieldList_AnritsuDevXTheme,
.dxPivotGrid_FLFilterAreaHeaders_AnritsuDevXTheme,
.dxPivotGrid_FLRowAreaHeaders_AnritsuDevXTheme,
.dxPivotGrid_FLStackedDefault_AnritsuDevXTheme,
.dxPivotGrid_FLStackedSideBySide_AnritsuDevXTheme,
.dxPivotGrid_FLTopPanelOnly_AnritsuDevXTheme,
.dxPivotGrid_pgCollapsedButton_AnritsuDevXTheme,
.dxPivotGrid_pgCustomizationFormCloseButton_AnritsuDevXTheme,
.dxPivotGrid_pgDataHeaders_AnritsuDevXTheme,
.dxPivotGrid_pgDragArrowDown_AnritsuDevXTheme,
.dxPivotGrid_pgDragArrowLeft_AnritsuDevXTheme,
.dxPivotGrid_pgDragArrowRight_AnritsuDevXTheme,
.dxPivotGrid_pgDragArrowUp_AnritsuDevXTheme,
.dxPivotGrid_pgDragHideField_AnritsuDevXTheme,
.dxPivotGrid_pgExpandedButton_AnritsuDevXTheme,
.dxPivotGrid_pgFilterButton_AnritsuDevXTheme,
.dxPivotGrid_pgFilterButtonActive_AnritsuDevXTheme,
.dxPivotGrid_pgFilterResizer_AnritsuDevXTheme,
.dxPivotGrid_pgGroupSeparator_AnritsuDevXTheme,
.dxPivotGrid_pgPrefilterButton_AnritsuDevXTheme,
.dxPivotGrid_pgSortByColumn_AnritsuDevXTheme,
.dxPivotGrid_pgSortDownButton_AnritsuDevXTheme,
.dxPivotGrid_pgSortUpButton_AnritsuDevXTheme
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxPivotGrid_CTNAttribute
{
    background-position: -68px -66px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNCalculatedMeasure
{
    background-position: -17px -66px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNDimension
{
    background-position: -68px -83px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderClosed
{
    background-position: -51px -100px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNFolderOpen
{
    background-position: 0px -83px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNHierarchy
{
    background-position: -17px -83px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNKpi
{
    background-position: -34px -66px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_CTNMeasure
{
    background-position: -34px -83px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLBottomPanelOnly1by4_AnritsuDevXTheme
{
    background-position: 0px -33px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLBottomPanelOnly2by2_AnritsuDevXTheme
{
    background-position: -33px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLButton_AnritsuDevXTheme
{
    background-position: 0px -100px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLColumnAreaHeaders_AnritsuDevXTheme
{
    background-position: -51px -66px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLDataAreaHeaders_AnritsuDevXTheme
{
    background-position: 0px -66px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFieldList_AnritsuDevXTheme
{
    background-position: -34px -100px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLFilterAreaHeaders_AnritsuDevXTheme
{
    background-position: -51px -83px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLRowAreaHeaders_AnritsuDevXTheme
{
    background-position: -17px -100px;
    width: 16px;
    height: 16px;
}
.dxPivotGrid_FLStackedDefault_AnritsuDevXTheme
{
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLStackedSideBySide_AnritsuDevXTheme
{
    background-position: -66px 0px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_FLTopPanelOnly_AnritsuDevXTheme
{
    background-position: -33px -33px;
    width: 32px;
    height: 32px;
}
.dxPivotGrid_pgCollapsedButton_AnritsuDevXTheme
{
    background-position: -46px -117px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgCustomizationFormCloseButton_AnritsuDevXTheme
{
    background-position: -68px -100px;
    width: 29px;
    height: 15px;
}
.dxPivotGrid_pgDataHeaders_AnritsuDevXTheme
{
    background-position: -60px -117px;
    width: 12px;
    height: 12px;
}
.dxPivotGrid_pgDragArrowDown_AnritsuDevXTheme
{
    background-position: -77px -56px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragArrowLeft_AnritsuDevXTheme
{
    background-position: -89px -33px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowRight_AnritsuDevXTheme
{
    background-position: -89px -54px;
    width: 9px;
    height: 11px;
}
.dxPivotGrid_pgDragArrowUp_AnritsuDevXTheme
{
    background-position: -73px -117px;
    width: 11px;
    height: 9px;
}
.dxPivotGrid_pgDragHideField_AnritsuDevXTheme
{
    background-position: -66px -33px;
    width: 22px;
    height: 22px;
}
.dxPivotGrid_pgExpandedButton_AnritsuDevXTheme
{
    background-position: -85px -83px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgFilterButton_AnritsuDevXTheme
{
    background-position: -16px -117px;
    width: 15px;
    height: 15px;
}
.dxPivotGrid_pgFilterButtonActive_AnritsuDevXTheme
{
    background-position: 0px -117px;
    width: 15px;
    height: 15px;
}
.dxPivotGrid_pgFilterResizer_AnritsuDevXTheme
{
    background-position: -32px -117px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgGroupSeparator_AnritsuDevXTheme
{
    background-position: -66px -58px;
    width: 5px;
    height: 1px;
}
.dxPivotGrid_pgPrefilterButton_AnritsuDevXTheme
{
    background-position: -85px -66px;
    width: 13px;
    height: 13px;
}
.dxPivotGrid_pgSortByColumn_AnritsuDevXTheme
{
    background-position: -85px -117px;
    width: 11px;
    height: 6px;
}
.dxPivotGrid_pgSortDownButton_AnritsuDevXTheme
{
    background-position: -69px -60px;
    width: 7px;
    height: 5px;
}
.dxPivotGrid_pgSortUpButton_AnritsuDevXTheme
{
    background-position: -89px -48px;
    width: 7px;
    height: 5px;
}
.dxPivotGrid_pgCustomizationFormCloseButton_AnritsuDevXTheme,
.dxPivotGrid_FLButton_AnritsuDevXTheme
{
    display:block;
}
