.dxpgControl_AnritsuDevXTheme, .dxpgCustForm_AnritsuDevXTheme
{
	color: #201f35;
	font: 11px Verdana, Geneva, sans-serif;
	border: 1px solid #9da0aa;
	background-color: white;
}
.dxpgContainerCell_AnritsuDevXTheme
{
	vertical-align: top;
}
.dxpgMainTable_AnritsuDevXTheme
{
	border-width: 0;
	border-collapse: separate;
	width: 100%;
	text-align: left;
}
div.dxpgMainTable_AnritsuDevXTheme
{
	-ms-touch-action: pinch-zoom;
}
.dxpgMainTable_AnritsuDevXTheme caption
{
	font-weight: normal;
	padding: 3px 3px 5px;
	text-align: center;
	background: #f2f3f4 url('TitleBack.png') repeat-x left top;
	color: #201f35;
	border-bottom: 1px solid #9da0aa;
}
.dxpgHeader_AnritsuDevXTheme
{
	border-width: 0;
	color: #201f35;
	background: #f2f3f4 url('HeaderBack.png') repeat-x left top;
	cursor: pointer;
	white-space: nowrap;
	text-align: left;
}
.dxpgHeaderTable_AnritsuDevXTheme
{
	border: 1px solid #9da0aa;
	width: 100%;
}
.dxpgMSDraggable .dxpgHeaderTable_AnritsuDevXTheme,
.dxpgCustFieldsDiv_AnritsuDevXTheme .dxpgHeaderTable_AnritsuDevXTheme
{
	-ms-touch-action: pinch-zoom;
}
.dxpgHeaderGroupButton_AnritsuDevXTheme
{
	padding-left: 4px;
	vertical-align: middle;
}
.dxpgHeaderText_AnritsuDevXTheme
{
    padding: 3px 6px;
}
.dxpgHeaderSort_AnritsuDevXTheme
{
	padding: 0 4px 0 0;
	vertical-align: middle;
}
.dxpgHeaderFilter_AnritsuDevXTheme
{
	padding: 2px 2px 2px 0;
	vertical-align: middle;
}
.dxpgHeaderHover_AnritsuDevXTheme
{
	background: #f8f8f9 url('HeaderHoverBack.png') repeat-x left top;
}
.dxpgArea_AnritsuDevXTheme, .dxpgArea_AnritsuDevXTheme table
{
	color: #201f35;
}
.dxpgArea_AnritsuDevXTheme
{
	border-width: 1px;
	border-color: #bfc0c9;
	border-style: none;
	background-color: #ebecef;
}
.dxpgColumnArea_AnritsuDevXTheme
{
	border-bottom-style: solid;
}
.dxpgRowArea_AnritsuDevXTheme
{
}
.dxpgDataArea_AnritsuDevXTheme
{
}
.dxpgFilterArea_AnritsuDevXTheme
{
	color: #201f35;
	background: #e1e2e7;
	border-bottom-style: solid;
}
.dxpgEmptyArea_AnritsuDevXTheme
{
	cursor: default;
	padding: 6px;
}
.dxpgColumnFieldValue_AnritsuDevXTheme
{
    color: #201f35;
	background: #f5f5f6;
	border: 1px solid #bfc0c9;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
	padding: 4px 6px;
	font-weight: normal;
	text-align: left;
}
.dxpgColumnTotalFieldValue_AnritsuDevXTheme
{
	background: #e7e5ed;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgColumnGrandTotalFieldValue_AnritsuDevXTheme
{
	background: #e7e5ed;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgRowFieldValue_AnritsuDevXTheme
{
    color: #201f35;
	background: #f5f5f6;
	border: 1px solid #bfc0c9;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	padding: 3px 6px;
	font-weight: normal;
	text-align: left;
}
.dxpgRowTotalFieldValue_AnritsuDevXTheme
{
	background: #e7e5ed;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
}
.dxpgRowTreeFieldValue_AnritsuDevXTheme
{	
	padding: 0;
	font-size: 0;
}
.dxpgRowGrandTotalFieldValue_AnritsuDevXTheme
{
	background: #e7e5ed;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	padding-top: 5px;
	padding-bottom: 5px;
}
.dxpgCollapsedButton_AnritsuDevXTheme
{
	vertical-align: -2px;
	border: 0;
	margin-right: 5px;
}
.dxpgSortByColumnImage_AnritsuDevXTheme
{
	vertical-align: -1px;
	border: 0;
	margin-left: 5px;
}
.dxpgCell_AnritsuDevXTheme 
{
	text-align: right;
	background-color: White;
	border-color: #d9dae0;
	border-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: none;
	border-right-style: none;
	padding: 3px 4px;
	white-space: nowrap;
}
.dxpgKPICell_AnritsuDevXTheme
{
	text-align: center;
	vertical-align: middle;
}
.dxpgTotalCell_AnritsuDevXTheme
{
	background-color: #faf9fb;
}
.dxpgGrandTotalCell_AnritsuDevXTheme
{
	background-color: #f1f4f9;
}
.dxpgFilterItem_AnritsuDevXTheme
{
    white-space: nowrap;
}
.dxpgFilterButton_AnritsuDevXTheme
{
	padding: 2px 6px;
}
.dxpgTopPager_AnritsuDevXTheme,
.dxpgBottomPager_AnritsuDevXTheme
{
    background: #f1f2f6 url('PagerBack.png') repeat-x left top;
    border-color: #9da0aa;
    border-style: solid;
}
.dxpgTopPager_AnritsuDevXTheme
{
    border-width: 0 0 1px 0;
}
.dxpgBottomPager_AnritsuDevXTheme
{
	border-width: 1px 0 0 0;
}
.dxpgTopPager_AnritsuDevXTheme,
.dxpgBottomPager_AnritsuDevXTheme
{
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
.dxpgCustomizationFieldsHeader_AnritsuDevXTheme
{
	color: #201f35;
}
.dxpgCustomizationFieldsContent_AnritsuDevXTheme
{
	padding: 0px !important;
}
.dxpgMenuItem_AnritsuDevXTheme
{
}
.dxpgDataHeadersImage_AnritsuDevXTheme
{
	margin-right: 5px;
	vertical-align: -2px;
}
.dxpgPrefilterPanelContainer_AnritsuDevXTheme
{
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
}
.dxpgPrefilterPanel_AnritsuDevXTheme
{
	border: none;
	background: #f9f9fc;
}
.dxpgPrefilterPanelLink_AnritsuDevXTheme
{
	color: #1b3f91;
	text-decoration: underline;
}
.dxpgPrefilterPanelCheckBoxCell_AnritsuDevXTheme
{
	padding: 0 3px;
	padding-right: 7px;
}
.dxpgPrefilterPanelImageCell_AnritsuDevXTheme
{
	padding: 0 3px;
	padding-right: 1px;
	cursor: pointer;
}
.dxpgPrefilterPanelExpressionCell_AnritsuDevXTheme
{
	padding: 5px 5px 8px 0;
	white-space: nowrap;
}
.dxpgPrefilterPanelClearButtonCell_AnritsuDevXTheme
{
	padding: 5px 6px 8px;
}
.dxpgFilterBuilderMainArea_AnritsuDevXTheme
{
	background: white;
	padding: 6px 2px;
} 
.dxpgFilterBuilderButtonArea_AnritsuDevXTheme
{
	background: #ebecef;
	border-top: 1px solid #abacb9;
	padding: 6px;
	white-space: nowrap;
}
.dxpgGroupSeparator_AnritsuDevXTheme
{
	vertical-align: middle;
}
.dxpgCustFieldsFilterAreaHeaders_AnritsuDevXTheme,
.dxpgCustFieldsRowAreaHeaders_AnritsuDevXTheme,
.dxpgCustFieldsColumnAreaHeaders_AnritsuDevXTheme,
.dxpgCustFieldsDataAreaHeaders_AnritsuDevXTheme,
.BottomPanelOnly1by4 .dxpgFLFRDiv_AnritsuDevXTheme,
.BottomPanelOnly1by4 .dxpgFLCDDiv_AnritsuDevXTheme
{
    width: 100%;
    height: 50%;
}
.StackedDefault .dxpgCustFieldsFieldList_AnritsuDevXTheme
{
    height: 33%;
}
.StackedDefault .dxpgFLFRDiv_AnritsuDevXTheme
{
    width: 50%;
    height: 66%;
    float: left;
}
.StackedDefault .dxpgFLCDDiv_AnritsuDevXTheme
{
    width: 50%;
    height: 66%;
    float: right;
}
.StackedDefault .dxpgCustFieldsFilterAreaHeaders_AnritsuDevXTheme .dxpgFLTextDiv_AnritsuDevXTheme,
.StackedDefault .dxpgCustFieldsColumnAreaHeaders_AnritsuDevXTheme .dxpgFLTextDiv_AnritsuDevXTheme
{
    height: 47px;
}
.TopPanelOnly .dxpgCustFieldsFieldList_AnritsuDevXTheme
{
    width: 100%;
    height: 100%;
}
.TopPanelOnly .dxpgFLDefereDiv_AnritsuDevXTheme .dxeBase_AnritsuDevXTheme,
.TopPanelOnly .dxpgFLDefereDiv_AnritsuDevXTheme .dxpgFLDefereDB_AnritsuDevXTheme,
.BottomPanelOnly1by4 .dxpgCustFieldsFieldList_AnritsuDevXTheme,
.TopPanelOnly .dxpgFLFRDiv_AnritsuDevXTheme,
.TopPanelOnly .dxpgFLCDDiv_AnritsuDevXTheme,
.BottomPanelOnly2by2 .dxpgCustFieldsFieldList_AnritsuDevXTheme,
.TopPanelOnly .dxpgFLTextDiv_AnritsuDevXTheme div
{
    display: none;
}
.TopPanelOnly .dxpgFLTextDiv_AnritsuDevXTheme
{
    height: 10px;
}
.TopPanelOnly .dxpgFLDefereDiv_AnritsuDevXTheme
{
    height: 16px;
}
.BottomPanelOnly2by2 .dxpgFLFRDiv_AnritsuDevXTheme,
.StackedSideBySide .dxpgCustFieldsFieldList_AnritsuDevXTheme
{
    width: 50%;
    height: 100%;
    float: left;
}
.BottomPanelOnly2by2 .dxpgFLCDDiv_AnritsuDevXTheme
{
    width: 50%;
    height: 100%;
    float: right;
}
.StackedSideBySide .dxpgFLFRDiv_AnritsuDevXTheme,
.StackedSideBySide .dxpgFLCDDiv_AnritsuDevXTheme
{
    width: 50%;
    height: 50%;
    float: right;
}
.dxpgCustFields_AnritsuDevXTheme
{
    display: block;
    position: relative;
}
.dxpgFLListDiv_AnritsuDevXTheme > div
{
    border: 1px solid #9da0aa;
    position: relative;
    display: block;
    height: 100%;
    padding: 1px;
    background: White;
    overflow: hidden;
}
.dxpgFLListDiv_AnritsuDevXTheme > div > div
{
    position: relative;
    display: block;
    height: 100%;
    padding: 0px;
    background: White;
    overflow-x: hidden;
    overflow-y: auto;
}
.DragOver .dxpgFLListDiv_AnritsuDevXTheme > div
{
    background: #ffd324;
}
.dxpgFLListDiv_AnritsuDevXTheme
{
    padding: 0px 3px;
}
.dxpgFLButtonDiv_AnritsuDevXTheme .dxbButton_AnritsuDevXTheme div.dxb
{
	border: 1px dotted transparent;
	padding: 1px 7px 0px;
}
.dxpgFLButtonDiv_AnritsuDevXTheme .dxbButton_AnritsuDevXTheme div.dxbf
{
	border: 1px dotted Black;
}
.dxpgFLTextDiv_AnritsuDevXTheme
{
    height: 28px;
}
.dxpgFLTextDiv_AnritsuDevXTheme div
{
   display: block;
   float: left;
   margin: -17px 0px 3px;
   left: 6px;
   top: 100%;
   position: relative;
}
.dxpgFLButtonDiv_AnritsuDevXTheme
{
    float: right;
    height: 28px;
    position:relative;
    z-index:1;
}
.dxpgFLDefereDiv_AnritsuDevXTheme
{
    height: 46px;
}
.dxpgCustFieldsDiv_AnritsuDevXTheme
{
     clear: both;
     padding: 0px 9px;
}
.dxpgFLButton_AnritsuDevXTheme
{
     margin: 7px 12px 0px 0px;
     width: 40px;
     height: 23px;
}
.dxpgFLDefereDiv_AnritsuDevXTheme .dxeBase_AnritsuDevXTheme
{
     float: left;
     display: block;
     border-collapse: separate;
     padding: 13px 0px 0px 0px;
     margin-left: 8px;
}
.dxpgFLDefereDB_AnritsuDevXTheme
{
    float: right;
    display: block;
    margin: 12px 12px 0 0;
}
.dxpgFLDefereDiv_AnritsuDevXTheme .dxbButton_AnritsuDevXTheme div.dxb
{
    padding: 1px 13px;
    border: 1px dotted transparent;
}
.dxpgFLDefereDiv_AnritsuDevXTheme .dxbButton_AnritsuDevXTheme div.dxbf
{
    border: 1px dotted Black;
}
.dxpgFLListDiv_AnritsuDevXTheme table
{
 width:100%;
 table-layout:fixed;  
 overflow:visible;
}
.dxpgFLListDiv_AnritsuDevXTheme table table td
{
     overflow:hidden; 
}
div.dxpgFLTextImgDiv_AnritsuDevXTheme
{
    display:block;
    height:16px;
    width:16px;
    margin:-18px 0px 3px 0px;
    left:3px;
}
/*Loading Panel*/
.dxpgLoadingPanel_AnritsuDevXTheme
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #201f35;
	background-color: White;
	border: 1px solid #9da0aa;
}
.dxpgLoadingPanel_AnritsuDevXTheme td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 7px 10px;
}
.dxpgLoadingPanel_AnritsuDevXTheme .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}

.dxpgVScrollBarAreaCell_AnritsuDevXTheme {
    background-color: #f5f5f6;
    border-left: 1px solid #bfc0c9;
    border-bottom: 1px solid #bfc0c9;
}
.dxpgHScrollBarAreaCell_AnritsuDevXTheme {
    background-color: #f5f5f6;
    border-top: 1px solid #bfc0c9;
    border-right: 1px solid #bfc0c9;
}
.dxpgScrollBarEdgeCell_AnritsuDevXTheme {
    background-color: #ebecef;
    border-left: 1px solid #bfc0c9;
    border-top: 1px solid #bfc0c9;
}
