.dxscControl_AnritsuDevXTheme
{
    background: #9da0aa;
    border: 1px solid #9da0aa;
    font: 11px Verdana, Geneva, sans-serif;
}
/*Loading Panel*/
.dxscLoadingPanel_AnritsuDevXTheme
{
	font: 11px Verdana, Geneva, sans-serif;
	color: #201f35;
	background-color: White;
	border: 1px solid #9da0aa;
}
.dxscLoadingPanel_AnritsuDevXTheme td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 7px 10px;
}
.dxscLoadingPanel_AnritsuDevXTheme .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}

/* Headers */
.dxscDateHeader_AnritsuDevXTheme, 
.dxscAlternateDateHeader_AnritsuDevXTheme,
.dxscDayHeader_AnritsuDevXTheme,
.dxscDateCellHeader_AnritsuDevXTheme,
.dxscTodayCellHeader_AnritsuDevXTheme,
.dxscTimelineDateHeader_AnritsuDevXTheme,
.dxscHorizontalResourceHeader_AnritsuDevXTheme,
.dxscVerticalResourceHeader_AnritsuDevXTheme
{
    color: #201f35;
    background: #f2f2f3;
    border: 1px solid #cacbd3;
    border-width: 0 1px 1px 0;
    padding: 4px;
    text-align: center;
    vertical-align: top;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
}

.dxscAlternateTimelineDateHeader_AnritsuDevXTheme,
.dxscAlternateDateHeader_AnritsuDevXTheme
{
    background: #ede5f9;
    color: #201f35;
}
.dxscDayHeader_AnritsuDevXTheme
{
    border-width: 1px 1px 0 0;
}
.dxscDateCellHeader_AnritsuDevXTheme
{
    border-width: 1px;
}
.dxscTodayCellHeader_AnritsuDevXTheme
{
    border-top-width: 1px;
    background: #e2eafd;
    color: #201f35;
}
.dxscTimelineDateHeader_AnritsuDevXTheme
{
    border-width: 1px 1px 1px 0;
}
.dxscHorizontalResourceHeader_AnritsuDevXTheme
{
    border-color: #cacbd3;
    border-width: 1px 1px 1px 0;
    background: #f2f2f3;
}
.dxscVerticalResourceHeader_AnritsuDevXTheme
{
    border-width: 1px 1px 0 0;
    border-top-color: #9da0aa;
    background: #f2f2f3;
    white-space: normal;
}
.dxscSelectionBar_AnritsuDevXTheme
{
    border-style: solid;
    border-width: 0 1px 0 0;
    height: 30px;
}

/* Corners */
.dxscLeftTopCorner_AnritsuDevXTheme, 
.dxscRightTopCorner_AnritsuDevXTheme
{
    background-color: #f2f2f3;
    width: 1px;
    border-style: solid;
    border-color: #9da0aa;
    border-width: 0 0 1px;
}
.dxscLeftTopCorner_AnritsuDevXTheme
{
    border-width: 1px 1px 1px 0;
    text-align: center;
    padding: 2px;
    overflow: hidden;
}

/* Separators */
.dxscGroupSeparatorVertical_AnritsuDevXTheme,
.dxscGroupSeparatorHorizontal_AnritsuDevXTheme
{
    background: #ebecef;
    border: 1px solid #9da0aa;
}
.dxscDayHdrsTbl .dxscGroupSeparatorVertical_AnritsuDevXTheme,
.dxscDayHdrsTbl .dxscGroupSeparatorHorizontal_AnritsuDevXTheme
{
    background: White;
    border-color: #9da0aa;
}
.dxscGroupSeparatorVertical_AnritsuDevXTheme
{
    width: 1px;
    border-width: 0 1px;
}
.dxscGroupSeparatorHorizontal_AnritsuDevXTheme
{
    height: 1px;
    border-width: 1px 0 0;
    font-size: 0;
}

/* Apts Area */
.dxscAllDayArea_AnritsuDevXTheme
{
    background-color: #ebecef;
    border: 1px solid #9da0aa;
    border-width: 0 1px 1px 0;
}
.dxscDateCellBody_AnritsuDevXTheme
{
    height: 100px;
    border: solid 1px;
    border-width: 0 1px 0 0;
}
.dxscTimeCellBody_AnritsuDevXTheme
{
    border: solid 1px;
}
.dxscTimelineCellBody_AnritsuDevXTheme
{
    height: 300px;
    border-style: solid;
    border-width: 1px 1px 0 0;
}

.dxscAppointment_AnritsuDevXTheme
{
    color: #201f35;
    border: 1px solid #9da0aa;
    padding: 0;
    margin: 0;
    cursor: default;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
}

.dxscAppointmentInnerBorders_AnritsuDevXTheme
{
    border: 1px solid #9da0aa;
    padding: 0px;
}
.dxscMoreButton_AnritsuDevXTheme
{
    color: #201f35;
    text-decoration: underline;
    padding: 0;	
}
.dxscAppointmentHorizontalSeparator_AnritsuDevXTheme
{
    height: 1px;
    width: 100%;
    overflow: hidden;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
/* Rulers */
.dxscTimeRulerHoursItem_AnritsuDevXTheme, 
.dxscTimeRulerMinuteItem_AnritsuDevXTheme
{
    color: #646464;
    background: White;
    border: 1px solid #a0a0a0;
    border-width: 0px 1px 1px 0;
    vertical-align: top;
    white-space: nowrap;
}
.dxscTimeRulerHoursItem_AnritsuDevXTheme
{
    border-right-width: 0;
    border-left-color: #9da0aa;
    text-align: right;
    width: 45px;
    padding: 4px 4px 4px;
}
.dxscTimeRulerMinuteItem_AnritsuDevXTheme
{
    border-left-width: 0px;
    text-align: center;
    width: 18px;
    font-size: 0.82em;
    padding: 4px;
    padding: 5px 1px 5px 1px;
}

.dxscTimeRulerHeaderHourItem_AnritsuDevXTheme
{
    width: 55px;
}
.dxscTimeRulerHeaderMinuteItem_AnritsuDevXTheme
{
    width: 16px;
}
.dxscScrollHeaderItem_AnritsuDevXTheme
{
    width: 16px;
}


/* Control elements */
.dxscToolbarContainer_AnritsuDevXTheme
{
    background: #f1f2f6 url('CssImages/ToolbarBack.png') left top repeat-x;
}
.dxscToolbar_AnritsuDevXTheme
{
    padding: 3px 0 3px 3px;
}
.dxscViewSelector_AnritsuDevXTheme
{
    background-color: transparent;
    padding: 0;
}
.dxscResourceNavigator_AnritsuDevXTheme
{
    background: White;
    padding: 3px 6px 3px 3px;
    border: 1px solid #9da0aa;
}
.dxscViewVisibleInterval_AnritsuDevXTheme
{
    color: #201f35;
    padding: 0 20px;
    white-space: nowrap;
}
.dxscInplaceEditor_AnritsuDevXTheme
{
    background: #ebecef;
    border: solid 3px black;
    padding: 0;
    color: #201f35;
}
.dxscErrorInfo_AnritsuDevXTheme
{
    background: #f1abab;
    color: #853a3a;
    padding: 10px;
    border: 1px solid #9da0aa;
    border-width: 1px 0;
}

/* Buttons */
.dxscViewNavigatorButton_AnritsuDevXTheme,
.dxscViewNavigatorGotoDateButton_AnritsuDevXTheme
{
    color: #1b3f91;
    background: transparent;
    border: none;
    line-height: 100%;
    padding: 0;

    min-height: 1em;
    display: block!important;
}
.dxscViewNavigatorButton_AnritsuDevXTheme span,
.dxscViewNavigatorGotoDateButton_AnritsuDevXTheme span
{
    padding: 0 10px;
}
.dxscViewNavigatorButtonHover_AnritsuDevXTheme span
{
    text-decoration: underline;
}
.dxscViewNavigatorButton_AnritsuDevXTheme.dxscViewNavigatorGotoTodayButton
{    
    padding: 5px 0;
}

.dxscViewSelectorButton_AnritsuDevXTheme
{
    color: #201f35;
    background: #f1f2f6 url('CssImages/ViewSelectorButtonBack.png') left top repeat-x;
    border: 1px solid #9da0aa;
    border-width: 0 0 0 1px;
    padding: 8px 18px;
}
.dxscViewSelectorButtonHover_AnritsuDevXTheme
{
    background: #f7f9fe url('CssImages/ViewSelectorButtonHoverBack.png') left top repeat-x;
    border-color: #9da0aa;
}
.dxscViewSelectorButtonChecked_AnritsuDevXTheme
{
    background: White;
    border-color: #9da0aa;
}
.dxscViewSelectorButtonPressed_AnritsuDevXTheme
{
    background: #f6f7f9 url('CssImages/ViewSelectorButtonPressedBack.png') left top repeat-x;
    border-color: #9da0aa;
}

.dxscViewSelector_AnritsuDevXTheme.dxscVSHorz,
.dxscViewSelector_AnritsuDevXTheme.dxscVSVert
{
    border-style: solid;
    border-color: #9da0aa;
    border-width: 1px 0 0 1px;
}
.dxscToolbar_AnritsuDevXTheme .dxscViewSelector_AnritsuDevXTheme
{
    border-width: 0;
}
.dxscVSHorz .dxscViewSelectorButton_AnritsuDevXTheme,
.dxscVSVert .dxscViewSelectorButton_AnritsuDevXTheme
{
    border-width: 0 1px 1px 0;
}
.dxscToolbar_AnritsuDevXTheme .dxscViewSelectorButton_AnritsuDevXTheme
{
    border-width: 0 0 0 1px;
}

.dxscResourceNavigatorButton_AnritsuDevXTheme
{
    background: none;
    cursor: pointer;
}
.dxscResourceNavigatorButtonHover_AnritsuDevXTheme
{
    background: none;
}
.dxscResourceNavigatorButtonPressed_AnritsuDevXTheme
{
    background: none;
}

.dxscNavigationButton_AnritsuDevXTheme
{
    background: none;
    cursor: pointer;
}
.dxscNavigationButtonHover_AnritsuDevXTheme
{
    background: none;
}
.dxscNavigationButtonPressed_AnritsuDevXTheme
{
    background: none;
}

.dxscSmartTagButton_AnritsuDevXTheme
{
    background: #f1f2f6 url('CssImages/ViewSelectorButtonBack.png') left top repeat-x;
    border: 1px solid #9da0aa;
    padding: 4px 5px;
    cursor: pointer;
}

.dxscDVBottomMoreButton_AnritsuDevXTheme,
.dxscDVTopMoreButton_AnritsuDevXTheme
{
    cursor: pointer;
}

.dxscNoBorderButton_AnritsuDevXTheme
{
    cursor: pointer;
    border: 1px solid #9da0aa;
}
.dxscNoBorderButtonHover_AnritsuDevXTheme
{
    background: #d4dffc;
    border-color: #9da0aa;
}
.dxscNoBorderButtonPressed_AnritsuDevXTheme
{
    background: #dddde2;
    border-color: #9da0aa;
}
.dxscControlAreaForm_AnritsuDevXTheme
{
    font-size: 1.45em;
    color: #201f35;
    white-space: normal;
    padding: 9px 12px 13px 12px;
    background-color: white;
}
.dxscToolTipRoundedCornersTopBottomRow_AnritsuDevXTheme
{
    font-size: 0;
}
.dxscToolTipRoundedCornersTopSide_AnritsuDevXTheme
{
    border-top: 1px solid Black;
    vertical-align: bottom; 
    height: 1px;
    background-color: #fafad2;
}
.dxscToolTipRoundedCornersLeftSide_AnritsuDevXTheme
{
    border-left: 1px solid Black;
    vertical-align: bottom;
    background-color: #fafad2;
}
.dxscToolTipRoundedCornersRightSide_AnritsuDevXTheme
{
    border-right: 1px solid Black;
    vertical-align: bottom; 
    background-color: #fafad2;
}
.dxscToolTipRoundedCornersBottomSide_AnritsuDevXTheme
{
    border-bottom: 1px solid Black;
    vertical-align: bottom;
    height: 1px;
    background-color: #fafad2;
}
.dxscToolTipRoundedCornersContent_AnritsuDevXTheme
{
    background-color: #fafad2;
    padding: 0;
}
.dxscToolTipSquaredCorners_AnritsuDevXTheme
{
    background: #f9f9cd;
    padding: 0;
    font-size: 0;
    color: #303030;
    white-space: nowrap;
    border: 1px solid Black;
}
.dxscTimeMarker_AnritsuDevXTheme
{
    top: -12px;
}
.dxscTimeMarkerLine_AnritsuDevXTheme
{
    top: -2px;
    height: 3px;
    font-size: 0;
}
.dxscTimeMarkerLineV_AnritsuDevXTheme
{
    position: absolute;
    background-color: White;
    border: 1px solid #9da0aa;
    width: 1px;
    font-size: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}
.dxscTimeMarkerLineH_AnritsuDevXTheme
{
    position: absolute;
    top: -2px;
    background-color: White;
    border: 1px solid #9da0aa;
    height: 1px;
    font-size: 0;
    border-left-width: 0;
    border-right-width: 0;
}
